<%-include('header');-%>
<main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span> <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">
                    それがどのように動作しますか？</h2>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    4つの簡単なステップ</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1.登録</h4>
                            <p class="step-description">最初の参照の後に戻りますあなたのアップラインを送る0.08 ETH、</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2.ログイン</h4>
                            <p class="step-description">1、パスワードなしのクリック（私たちは、秘密鍵を尋ねることはありません）</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3.誘致紹介</h4>
                            <p class="step-description">システム期待の紹介や紹介を誘致</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4.収入</h4>
                            <p class="step-description">確認または支払いを要求することなく、ETH財布ですぐに資金を受け取ります</p>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">詳細な動作</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0イーサリアム</h3>
                            <div>あなたは財布イーサリアムは、よくある質問イーサリアムでそれにようメートルを読んで持っていない場合</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1.購読します</h3>
                            <h4>１。１。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">お財布イーサリアムあなたのアップラインから0.08
                                ETHセンド。彼はこの金額を返却した後、最初のユーザーが来ました。
                                <br>
                                <br>これは、アドレススマート契約に0.08
                                ETHを送信し、必須フィールド「データ入力」にお財布のイーサリアムのアップラインの番号を入力します（そうでない場合は、スマート契約が移転を受け入れないと資金があなたと一緒に残ります）。あなたがMetaMaskを使用する場合、トランザクションは、クリック1で行われ、あなたのアップラインのアドレスは、「入力データ」フィールドに自動的に挿入されます。
                                <br>
                                <br>インテリジェント契約は即座にあなたのアップラインの最初の行（直接招待）に資金をリダイレクトすると、システム内の最初のレベルを割り当てます。成功したトランザクションは、システムと自分のアカウントに割り当てられた1レベル（以下レベルの詳細）に登録されます。ページ上のシンプルで明確なガイド。購読。
                            </div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                重要！資金を送り、そこから自分の財布のアドレスがCryptoHandsである場合は、昇順のラインを指定することはできませんが、単にスマート契約の方向に資金を移します。この場合、ラインはDoubleWayあるその上方最寄りCryptoHandsラインが、上向きです。彼らはCryptoHandsでのuplinesあったとしても、それは得オーバーフローするが、また後であなたよりも記録した他の文献だけではなく。
                            </div>
                            <h4 class="step-detail-subtitle">１。２。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">これらは、完全に第一基準後に返さ0.08 ETHであろう。</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2.ログイン</h3>
                            <h4>２。１。</h4>
                            <div class="step-detail-description">
                                お財布のイーサリアムの数だけ（パスワードなし）を入力することによって、またはMetaMaskで自分のアカウントにログインします。
                                <br>
                                <br>著作権侵害ということは何もしていないパスワードがないため、アカウントは、ハッキングすることはできません。アカウント上のアドレスを入力すると、この情報はウォレットチェーンブロックを撮影しイーサリアムを表示され、誰もがプロジェクトの管理など、アカウントをブロックすることはできません、と財布は別のものに変更することはできません。
                                <br>
                                <br>イーサリアムお財布は、地方分権のためにブロックすることはできません。これはcryptocurrencyの機能です。
                                <br>
                                <br><span style="color: red">私たちは、あなたの秘密鍵を入力するように依頼することはありません。</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3.誘致や待機紹介</h3>
                            <h4>３。１。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">レベル1を購入した後、あなたは個人的にこれらの参照は、1行目参照です2.招待することができます。</div>
                            <h4 style="margin-top:80px">３。２。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">
                                あなたは2つの参照を招待して、第三を招待している場合は、自動的にリストの上から順にご参考に送られますと、それらのそれぞれが2つの占有スペースを持っている場合、あなたはあなたの参照を参照するように指示されます。オーバーフロー行は包括的10まで実行します。詳細は、よくある質問しました。
                            </div>
                            <h4 style="margin-top:80px">3.3。無料紹介。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">無償の参照は、以前にシステムに記録されたもの上昇線から始まる、システム全体に均一に分布しています。</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4.収入</h3>
                            <h4>4.1。 （1つのレベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">第一の基準は、0.08
                                ETHを転送するシステムから招待または受信されます。そして、1行目の参考文献2は、合計で0.16 ETHを受け取ることができます。</div>
                            <h4 style="margin-top:80px">4.2。 （2レベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">
                                そして、第二のレベルを購入するので、あなたのアップラインアップライン（あなたのアップライン二行目）に、すべてのETH 0.16を転送します。
                                <br>第二以降のすべてのレベルは参照で満たされているすべてのスペースを待たずに、前のレベルの購入後すぐに購入することができます。下記の詳細な情報。
                                <br>あなたは二行目参照の彼らのアップラインのレベル2を購入するとリファレンス（参照または2行目）は、レベルを購入することができます。2.人4 0.16
                                ETHは彼を移して、あなたは、第二に0.64 ETHを持っています合計レベル。</div>
                            <h4 style="margin-top:80px">4.3。 （3つのレベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">第二のレベルを購入した後は、トランザクション0.32
                                ETH彼のアップラインの第三作る、第3回のレベルを購入することができます。
                                <br>今8つの参照3行目は、第三のレベルを購入することができます。合計で、2.64 ETH及び第三レベルであなたに転送することができます。</div>
                            <h4 style="margin-top:80px">4.4。 （4レベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">あなたは0.64 ETH彼のアップラインの4ラインを転送することにより、第四レベルを購入することができます。
                                16のリファレンス第四行は、ETH 0.64からそれぞれ転送することができます。そして、第四レベルであなたは、合計で10.24 ETHで転送することができます。</div>
                            <h4 style="margin-top:80px">4.5。 （5レベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">レベル5は、第5ラインのラインの上流に1.28
                                ETHで取引を購入することができます。その後、彼らのオンラインリファレンスの5STはレベル5を購入することができます。参考文献32のそれぞれは、ETH
                                1.28を送信します。合計では、ETH 40.96レベル5に転送することができます。</div>
                            <h4 style="margin-top:80px">4.6。 （レベル6）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">レベル6は2.56 ETHの移転によって、あなたのアップラインのライン6から購入することができます。
                                <br>レベル6第6ライン参照を購入した後第六レベルを購入することができます。 64人は、それらのそれぞれのためにあなたにETH
                                2.56を転送することができます。合計では、第六レベルでETH 163.84によって転送されます。</div>
                            <h4 style="margin-top:80px">4.7。 （7レベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">7レベルを購入するには、5.12 ETH彼のアップライン7RDを転送する必要があります。
                                7レベルを購入した後、第七行は第七レベルを購入することができます参照しています。 128人は、それらのそれぞれのためにあなたにETH
                                5.12を移動することができます。第七レベルの合計では、ETH 655.36で転送することができます。</div>
                            <h4 style="margin-top:80px">4.8。 （8レベル）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">最新の8レベルを購入するには、8行のその10.24 ETHのアップラインを転送する必要があります。
                                <br>8レベルを購入した後、あなたはETH 256あなたのオンラインリファレンス8日から10.24拡張アクセスすることができます。 8レベルでの合計では、ETH
                                2621.44を受け取ることができます。</div>
                            <h4 style="margin-top:80px">4.9総利益</h4>
                            <h5 style="margin-top:80px">月額4.9.1合計収益額。</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">厳密収入64日：3495.2 ETH。 64日間の純利益：3474.8 ETH。 （次へ：3500 ETH）。
                            </div>
                            <h5 style="margin-top:80px">月額4.9.2合計収益額。</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">厳密年収：20971.2 ETH。年間当たり当期純利益：20848.8 ETH。 （次に：20000
                                ETH）。<span style="color:#ff3b30">＊</span> <span style="color:#ffcc00">＊＊</span><span
                                    style="color:#4cd964">＊＊＊</span>
                                <br>
                                <br><span
                                    style="color:#ff3b30">＊</span>ETHのsuperprofits除く年間20,000の合計は、初年度に取得することはほぼ不可能である理論上可能な最大ゲインであり、受信の確率が0％に近づきます。
                                <br>
                                <br><span
                                    style="color:#ffcc00">＊＊</span>実際には、実質ベースでは、この量の半分は非常に現実的であるか、および受信の可能性も、初年度に100％になる傾向があります。
                                <br>
                                <br> <span style="color:#4cd964">＊＊＊</span>しかし、「リピート」機能、年間ETH
                                20,000能力（および非アクティブ参照のおかげで）でそれはDOUBLEWAYの各メンバーのために100％になる傾向があります。
                                <br>
                                <br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5.次は何ですか？毎月繰り返します。</h3>
                            <h4></h4>
                            <div class="step-detail-description">これは、自分で招待2つの参照+ 4つの参照セカンドライン+ 2つの参照三行目+ 8つの参照四行目など=
                                3つの参照上の構造を作成しており、既に約16以上ETHを受信しました今年、どのようなので？一度だけ、お金のために、それはそれですか？
                                <br>
                                <br>結局、お金はあなたに来て停止し、すべての収益構造を詳細に調べます。そしてレベルの繰り返し購入のコストはすでに受けている利益よりも桁違いに安価であり、そしてあなたは最初からすべてを繰り返した場合、再び受け取ることができます。そして、すでにそれが参照するので、他の誰を招待する必要はありませんがあります。従って、第1から始めて、再びすべてのレベルを買います。そのため、隔月、量はすべての時間を引き上げバック受け取ります。
                                <br>
                                <br>あなたが同じ行へのすべての参照のための「ゲートウェイ」になるのすべての参照は隔月NOレベルを買い戻しました。
                                <br>
                                <br>したがって、少数の人々は、その構造に大きなあなたの利益をご利用いただけます。
                                <br>
                                <br>仕事の原則は、パラグラフ4.10に似ています。
                                <br>
                                <br>各レベルは64日間続きます。各拡張レベルが同時にあります。各レベルは、事前に64日の2つの期間の最大のために購入することができます。あなたの基準レベルが連続して2回を買った場合は、このすべてのお金を得ます。すべてのレベルからのデータは、都合個人アカウントで提示します。
                            </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6.誘致や待機呼ば</h3>
                            <div class="step-detail-description">
                                あなたは、お金ごとに2ヶ月を受け取ることになります大きな構造を構築する場合にのみ、収益を増やし、参照が非アクティブになった場合、サイトは、プロジェクトをサポートするために失敗することはありません近いもしくは投与あればしない場合、どのような保証は受け？
                            </div>
                            <h4 style="margin-top:80px">6.1。イーサリアムあなたの財布がブロックされないことを保証します。..</h4>
                            <div class="step-detail-description">イーサリアム財布をブロックすることによりblockchainの特性に定義によっては不可能です。
                                <br>
                                <br>コインの逆：あなたはあなたの財布のコントロールを失った場合、どれも返さないものとします。
                                <br>
                                <br><span style="color:#ff3b30">私たちは、あなたの秘密鍵を入力するように依頼することはありません。</span></div>
                            <h4 style="margin-top:80px">6.2。 NOシステムでアカウントがブロックまたはハッキングされていることを保証します。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">
                                ブロックやハイジャックアカウントが定義によっても不可能です。あなたのアカウントは、ウェブサイトおよびサーバーではありませんが、スマート契約イーサリアムでメインネットワーク。インテリジェントな契約を開発者を含む誰もが、それを変更、それを修正するか、理論的にはそれを削除することができないことをこれが意味。
                                <br>
                                <br>サイトの情報は、パスワードなしのアカウントで利用可能で、公共の統計インテリジェントイーサリアム契約からサイト上にロードされました。</div>
                            <h4 style="margin-top:80px">6.3。サイトの終了と管理の消失から保護される保証。</h4>
                            <h5 style="margin-top:80px">６。３。１。</h5>
                            <div class="step-detail-description">
                                繰り返しその引き出しの参照が増加し、その利益のそれぞれは、（ノート4.9で上記の例を参照）以来、スマートは、契約とアカウントがサイトから自律的に存在し、さらには近いサイトでは、システムに変更を加えることはできません。
                            </div>
                            <h5 style="margin-top:80px">６。３。２。</h5>
                            <div class="step-detail-description">世界のどのプログラマーが同じスマート契約のミラーサイトを作ることができます。</div>
                            <h5 style="margin-top:80px">６。３。３。</h5>
                            <div class="step-detail-description">
                                グループリーダー（あなたのアップラインとその中の参考文献の両方）は、特定のコンピュータのためのサイトを作成することができます。
                                <br>
                                <br>各メンバーであっても、この点に対する保護されています。すべては始まったばかりながら、今参加！））</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>