<%-include('header');-%><main class="nk-pages">
    <section class="sectionbg-themebg-theme-darktc-light" id="faqs"
        style="overflow:hidden;background:#2a2a2a url(images/dark/bg_faqeth.svg)centercenterrepeat;background-size:contain;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">
                    イーサリアムについてのよくある質問</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">私たちは、あなたがイーサリアムの操作に関する質問を有することができる知っています。
                </p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">一般的な質問</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            イーサリアム、なぜそれがシステムに正確に使用されているとは何ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>イーサリアム：cryptocurrencyの人気により、第2のビットコインと、第1、人気順、インテリジェントな契約です。<br><br>このプロジェクトは、インテリジェントイーサリアム契約を特長：<br><br>1）お札入れのイーサリアムはブロックされたりしても、理論的に魅惑することはできません。<br><br>2）システムをCRYPTOHANDS：コードがメインイーサリアムネットワークにロード。これは、そのネットワーク上の削除または変更することはできません。それはあなたのアカウントとCRYPTOHANDSシステムにも理論的には、ハッキングまたはブロックできないことを意味します。<br><br>3）コードが完全に開いており、世界のあらゆるプログラマはアルゴリズムがこのように動作していないそうでないことを確認することができます。<br><br>4）すべての取引は、公開と自動的に受け入れられています。資金はあなたが確認または要求支払いする必要はありませんので、お財布に直接アクセスしてください。人的要因が完全に排除されます。<br><br>5）サイトはCRYPTOHANDSと管理が消滅存在しなくなった場合でも、インテリジェントCRYPTOHANDS契約イーサリアムネットワークが存在し続け、そして同じシステムが作業を継続することをその意味します。この場合であっても、すべてのアカウントと支払いが正常に機能し続けます。世界のどのプログラマーは、システム全体だけでなく、特定のグループが同じスマート契約のミラーサイトを作ることができます。<br><br>6）あなたはすべてのウェブサイトせずに参照を招待することができます。参照を登録するには、あなたのアップラインのアドレスを入力してスマート契約0.05
                                                    ETHと「入力データ」フィールドのアドレスに送信する必要があります。<br><br>7）イーサリアムcryptocurrencieあなたは、インテリジェントな契約を通じて、当事者間で直接、地方分権や転送を保存、リピート機能を使用することができます。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">イーサリアムウォレットを作成し、それを使用して起動する方法？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>イーサリアムポートフォリオ：それは、第1、二つのこと：<br><br>1）あなたの公開鍵は -
                                                    正確にイーサリアム財布の数です。それを隠すする必要はありません。<br><br>2）あなたの秘密鍵 -
                                                    通常のパスワードのアナログ。あなたのスタッフがあります。財布のコントロールを失う秘密鍵手段の喪失。誰かが自分の秘密鍵を没収した場合、彼は自分のお金を没収し、あなたは別の秘密鍵にそれを変更することはできません。私たちは、秘密鍵を尋ねることはありません<br><br>いくつかの財布イーサリアムがあります。機能と最も人気のある、それらのそれぞれが詳述されている使用するのは簡単。
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1）Natnask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>プラグイン
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">推奨</b></p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>CryptoHandsとの完全な統合。登録と1回のクリックですべてのレベルの追加購入は、すべての追加のフィールドが自動的に入力されます。
                                                                    </p>
                                                                    <p><i
                                                                            class="fas fa-key faqeth_adv_icon_i"></i>それはあなたが手段があなたの財布イーサリアムを完全に制御を維持する秘密キーをエクスポートおよびインポートできます。
                                                                    </p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>便利で使いやすいです。これは、ブラウザのための補足最も人気の財布と安全です。あなたは、すべてのアクセスの詳細を残して、いつでもブラウザからそれを無効にするか、削除することができます。
                                                                    </p>
                                                                    <p style="text-align: center;">詳細に<a href="."
                                                                            target="_blank">MetaMaskについてのよくある質問</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2）信頼財布</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>モバイルアプリケーション</span></b>
                                                        </p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">推薦します</b> </p>
                                                            <p><i
                                                                    class="fas fa-handshake faqeth_adv_icon_i"></i>構築されたDappsブラウザからCryptoHandsとの完全な統合。
                                                            </p>
                                                            <p> <i
                                                                    class="fas fa-th-large faqeth_adv_icon_i"></i>1回のクリックでブラウザを内蔵しており、登録すべての購入へのリンクDapps参照意志以降のレベルを貼り付けます。
                                                            </p>
                                                            <p><i
                                                                    class="fas fa-key faqeth_adv_icon_i"></i>それはあなたがプライベートキーをインポートすることができます。すでにイーサリアムの財布を持っている場合は、モバイルアプリケーションを使用することができます。
                                                            </p>
                                                            <p><i
                                                                    class="fas fa-mobile-alt faqeth_adv_icon_i"></i>アプリケーションは使いやすく、直感的なインターフェイスを持っています。
                                                            </p>
                                                            <p style="text-align: center;">詳細に<a href=""
                                                                    target="_blank">よくあるご質問トラスト財布</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3）MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>ウェブ版</span></b>
                                                        </p>
                                                        <p> <i
                                                                class="fas fa-globe faqeth_adv_icon_i"></i>アドオンやアプリケーションをインストールする必要はありません。すべてのトランザクションはMyEtherWalletサイトから直接作られています。
                                                        </p>
                                                        <p> <i
                                                                class="fas fa-edit faqeth_adv_icon_i"></i>すべての追加の一般的なフィールドと手動でいっぱい。上級ユーザー向けのみ。
                                                        </p>
                                                        <p>詳細に<a href="" target="_blank">MyEtherWalletについてのよくある質問</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span
                                                            style="color:#ff3b30">重要！</span>あなたがサービスでイーサリアム財布を登録している場合、あなたは常にお互いにそれを使用し続けることができます。例えば、MetaMaskを通じてイーサリアムを記録した場合、あなたは逆にMyEtherWalletとを通じて同じ財布を継続して使用することができます。すべてのあなたが必要とする：あなたの秘密鍵を。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">お財布のイーサリアムに資金を供給するためにどのように？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>共有サービス（推奨）を介して：<br>1）サイトbestchange.comに移動します。これは、決済システムとほとんどの国で最も人気の銀行の有利な為替レートを使用してテストモニタリング交換器です。<br>2）あなたはイーサリアムのために交換したい、それを通して適切な決済システムを選択します。<br>3）最高のレートで右の交換を選択してください。<br>4）選択された交換器のサイトに移動して、簡単な指示に従ってください。交換は、通常は自動的に行われると瞬時に確認されました。<br>5）あなたの財布イーサリアムに資金を受けていることを確認してください。<br><br>注意事項：<br>銀行カード交換で支払う初めてのカードの検証を要求することができます。通常は、ページ交換の下部にあるカードの画像です。それ以降の支払いは、瞬間的になります。<br>あなたが交換のサイトであなたのカードを確認したくない場合は、最初に（ない熱交換器を通るが、決済システム自体に）あなたの銀行カードからのインスタント支払いの別のシステムのアカウントを再充電し、その後にこれらの資金を送ることができます別の決済システムの検証とイーサリアム財布。<br><br>LocalEthereumサービスを通じて：<br>1）localethereum.comに移動します。これは、ショッピングサービスです<br>すべての決済システムを通じてイーサリアムおよび販売。<br>2）登録。それは高速です。<br>3）あなたの国のための適切な交換を選択してください。<br>4）単純なサービスに従ってください。<br>5）あなたは、あなたの中で資金を受けていることを確認します<br>イーサリアム財布。
                                                </p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">財布イーサリアム他の決済システムから資金を引き出す方法？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>イーサリアムの撤退は、あなただけの方向と逆の交換を選択する必要があり、再充電と同じです。<br>注意してください。
                                                    bestchange.comサービスが人気の銀行にとっても、瞬時にして自動的に、任意の量の銀行カードを削除するのに十分です。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">「ガス価格」（Gwei）と「ガスの制限」、「ガス」とは何ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>気体（ガス） -
                                                    これは、計算ユニットは、アクションまたは特定のトランザクションのための料金を計算し、支払うために使用されます。<br><br>ガソリン価格（Gwei）
                                                    -
                                                    鉱山労働者は、計算のために支払う必要があります価格。基本的な原理は同じまま：あなたはより多くを支払う、トランザクションが速くなります。ガソリンの現在の価格はここで見つけることができます：https://etherscan.io/gastracker。<br><br>あなたは小さなガソリン価格を入れた場合、トランザクションは、ネットワークへの負荷イーサリアムまで低下します。これは、数時間かかることができます。<br><br>ガスの制限
                                                    - トランザクションのために支払うことができるガスの最大量。一部のアプリケーションではガス=
                                                    400000の推奨制限値は、デフォルト値のリミットガス=
                                                    1,000,000。これは、あなたがより多くのトランザクションごとに課金されますという意味ではありません。オフィスは、どのような場合には、彼らが再びバランス未使用。<br><br>あなたがガスの小さな上限を設定した場合、トランザクションと資金がバランスに戻っていますが、まだ課金されます。この場合の手数料の一部ではありません。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">なぜあなたは、トランザクションを保留していますか？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>最も可能性が高い理由：ガス（Gwei）の低価格。ガスの現在の価格はここで見つけることができます：https://etherscan.io/gastracker
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">なぜトランザクションを拒否？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>最も可能性の高い原因は、ガスの限界の小さな値です。私たちは40万のガスの上限を設定することをお勧めします。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">なぜenviarl取引「資金不足」が表示され、資金は余裕をもって十分ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>いくつかの財布イーサリアムは、例えば、信託の財布は、デフォルトで制限ガス1000000を設定します。これは、あなたがより頂戴いたし財布で予約がなければならないことは、この手段を意味するものではありませんことを覚えておいてください。
                                                    400000には、この量を減らすようにしてください。<br><br>もし、すべての後に、まだ十分な資金があることを書き込み、その後、おそらく、ネットワークイーサリアム通常より貨物、例えば、20または40
                                                    Gwei Gwei（正常値は5
                                                    Gweiあります）。このケースでは、ネットワークの負荷を減らすことを期待することができます。あなたは、（一部の）ガスの価格を自分で減らすことができますが、その後の取引は数時間ではなく、数秒まで、時間がかかります。トランザクションを作るのに十分だったので、また、お財布にいくつかの資金を追加することができます。<br><br>全体の制限が排ガスである場合、トランザクション中に書かれたと推定手数料は王立委員会ではないことに注意してくださいが、その可能な最大値下さい。実際の取引レートは非常に低くなります。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>