<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    利用規約</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            利用規約 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            一般的な <br>
                            <br>
                            HUMANS FOR HUMANSによって作成されたDOUBLEHANDSプロジェクト。 <br>
                            <br>
                            誰によって？ <br>
                            あなたが完全に知っているプロジェクトをすでに作成し、非常に成功している人々によって。 大昔に億万長者になった人々によって。 人のために何かをすることを夢見た人間のために。
                            過去の経験から最高のものをすべて集める良いもの。 ブロックまたは破壊されないもの。 各参加者に富と豊かさを与える何か。 一度だけではなく、長年にわたって。
                            そして、暗号通貨の出現により、その機会がついに現れました。 <br>
                            <br>
                            誰のため？ <br>
                            何かをする人のために。 長い間豊富に住んでいて、さらにもっと欲しい人のために。 そして、物質的な幸福で人生の道をちょうど始めたばかりの人々のために。 大切な人と何か良いものを共有したい人のために。 進歩して止まらない人々のために。 米国のために <br>
                            <br>
                            これはどのプロジェクトですか？ <br>
                            DOUBLEHANDSプロジェクト：誰にも属さないスマートアカウント。 これがイーサリアム暗号通貨の特異性です。 スマートコントラクト：これは暗号通貨配布アルゴリズムであり、イーサリアムネットワークにアップロードされた後は、編集、変更、削除できなくなります。 <br>
                            <br>
                            DOUBLEHANDS smartcontractはイーサリアム暗号通貨ネットワークにアップロードされ、理論上は、作成者を含めて誰も変更または削除できません。 したがって、サイトが閉じられて管理が消えた場合でも、誰もシステムの作業を停止することはできません。 DOUBLEHADSシステムは誰にも属しておらず、サイトに関係なく機能します。 <br>
                            <br>
                            各参加者のアカウントはスマートコントラクトにありますが、サイトにはないため、サイト管理者はアカウントをブロックまたは削除できません。 アカウントのDOUBLEHANDS Webサイト（パスワードなし）には、Ethereumスマートコントラクトから取得した各アカウントの情報のみが表示されます。 したがって、アカウントをハックしてメンバーのウォレットを変更することはできません。 <br>
                            <br>
                            このシステムの作成者は、特別な権限なしで各メンバーとまったく同じアカウントを持っています。 このプロジェクトの作者は、金融の分野だけでなく、他の多くの分野でも、インターネットからさまざまなプロジェクトや収入を生み出そうとしています。 したがって、DOUBLEHANDSは、その作成者が喜びに参加するプロジェクトです。 そのため、プロジェクトは他の多くの人々と同じようになります。 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            責任の否認 <br>
                            <br>
                            サイトの管理はDOUBLEHANDSプロジェクトの所有物ではなく、参加者からお金を引き出す技術的な能力はありません。 <br>
                            <br>
                            すべての計算は、スマート契約を通じて参加者間で直接行われます。 <br>
                            <br>
                            誰にも属さないスマート契約は、参加者の資金を蓄積しませんが、事前に作成されたアルゴリズムに従って参加者間で即座に資金をリダイレクトします。 <br>
                            <br>
                            DOUBLEHANDSサイトの管理者は、システムの参加者による資金の損失について、スマートコントラクトの操作、コードのエラーおよびスマートコントラクトの作業について責任を負いません。 <br>
                            <br>
                            サイト上の「利益」、「収入」、および同様の定義は、本質的に広告であり、公募ではありません。 <br>
                            <br>
                            すべての送迎は任意で無料です。 <br>
                            <br>
                            DOUBLEHANDSサイトはプロジェクトではありませんが、DOUBLEHANDSスマートコントラクトから取得した公開情報のみを表示します。これは、DOUBLEHANDSサイトの管理には関係ありません。 <br>
                            <br>
                            サイト上の参加者の個人アカウントは、パスワードなしで誰でもアクセスでき、システムの参加者に関する個人情報を保持しないでください。 個人アカウントには、DOUBLEHANDSスマートコントラクトから取得したシステムの各参加者の統計が表示されます。 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            お問い合わせ先 <br>
                            <br>
                            システムに関する質問、および電子メールで質問できる規則と契約 @doublehnads.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>