<%- include('header'); -%>
<main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line">
                    <span class="line-1"></span><span class="line-2"></span><span class="line-3"></span><span
                        class="line-4"></span>
                    <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span><span
                        class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">¿Cómo
                    funciona?</h2>

            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    Cuatro sencillos pasos</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int">
                                <img class="step-img" src="images/dark/step_1.svg" alt="">
                            </div>
                            <h4 class="step-title">1. Registro</h4>
                            <p class="step-description">Envíe 0.08 ETH a su línea ascendente, que regresará
                                después de la primera referencia</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int">
                                <img class="step-img" src="images/dark/step_2.svg" alt="">
                            </div>
                            <h4 class="step-title">2. Iniciar sesión</h4>
                            <p class="step-description">En 1, haga clic sin contraseña (nunca pedimos claves
                                privadas)</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int">
                                <img class="step-img" src="images/dark/step_3.svg" alt="">
                            </div>
                            <h4 class="step-title">3. Atraer Referidos</h4>
                            <p class="step-description">Atraer referencias o esperar referencias del sistema</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last">
                                <img class="step-img" src="images/dark/step_4.svg" alt="">
                            </div>
                            <h4 class="step-title">4. Ingresos</h4>
                            <p class="step-description">Reciba fondos de inmediato en la billetera ETH sin
                                confirmación ni solicitudes de pago</p>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->

                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">Funcionamiento detallado</h2>


                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_0.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>0. Ethereum</h3>

                            <div>Si no tiene una billetera de Ethereum, lea m[as sobre ella en Preguntas
                                frecuentes sobre Ethereum</div>
                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_1.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>1. Suscríbete</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/1_1.svg" alt="">
                            </div>
                            <div class="step-detail-description">Envíe 0.08 ETH desde su billetera Ethereum a su
                                línea ascendente. Y el primer
                                usuario vino después de que le devolviera esta cantidad. <br><br>
                                Para eso envíe 0.08 ETH al dirección de contrato inteligente e ingrese un número
                                de su billetera Ethereum de línea ascendente en el campo OBLIGATORIO "Ingresar
                                DATOS" (de lo contrario, el contrato inteligente no aceptará la transferencia y
                                los fondos permanecerán con usted). Si usa MetaMask, la transacción se realiza
                                con un clic 1 y la dirección de su línea ascendente se insertará en el campo
                                "DATOS de entrada" AUTOMÁTICAMENTE.<br><br>
                                El contrato inteligente redirige instantáneamente los fondos a su línea
                                ascendente de primera línea (su invitador directo) y le asigna el primer nivel
                                en el sistema. Una transacción exitosa lo registrará en el Sistema y le asignará
                                el nivel 1st a Su cuenta (más detalles sobre los niveles a continuación).
                                Guía simple y clara en la página. Suscríbete.</div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                ¡Importante! Si la dirección de su billetera desde la cual envía fondos está en
                                CryptoHands, entonces no puede especificar la línea ascendente, sino simplemente
                                transferir los fondos a la dirección del contrato inteligente. En este caso, su
                                línea ascendente es su línea ascendente más cercana a CryptoHands, que es
                                DoubleWay. No solo obtiene desbordamientos, sino también otras referencias que
                                se registraron más tarde que usted, incluso si fueran sus líneas ascendentes en
                                CryptoHands.
                            </div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/1_2.svg" alt="">
                            </div>
                            <div class="step-detail-description">
                                Estos 0.08 ETH le serán devueltos completamente después de la primera
                                referencia.

                            </div>
                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_2.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>2. Iniciar sesión</h3>
                            <h4>2.1.</h4>

                            <div class="step-detail-description">Ingresa a tu cuenta, ingresando solo el número
                                de su billetera Ethereum (sin contraseña), o mediante MetaMask. <br><br>
                                La cuenta no puede ser pirateada, porque no hay nada que piratear y no hay
                                contraseña. Cuando ingrese la dirección en su cuenta, la información de esta
                                billetera se tomará de la cadena de bloques Ethereum y se mostrará,
                                Nadie puede bloquear la cuenta, incluida la administración del proyecto, y la
                                billetera no se puede cambiar a otra.<br><br>
                                Su billetera Ethereum tampoco se puede bloquear debido a la descentralización.
                                Esta es una característica de la criptomoneda.<br><br>
                                <span style="color: red"> Nunca le pedimos que ingrese sus claves
                                    privadas.</span></div>

                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_3.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>3. Atraer o esperar referidos</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/3_1.svg" alt="">
                            </div>
                            <div class="step-detail-description">Después de comprar el Nivel 1, puede invitar
                                personalmente a las referencias de 2. Estas son sus referencias de línea 1st.
                            </div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/3_2.svg" alt="">
                            </div>
                            <div class="step-detail-description">Si ha invitado a 2 referencias y luego invitó a
                                la 3ª, se lo dirigirá automáticamente a sus referencias en orden desde el
                                primero de la lista y si cada una de ellas tiene los 2 espacios ocupados, se lo
                                dirigirá a la referencia de su referencia. Los desbordamientos funcionan hasta
                                10 líneas inclusive. Detalles en preguntas frecuentes.
                            </div>
                            <h4 style="margin-top:80px">3.3. Referencias gratis.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/3_3.svg" alt="">
                            </div>
                            <div class="step-detail-description">Las referencias gratuitas se distribuyen de
                                manera uniforme en todo el Sistema, y ​​comenzando con esas líneas ascendentes,
                                que anteriormente se registraron en el Sistema.
                            </div>
                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_4.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>4. Ingresos</h3>
                            <h4>4.1. (1 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_1.svg" alt="">
                            </div>
                            <div class="step-detail-description">La primera referencia que haya invitado o
                                recibido del Sistema le transfiere 0.08 ETH. Y de las referencias 2 de la línea
                                1st puede recibir 0.16 ETH en total.
                            </div>

                            <h4 style="margin-top:80px">4.2. (2 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_2.svg" alt="">
                            </div>
                            <div class="step-detail-description">Luego transfiere todo 0.16 ETH a la línea
                                ascendente de su línea ascendente (a su línea ascendente de segunda línea),
                                comprando así el nivel 2nd.<br>
                                El segundo y todos los niveles siguientes se pueden comprar inmediatamente
                                después de la compra del nivel anterior, sin esperar a que se llenen todos los
                                espacios con referencias. Más información a continuación.<br>
                                Cuando adquiere el nivel 2 de su línea ascendente de la segunda línea, las
                                referencias de sus referencias (o sus referencias de la línea 2nd) pueden
                                comprarle el nivel 2. Las personas de 4 le transfirieron 0.16 ETH y usted tiene
                                0.64 ETH en el segundo nivel como total.
                            </div>

                            <h4 style="margin-top:80px">4.3. (3 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_3.svg" alt="">
                            </div>
                            <div class="step-detail-description">Después de la compra del segundo nivel Puede
                                comprar el nivel 3th, haciendo una transacción de 0.32 ETH a su línea ascendente
                                3rd.<br>
                                Ahora las referencias 8 de la línea 3rd pueden comprarle el nivel 3rd. En total,
                                2.64 ETH ya puede transferirse a usted en el nivel 3rd.
                            </div>

                            <h4 style="margin-top:80px">4.4. (4 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_4.svg" alt="">
                            </div>
                            <div class="step-detail-description">Puede comprar el nivel 4th haciendo una
                                transferencia 0.64 ETH a su línea ascendente 4th line.
                                Las referencias de 16 de la línea 4th pueden hacer que te transfieran 0.64 ETH
                                desde cada una de ellas. Y ya en el nivel 4th puedes ser transferido por 10.24
                                ETH en total.
                            </div>

                            <h4 style="margin-top:80px">4.5. (5 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_5.svg" alt="">
                            </div>
                            <div class="step-detail-description">Puede comprar el nivel 5 haciendo una
                                transacción de 1.28 ETH a su línea ascendente de la 5ª línea.
                                Después de eso, sus referencias de línea 5st pueden comprarle el nivel 5th. Cada
                                una de las referencias de 32 le envía 1.28 ETH. En total, puede ser transferido
                                para 40.96 ETH en el nivel 5th.
                            </div>

                            <h4 style="margin-top:80px">4.6. (6 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_6.svg" alt="">
                            </div>
                            <div class="step-detail-description">El nivel 6 se puede comprar desde su línea
                                ascendente de la línea 6 haciendo una transferencia de 2.56 ETH. <br>
                                Después de comprar el 6to nivel, sus referencias de 6ta línea pueden comprarle
                                un 6to nivel. 64 personas pueden transferir a usted 2.56 ETH por cada uno de
                                ellos. En total, serás transferido por 163.84 ETH en el sexto nivel.
                            </div>

                            <h4 style="margin-top:80px">4.7. (7 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_7.svg" alt="">
                            </div>
                            <div class="step-detail-description">Para comprar el nivel 7th, debe transferir 5.12
                                ETH a su línea ascendente 7rd.
                                Después de comprar el 7 ° nivel, las referencias de la 7 ° línea pueden
                                comprarle el 7 ° nivel. 128 personas pueden transferirte 5.12 ETH por cada uno
                                de ellos. En total en el 7º nivel, puedes ser transferido por 655.36 ETH.
                            </div>

                            <h4 style="margin-top:80px">4.8. (8 nivel)</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_8.svg" alt="">
                            </div>
                            <div class="step-detail-description">Para comprar el último nivel 8th, debe realizar
                                una transferencia de 10.24 ETH a su línea ascendente de la línea 8th.<br>
                                Después de la compra del nivel 8th Se puede acceder a las extensiones de 10.24
                                ETH desde 256 Sus referencias de la línea 8th. En total en el nivel 8th puedes
                                recibir 2621.44 ETH.
                            </div>

                            <h4 style="margin-top:80px">4.9 Ganancias totales</h4>
                            <h5 style="margin-top:80px">4.9.1 Ganancias totales por mes.</h5>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_9_1.svg" alt="">
                            </div>
                            <div class="step-detail-description">Estrictamente ingreso por 64 días: 3495.2
                                ETH.
                                Beneficio neto por 64 días: 3474.8 ETH. (Siguiente: 3500 ETH).
                            </div>
                            <h5 style="margin-top:80px">4.9.2 Ganancias totales por mes.</h5>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/4_9_2.svg" alt="">
                            </div>
                            <div class="step-detail-description">Estrictamente ingreso anual: 20971.2 ETH.
                                Beneficio neto por año: 20848.8 ETH. (Siguiente: 20000 ETH). <span
                                    style="color:#ff3b30">*</span> <span style="color:#ffcc00">**</span>
                                <span style="color:#4cd964">***</span> <br><br>

                                <span style="color:#ff3b30">*</span> La suma de 20,000 ETH por año
                                excluyendo las superganancias es la ganancia
                                teórica máxima posible, que es casi imposible de obtener en el primer año, y
                                la probabilidad de su recepción tiende a 0%.<br><br>

                                <span style="color:#ffcc00">**</span> En la práctica, en condiciones reales,
                                hacer la MITAD de esta cantidad es
                                bastante realista, y la probabilidad de recibirlo tiende al 100% incluso en
                                el primer año.<br><br>

                                <span style="color:#4cd964">***</span> Pero con la función "REPETIR", la
                                capacidad de hacer 20,000 ETH por año
                                (y más, gracias a referencias inactivas) tiende al 100% para CADA miembro de
                                DOUBLEWAY.<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_5.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>5. ¿Que sigue? Repite todos los meses.</h3>
                            <h4></h4>

                            <div class="step-detail-description">
                                Ha creado una estructura de 2 referencias invitadas por usted mismo + 4
                                referencias de la segunda línea + 2 referencias de la tercera línea + 8
                                referencias de la cuarta línea y así sucesivamente = 3 referencias, y ya ha
                                recibido más de 16 ETH en aproximadamente un año , ¿y que? ¿Solo una vez para
                                obtener el dinero y eso es todo?<br><br>
                                Con el tiempo, el dinero deja de llegar a usted
                                y todas las ganancias se adentran en la estructura. Y el costo de las compras
                                repetidas de niveles es incomparablemente más barato que las ganancias que ya ha
                                recibido, y que puede recibir nuevamente si repite todo desde el principio. Y ya
                                tiene referencias, por lo que no necesita invitar a nadie más.
                                Por lo tanto, compre todos los niveles nuevamente, comenzando con el primero. Y,
                                en consecuencia, cada dos meses, reciba nuevamente la cantidad que recaudó todo
                                el tiempo.<br><br>
                                Todas las referencias que NO recompran niveles cada dos meses se convierten para
                                usted en una "puerta" para todas sus referencias de la misma línea.<br><br>
                                Por lo tanto, cuantas menos personas queden en su estructura, mayores serán sus
                                ganancias.<br><br>
                                El principio del trabajo es similar al párrafo 4.10.<br><br>

                                Cada nivel dura 64 días. Cada extensión de nivel es al mismo tiempo.
                                Cada nivel se puede comprar por un máximo de 2 períodos de 64 días de
                                anticipación. Si su referencia compró un nivel 2 veces seguidas, entonces
                                obtiene todo este dinero.
                                Los datos de todos los niveles en forma conveniente se presentan en una cuenta
                                personal.
                            </div>

                        </div>
                    </div>

                    <div class="row step-detail-container">
                        <div class="col-2">
                            <img src="images/dark/hiwall_6.svg" alt="">
                        </div>
                        <div class="col-8 ">
                            <h3>6. Atraer o esperar referidos</h3>
                            <div class="step-detail-description">Si construye una estructura grande con la cual
                                recibirá dinero cada dos meses, solo aumentando los ingresos y si las
                                referencias se vuelven inactivas, ¿qué TIPO DE GARANTÍA recibirá si el sitio no
                                cierra o si la administración no dejará de apoyar el proyecto?
                            </div>
                            <h4 style="margin-top:80px">6.1. Garantice que su billetera Ethereum NO será
                                bloqueada..</h4>

                            <div class="step-detail-description">El bloqueo de la billetera Ethereum es
                                imposible por definición debido a las características de blockchain.<br><br>
                                El reverso de la moneda: si pierde el control de su billetera, nadie se la
                                devolverá.<br><br>
                                <span style="color:#ff3b30">Nunca le pedimos que ingrese sus claves
                                    privadas.</span>
                            </div>
                            <h4 style="margin-top:80px">6.2. La garantía de que su cuenta en el sistema NO será
                                bloqueada o pirateada.</h4>
                            <div class="step-detail-img-container">
                                <img class="step-detail-img" src="images/dark/3_3.svg" alt="">
                            </div>
                            <div class="step-detail-description">Bloquear o piratear una cuenta también es
                                imposible por definición. Su cuenta NO está en el sitio web y los servidores,
                                sino en el contrato inteligente en la red principal de Ethereum. Esto significa
                                que nadie, incluidos aquellos que desarrollan un contrato inteligente, NO PUEDE
                                cambiarlo, corregirlo o eliminarlo en teoría.<br><br>
                                La información del sitio en su cuenta está disponible SIN CONTRASEÑA, y se carga
                                en el sitio desde las estadísticas públicas del contrato inteligente de
                                Ethereum.
                            </div>

                            <h4 style="margin-top:80px">6.3. La garantía de que está protegido contra la
                                terminación del sitio y la desaparición de la administración.</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">Smart, el contrato y su cuenta existen de forma
                                autónoma desde el sitio, e incluso cerrar el sitio no puede realizar cambios en
                                el Sistema, dado que cada una de sus referencias retiradas aumenta repetidamente
                                sus ganancias (consulte el ejemplo anterior en la nota 4.9).
                            </div>

                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">Cualquier programador en el mundo puede hacer
                                un sitio espejo del mismo contrato inteligente.</div>

                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">Los líderes de grupo (tanto su línea ascendente
                                como sus referencias) pueden crear un sitio para un equipo específico.<br><br>

                                Cada miembro está protegido incluso para este punto. ¡Únete ahora, mientras todo
                                acaba de comenzar!))
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>

</main>
<%- include('footer'); -%>