<%- include('header'); -%>

        <main class="nk-pages">


            <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
                <div class="container">
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">
                            Preguntas Frecuentes</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Sabemos que
                            puedes tener preguntas
                            sobre el funcionamiento del sistema.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp"
                                    data-delay=".3">

                                    <li><a class="active" data-toggle="tab" href="#sistema-1">Sistema</a></li>
                                    <li><a data-toggle="tab" href="#faq-registro">Registro</a></li>
                                    <li><a data-toggle="tab" href="#faq-referidos">Referidos</a>
                                    </li>
                                    <li><a data-toggle="tab" href="#faq-niveles">Niveles</a></li>
                                    <li><a data-toggle="tab" href="#faq-repetir">Función
                                            "Repetir"</a></li>
                                    <li><a data-toggle="tab" href="#faq-riesgos">Riesgos</a></li>
                                </ul>
                                <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="tab-pane fade show active" id="sistema-1">
                                        <div class="accordion accordion-faq" id="#faq-67">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-67">
                                                    Antes de la aparición de las criptomonedas ya
                                                    existian sistemas
                                                    similares ¿Por qué es mejor?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>Sí, de hecho, tales sistemas existían
                                                            hace 5 hace años y
                                                            antes del advenimiento de Internet, y
                                                            FUNCIONAN.
                                                            Sin embargo, tuvo varios problemas
                                                            importantes: <br><br>

                                                            1) Los diferentes sistemas de pago
                                                            bloqueaban constantemente
                                                            las billeteras de los participantes.<br>
                                                            2) Confirmación manual de transferencias
                                                            con todas las
                                                            consecuencias resultantes en forma de
                                                            factor humano y
                                                            procedimientos constantes, quién
                                                            transfirió fondos a quién y
                                                            quién no.<br>
                                                            3) No hubo recurrencia. Una persona una
                                                            vez creó una
                                                            estructura y una vez recibió dinero,
                                                            aunque relativamente
                                                            grande. Y luego todos los giros se
                                                            metieron profundamente en
                                                            la estructura, y el participante no
                                                            consiguió más.<br>
                                                            4) Cerrar o hackear un sitio significaba
                                                            un bloqueo del
                                                            sistema, y en ocasiones hackear
                                                            sitios.<br><br>

                                                            Las Criptomonedas y Ethereum resuelve
                                                            TODOS estos
                                                            problemas:<br><br>

                                                            1) Wallet no se puede bloquear ni
                                                            siquiera en teoría. El
                                                            reverso de la moneda: en ningún caso, no
                                                            pierdas el control
                                                            de tu billetera. Será imposible
                                                            reemplazar su billetera con
                                                            otras.<br>
                                                            2) Transacciones públicas y
                                                            confirmaciones automáticas
                                                            instantáneas. El factor humano se
                                                            excluye por completo.<br>
                                                            3) Hicimos la función "REPETIR", que los
                                                            propios
                                                            participantes habían solicitado
                                                            previamente en otros
                                                            sistemas. Una vez creada una estructura
                                                            y recibir ingresos
                                                            todos los años.
                                                            Si las personas en su estructura no
                                                            prolongan su
                                                            participación cada año, sus ingresos
                                                            aumentan muchas veces.
                                                            Más en la página Cómo funciona en la
                                                            sección "REPETIR".
                                                            4) Cerrar o piratear el sitio de ninguna
                                                            manera afectará el
                                                            funcionamiento del sistema, ya que el
                                                            contrato inteligente
                                                            CRYPTOHANDS se carga en la red principal
                                                            de Ethereum y nadie
                                                            puede eliminarlo, incluidos sus
                                                            desarrolladores.<br><br>
                                                            Esto significa que, por primera vez en
                                                            la historia de la
                                                            humanidad (no importa cuán fuerte
                                                            suene), hay un verdadero
                                                            100% de garantías de que la cuenta no
                                                            será pirateada, e
                                                            incluso teóricamente cuando el sitio
                                                            está cerrado, el Smart
                                                            Contract y el Sistema en sí seguirá
                                                            existiendo en cualquier
                                                            caso.<br>
                                                            Además, cualquier programador en el
                                                            mundo podrá crear un
                                                            NUEVO sitio basado en el mismo contrato
                                                            inteligente, y
                                                            cualquier líder de la estructura puede
                                                            hacer una estructura
                                                            de sitio en el mismo contrato
                                                            inteligente. Por lo tanto, el
                                                            sistema está protegido de cualquier
                                                            acción de la
                                                            administración del proyecto.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-2">
                                                    ¿Cómo ganar dinero aquí?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>La guía de inicio rápidop está en la <a href="#">Página
                                                                principal</a> en la sección de "Cómo
                                                            funciona". <br>
                                                            Las instrucciones detalladas están en
                                                            una página separada.
                                                            <a href="#">Cómo funciona</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-3">
                                                    ¿Cuáles son las garantías de que no cerrarán o
                                                    bloquearán mi cuenta?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>¡Esta es una de las preguntas más
                                                            importantes! <br><br>

                                                            Por primera vez en la historia de la
                                                            humanidad, no hay 99%,
                                                            pero 100% garantiza que NADIE PUEDE
                                                            BLOQUEAR SU billetera o
                                                            su cuenta, incluso la administración del
                                                            proyecto (esta es
                                                            una característica de la criptomoneda).
                                                            <br><br>

                                                            Los guaratees están escritos en la
                                                            página. Cómo funciona en
                                                            el último punto "Garantías".<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq-registro">
                                        <div class="accordion accordion-faq" id="faq-68">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-68-1">
                                                    ¿Cómo registrarse en DoubleHands?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                                    <div class="accordion-content">
                                                        <p>El registro mediante inicio de sesión
                                                            (correo o teléfono) y
                                                            contraseña es un concepto
                                                            desactualizado. Dado que la
                                                            pérdida de acceso al correo significa
                                                            una pérdida de acceso
                                                            a la cuenta.<br><br>

                                                            La compra exitosa del nivel 1st por
                                                            parte de su línea
                                                            ascendente es el hecho de
                                                            registrarse.<br><br>

                                                            Breve guía está presente en la página
                                                            REGÍSTRATE:.<br><br>

                                                            Guía detallada Cómo funciona en la
                                                            sección de
                                                            "Registrarse".<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-68-2">
                                                    ¿Es posible registrarse sin línea ascendente
                                                    (invitador)?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                                    <div class="accordion-content">
                                                        <p>Es imposible registrarse en el sistema
                                                            sin la línea
                                                            ascendente. Si no especifica ninguna
                                                            línea ascendente, el
                                                            contrato inteligente no aceptará la
                                                            transacción. Ese es uno
                                                            de los puntos fundamentales en el nivel
                                                            de idea. <br><br>

                                                            El campo "Datos" NO es un comentario ni
                                                            una característica
                                                            adicional de ninguna billetera. Esta es
                                                            una parte integral
                                                            de la propia cadena de bloques
                                                            Ethereum.<br><br>

                                                            Si bien el registro automático a través
                                                            de un enlace de
                                                            referencia o el código QR del invitador,
                                                            todos los datos,
                                                            incluido el campo "DATOS" con la
                                                            dirección de su línea
                                                            ascendente, se especifican
                                                            automáticamente. Solo tiene que
                                                            hacer clic en el botón "Registrarse en 1
                                                            clic".<br><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-68-3">
                                                    ¿Cómo ingresar a su cuenta?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                                    <div class="accordion-content">
                                                        <p>Puedes acceder a tu cuenta en la página
                                                            APUNTARSE <br><br>

                                                            Iniciar sesión en su cuenta es
                                                            completamente sin contraseña
                                                            y la cuenta no puede ser pirateada o
                                                            bloqueada.<br><br>

                                                            Más información sobre cómo iniciar
                                                            sesión en su cuenta en la
                                                            página Cómo funciona en la sección
                                                            "Iniciar sesión".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq-referidos">
                                        <div class="accordion accordion-faq" id="faq-69">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-69-1">
                                                    ¿Necesito atraer referidos?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>Aunque la base del sistema es construir
                                                            una estructura a
                                                            partir de referencias, y las referencias
                                                            son la fuente de su
                                                            beneficio, un hecho interesante es que
                                                            NO se REQUIEREN
                                                            referencias.<br><br>

                                                            Además de la invitación, puede obtener
                                                            referencias de dos
                                                            maneras más: "Desbordamientos" y
                                                            "Referencias gratuitas".
                                                            Para cada uno de estos métodos, lea a
                                                            continuación en los
                                                            siguientes párrafos.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-69-2">
                                                    ¿Cuántos referidos puedo invitar y cómo se
                                                    distribuyen?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>Personalmente, solo puede invitar
                                                            referencias de 2, que se
                                                            adjuntan directamente a usted y se
                                                            denominan "referencias de
                                                            la línea 1st".<br><br>

                                                            2 de sus referencias de línea 1st
                                                            (personalmente invitado
                                                            por usted) también invita a 2 de sus
                                                            referencias. Estos
                                                            participantes de 4 en su estructura son
                                                            "referencias de la
                                                            línea 2nd".<br><br>

                                                            Luego, por analogía, tiene referencias 8
                                                            de la línea 3rd y
                                                            referencias 16 de la línea 4.<br><br>

                                                            Si continúa invitando referencias cuando
                                                            ya tiene 2, las
                                                            referencias posteriores se adjuntan a la
                                                            profundidad de su
                                                            estructura y se convierten en sus
                                                            referencias de la 2da, 3ra
                                                            y así sucesivamente hasta la 10ma línea.
                                                            Esto se llama
                                                            "desbordamiento".
                                                            Puede ver más sobre "desbordamiento" en
                                                            el siguiente párrafo
                                                            "¿Qué es" desbordamiento "?".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-69-3">
                                                    ¿Qué es "desbordamiento"?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>El desbordamiento es el método para
                                                            obtener referidos de sus
                                                            líneas ascendentes de todas las líneas,
                                                            en el cual, al
                                                            llenar todos los espacios libres con 2
                                                            referidos, el
                                                            siguiente pasa a su referencia por
                                                            "desbordamiento", es
                                                            decir, para usted.<br><br>
                                                            Ejemplo: su priumera línea ascendente
                                                            (su invitador al
                                                            sistema) invitó a dos referencias y
                                                            continuó invitando más,
                                                            o no detuvo inmediatamente la
                                                            publicidad. La tercera
                                                            referencia sera para usted por
                                                            "desbordamiento".<br><br>
                                                            Nota: Los desbordamientos llenan no solo
                                                            todas sus líneas 8
                                                            por completo, sino que también
                                                            descienden por debajo de su
                                                            línea 10, llenando 1536 más espacios
                                                            además de su estructura
                                                            de referencias 510 en todas las líneas
                                                            8. <br><br>
                                                            Después de la línea 10, la cantidad de
                                                            gas se convierte en
                                                            más que la cantidad de pago. Y áun más,
                                                            los desbordamientos
                                                            están limitados por la propia
                                                            criptomoneda Ethereum, ya que
                                                            el límite máximo posible de gas de
                                                            Ethereum es 8000000. Por
                                                            lo tanto, los desbordamientos infinitos
                                                            por el contrato
                                                            inteligente son imposibles por
                                                            definición.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-69-3">
                                                    ¿En qué línea funcionan los "desbordamientos"?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>Brevemente: <br><br>
                                                            Sin un sitio a través de un contrato
                                                            inteligente hasta
                                                            líneas 5 inclusive. Los desbordamientos
                                                            funcionan hasta 10
                                                            líneas inclusive.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-69-5">
                                                    ¿Que son los "referidos gratis"?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>Las referencias gratuitas son miembros
                                                            del sistema que han
                                                            venido por alguna razón SIN un enlace de
                                                            referencia.<br><br>

                                                            Las referencias gratuitas se distribuyen
                                                            de manera uniforme
                                                            en todo el sistema, y ​​comenzando con
                                                            esas líneas
                                                            ascendentes, que anteriormente se
                                                            registraron en el
                                                            sistema.<br><br>

                                                            NOTA IMPORTANTE: Las referencias
                                                            gratuitas se distribuyen a
                                                            través del sistema NO mediante un
                                                            contrato inteligente, sino
                                                            mediante el sistema del sitio.<br><br>
                                                            Esto es lo ÚNICO que no hace un contrato
                                                            inteligente y es
                                                            por eso:<br><br>
                                                            Si las referencias gratuitas se
                                                            distribuyeran mediante un
                                                            contrato inteligente, con el crecimiento
                                                            del Sistema habría
                                                            grandes cálculos que consumirían una
                                                            gran cantidad de gas,
                                                            lo que no sería beneficioso para los
                                                            usuarios.
                                                            Todo lo demás, incluido el
                                                            "desbordamiento", se distribuye
                                                            por contrato inteligente.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-69-6">
                                                    ¿Puedo invitar referencias al no comprar el
                                                    primer nivel?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                                    <div class="accordion-content">
                                                        <p>Puede, pero se convertirán en referencias
                                                            gratuitas y
                                                            llegarán a otros miembros del sistema,
                                                            no a usted. Como el
                                                            sistema no te "conoce" antes de comprar
                                                            el nivel 1.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq-niveles">
                                        <div class="accordion accordion-faq" id="faq-70">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-70-1">
                                                    ¿Qué son los Niveles en el sistema?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                                    <div class="accordion-content">
                                                        <p>Nivel: este es el estado que otorga el
                                                            derecho a recibir una
                                                            remuneración de las referencias en su
                                                            estructura de la
                                                            "profundidad" correspondiente.<br><br>

                                                            Ejemplo:<br>
                                                            El nivel 1 le da derecho a recibir una
                                                            recompensa por
                                                            comprar el nivel 1 de referencias
                                                            invitadas personalmente
                                                            por 2 (su línea de referencias 1).<br>
                                                            El nivel 2 le otorga el derecho de
                                                            recibir una recompensa
                                                            por comprar el nivel 2 de referencias 4
                                                            invitadas por sus
                                                            referencias 2 invitadas personalmente
                                                            anteriormente (sus
                                                            referencias 2 de línea).<br>
                                                            El nivel 3 le da derecho a recibir una
                                                            recompensa por
                                                            comprar el nivel 3 de sus referencias 8
                                                            de la línea 3.<br>
                                                            El nivel 6 le da derecho a recibir una
                                                            recompensa por
                                                            comprar el nivel 6 de 64 referencias de
                                                            la línea 6.
                                                            <br><br>

                                                            El nivel 7 le da derecho a recibir una
                                                            recompensa por
                                                            comprar el nivel 7 de sus referencias
                                                            128 de la línea
                                                            7.<br><br>
                                                            Y el último octavo nivel le da derecho a
                                                            recibir una
                                                            recompensa por la compra de un octavo
                                                            nivel de 8 referencias
                                                            de la línea 8.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-70-2">
                                                    Si tengo el Nivel 2 ¿Puedo comprar el nivel 4 de
                                                    inmediato sin tener
                                                    un nivel 3?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                                    <div class="accordion-content">
                                                        <p>Los niveles se compran solo
                                                            secuencialmente y en orden. Si
                                                            intenta comprar el nivel 4th sin tener
                                                            el 3rd, el contrato
                                                            inteligente no aceptará la
                                                            transferencia. En este caso, el
                                                            dinero no irá a ninguna parte y
                                                            permanecerá con usted.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-70-3">
                                                    ¿Qué sucederá si mi referido, por ejemplo, la
                                                    línea 3, quiere
                                                    comprarme el nivel 3, pero todavía tengo solo el
                                                    nivel 2 en el
                                                    sistema?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                                    <div class="accordion-content">
                                                        <p>Lo siguiente sucederá:<br><br>

                                                            Malas noticias:<br>
                                                            El dinero no irá a usted, sino a su
                                                            línea ascendente de la
                                                            misma línea, en este caso el 3rd.
                                                            Si compra niveles a tiempo, esto NO
                                                            sucederá. Además, todos
                                                            los niveles posteriores (excepto el
                                                            primero) ya se compran
                                                            del dinero ganado, no del propio.
                                                            Además. Verá de antemano cuándo la
                                                            situación se vuelve
                                                            "peligrosa", y tendrá tiempo suficiente
                                                            para comprar cada
                                                            nivel.<br>
                                                            Si sucedió una vez, NO da miedo, ya que
                                                            la ganancia en cada
                                                            nivel (excepto el primero) es muchas
                                                            veces mayor que el
                                                            costo del nivel, e incluso en este caso
                                                            después de comprar
                                                            el nivel tarde, los fondos para TODAS
                                                            las compras
                                                            posteriores de el mismo nivel por el
                                                            resto de referencias
                                                            van a ti.<br><br>

                                                            Buenas noticias:<br>
                                                            Si alguien de sus referencias no compra
                                                            el nivel a tiempo,
                                                            el dinero para usted va a usted.
                                                            Si incluso una de sus referencias, por
                                                            ejemplo, la línea 3,
                                                            por alguna razón se retiró del sistema
                                                            (por ejemplo, perdió
                                                            el acceso a la billetera), entonces
                                                            TODAS las referencias 8
                                                            (no las suyas) de la tercera línea le
                                                            transfieren dinero a
                                                            USTED ! Todas las demás referencias de
                                                            la línea 3rd también
                                                            le transfieren dinero.<br>
                                                            Se da un ejemplo solo para una
                                                            referencia. ¿Y si hay dos o
                                                            varios? Su ingreso aumenta muchas
                                                            veces.<br><br>
                                                            Resultado: Cuantas más referencias
                                                            rechazadas o inactivas
                                                            tenga en su estructura, AQUELLAS MÁS, a
                                                            veces, SU INGRESO
                                                            SERÁ
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq-repetir">
                                        <div class="accordion accordion-faq" id="faq-71">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-71-1">
                                                    ¿Qué es la función "REPETIR" y por qué es
                                                    necesaria?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                                    <div class="accordion-content">
                                                        <p>La función "REPETIR" es una opción que le
                                                            permite repetir las
                                                            ganancias que ha obtenido todo el tiempo
                                                            cada mes.
                                                            Además, cada una de sus referencias que
                                                            abandonaron el
                                                            sistema multiplica su
                                                            recompensa.<br><br>

                                                            El principio de funcionamiento se
                                                            describe en detalle en la
                                                            página. <a href="#">Cómo funciona</a> en
                                                            la sección
                                                            "REPETIR".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-71-4">
                                                ¿Qué pasará si no extiendes los niveles en un mes?
                                                <span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                                <div class="accordion-content">
                                                    <p>Su cuenta permanece en el Sistema para
                                                        siempre, y en cualquier
                                                        momento puede extender los niveles y
                                                        nuevamente recibir
                                                        ingresos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="faq-riesgos">
                                        <div class="accordion accordion-faq" id="faq-72">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-72-1">
                                                    ¿Es Legal?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                                    <div class="accordion-content">
                                                        <p>Sí, ya que nadie te obliga a transferir
                                                            dinero a nadie. Todas
                                                            las transacciones son voluntarias.


                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-72-4">
                                                ¿Es Legal?
                                                <span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                                <div class="accordion-content">
                                                    <p>Sí, ya que nadie te obliga a transferir
                                                        dinero a nadie. Todas las
                                                        transacciones son voluntarias.


                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-72-5">
                                                ¿Hay algún riesgo aquí? ¿De ser así, cuáles?
                                                <span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                                <div class="accordion-content">
                                                    <p>En todas partes del sitio escribimos que NO
                                                        HAY RIESGO en el
                                                        sistema. Con esto queremos decir que todo el
                                                        dinero se
                                                        transfiere inmediatamente a su billetera y
                                                        se almacena en él.
                                                        Esto significa que NO HAY RIESGO.<br><br>
                                                        Sin embargo, vale la pena considerar que en
                                                        el intervalo de
                                                        tiempo entre su registro y el registro de su
                                                        primera referencia,
                                                        se crea una situación en la que se
                                                        transfirió a su línea
                                                        ascendente 0.08 ETH, pero aún no los ha
                                                        recibido de su primera
                                                        referencia.<br>
                                                        Por lo tanto, técnicamente el riesgo teórico
                                                        máximo es 0.08 ETH.
                                                        Estos 0.08 ETH le serán devueltos
                                                        inmediatamente desde la
                                                        primera referencia.<br><br>

                                                        Incluso si específicamente NO INVITÓ A
                                                        NINGUNA REFERENCIA, tarde
                                                        o temprano recibirá referencias de las
                                                        siguientes maneras sin su
                                                        participación:<br>
                                                        1) por desbordamiento de sus líneas
                                                        ascendentes,<br>
                                                        2) referencia gratuita del sistema.<br><br>
                                                        Por lo tanto, incluso este riesgo simbólico
                                                        tiende a 0.


                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>


        </main>
        <%- include('footer'); -%>