<%-include('header');-%><main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4"></span> <span class="line-5"></span><span class="line-6"></span><span
                            class="line-7"></span>
                        <span class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">How
                    does it work?</h2>
            </div><!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    Four Easy Steps</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1. Registration</h4>
                            <p class="step-description">0.08 ETH send your upline, who will return after the first
                                reference</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2. Log</h4>
                            <p class="step-description">1, no password click (we never ask private keys)</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3. Attracting Referrals</h4>
                            <p class="step-description">Attract referrals or referrals expect the system</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4. Income</h4>
                            <p class="step-description">Receive funds immediately at ETH wallet without confirmation or
                                payment requests</p>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">detailed operation</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0. Ethereum</h3>
                            <div>If you do not have a wallet ethereum read m [as on it in FAQ ethereum</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1. Subscribe</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">0.08 ETH send from your wallet ethereum your upline.
                                And the first user came after he returned this amount.<br><br>That sends 0.08 ETH to the
                                address smart contract and enter a number of your wallet ethereum upline in the
                                mandatory field "data entry" (otherwise, the smart contract will not accept the transfer
                                and the funds remain with you). If you use MetaMask, the transaction is done with a
                                click 1 and the address of your upline will be inserted in the "input data"
                                AUTOMATICALLY field.<br><br>Intelligent contract instantly redirects the funds to your
                                upline first line (direct inviter) and assigns the first level in the system. A
                                successful transaction will register in the system and the 1st level assigned to your
                                account (details on the levels below). Simple and clear guide on page. Subscribe.</div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                Important! If the address of your wallet from which sends funds is in CryptoHands, then
                                you can not specify ascending line, but simply transfer the funds to the direction of
                                the smart contract. In this case, the line is upward its upward nearest CryptoHands
                                line, which is DoubleWay. Not only overflows it obtained, but also other references that
                                were recorded later than you, even if they were their uplines in CryptoHands.</div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">These will be 0.08 ETH fully returned after the first
                                reference.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2. Log</h3>
                            <h4>2.1.</h4>
                            <div class="step-detail-description">Login to your account by entering only the number of
                                your wallet ethereum (no password) or by MetaMask.<br><br>The account can not be hacked,
                                because there is nothing that pirating and no password. When you enter the address on
                                your account, this information will be taken wallet chain blocks and displayed ethereum,
                                no one can block the account, including managing the project, and wallet can not be
                                changed to another.<br><br>Ethereum your wallet can not block due to decentralization.
                                This is a feature of the cryptocurrency.<br><br><span style="color: red">We never ask
                                    you to enter your private key.</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3. Attracting or wait referrals</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">After purchasing the Level 1, you can personally invite
                                2. These references are references 1st line.</div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">If you have invited 2 references and then invited the
                                3rd, you will be automatically directed to your references in order from the top of the
                                list and if each of them has 2 occupied spaces, you will be directed to reference your
                                reference. Overflows lines run until 10 inclusive. Details frequently asked questions.
                            </div>
                            <h4 style="margin-top:80px">3.3. free referrals.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">Gratuitous references are distributed evenly throughout
                                the system, beginning with those ascending lines which previously were recorded in the
                                system.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4. Income</h3>
                            <h4>4.1. (1 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">The first reference is invited or received from the
                                system will transfer 0.08 ETH. And References 2 of the 1st line can receive 0.16 ETH in
                                total.</div>
                            <h4 style="margin-top:80px">4.2. (2 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">Then transfers all ETH 0.16 to your upline upline (your
                                upline second line), so buying the 2nd level.<br>The second and all subsequent levels
                                can be purchased immediately after the purchase of the previous level, without waiting
                                for all the spaces are filled with references. More information below.<br>When you
                                purchase level 2 of their upline of the second line references references (references or
                                2nd line) can buy the level 2. Persons 4 0.16 ETH transferred him and you have 0.64 ETH
                                in the second Total level.</div>
                            <h4 style="margin-top:80px">4.3. (3 levels)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">After buying the second level you can buy the 3th
                                level, making a transaction 0.32 ETH his upline 3rd.<br>8 references now the 3rd line
                                can buy the 3rd level. In total, 2.64 ETH and can be transferred to you at the 3rd
                                level.</div>
                            <h4 style="margin-top:80px">4.4. (4 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">You can buy the 4th level by transferring 0.64 ETH his
                                upline 4th line. 16 references from the 4th line can make you transfer from ETH 0.64
                                each. And in the 4th level you can be transferred by 10.24 ETH in total.</div>
                            <h4 style="margin-top:80px">4.5. (5 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">Level 5 can buy a transaction by 1.28 ETH to its line
                                upstream of the 5th line. After that, their online references 5st can buy the 5th level.
                                Each of the references 32 sends ETH 1.28. In total, it can be transferred to the ETH
                                40.96 5th level.</div>
                            <h4 style="margin-top:80px">4.6. (Level 6)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">Level 6 can be purchased from your upline line 6 by a
                                transfer of 2.56 ETH.<br>After purchasing the 6th level 6th-line references can buy a
                                6th level. 64 people can transfer you ETH 2.56 for each of them. In total, you will be
                                transferred by ETH 163.84 on the sixth level.</div>
                            <h4 style="margin-top:80px">4.7. (7 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">To purchase the 7th level, you must transfer 5.12 ETH
                                his upline 7RD. After purchasing the 7th level, references the 7th line can buy 7th
                                level. 128 people can move you ETH 5.12 for each of them. In total in the 7th level, you
                                can be transferred by ETH 655.36.</div>
                            <h4 style="margin-top:80px">4.8. (8 level)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">To purchase the latest 8th level, you must transfer its
                                10.24 ETH upline of the 8th line.<br>After purchasing the 8th level you can be accessed
                                ETH 10.24 extensions from 256 Your online references 8th. In total in the 8th level you
                                can receive ETH 2621.44.</div>
                            <h4 style="margin-top:80px">4.9 Total Earnings</h4>
                            <h5 style="margin-top:80px">4.9.1 Total earnings per month.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">Strictly income 64 Days: 3495.2 ETH. Net profit for 64
                                days: 3474.8 ETH. (Next: 3500 ETH).</div>
                            <h5 style="margin-top:80px">4.9.2 Total earnings per month.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">Strictly annual income: 20971.2 ETH. Net income per
                                year: 20848.8 ETH. (Next: 20000 ETH).<span style="color:#ff3b30">*</span> <span
                                    style="color:#ffcc00">**</span><span style="color:#4cd964">***</span> <br><br><span
                                    style="color:#ff3b30">*</span>The sum of 20,000 per year excluding ETH superprofits
                                is the theoretical maximum possible gain, which is almost impossible to obtain in the
                                first year, and the probability of receiving approaches 0%.<br><br><span
                                    style="color:#ffcc00">**</span>In practice, in real terms, do half of this amount is
                                quite realistic, and the likelihood of receiving tends to 100% even in the first
                                year.<br><br> <span style="color:#4cd964">***</span>But with the "Repeat" function, the
                                ability to ETH 20,000 per year (and thanks to inactive references) it tends to 100% for
                                each member of DOUBLEWAY.<br><br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5. What's next? Repeats every month.</h3>
                            <h4></h4>
                            <div class="step-detail-description">It has created a structure of 2 references invited by
                                yourself + 4 references the second line + 2 references the third line + 8 references the
                                fourth line and so on = 3 references, and has already received more than 16 ETH
                                approximately year, so what? A once only for the money and that's it?<br><br>Eventually,
                                the money stops coming to you and all proceeds delve into the structure. And the cost of
                                repeated purchases of levels is incomparably cheaper than the gains that have already
                                received, and can receive again if you repeat everything from the beginning. And already
                                it has references, so no need to invite anyone else. Therefore, buy again all levels,
                                starting with the first. And therefore, every two months, receive back the amount raised
                                all the time.<br><br>All references repurchased NO levels every two months for you to
                                become a "gateway" for all references to the same line.<br><br>Therefore, fewer people
                                stay in their structure, the greater your profits.<br><br>The principle of work is
                                similar to paragraph 4.10.<br><br>Each level lasts 64 days. Each extension level is at
                                the same time. Each level can be purchased for a maximum of 2 periods of 64 days in
                                advance. If you bought your reference level 2 times in a row, then you get all this
                                money. Data from all levels conveniently presented in a personal account.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6. Attracting or wait referred</h3>
                            <div class="step-detail-description">If you build a large structure which will receive money
                                every two months, only increasing revenues and if references become inactive, what
                                WARRANTY receive if the site does not close or if the administration will not fail to
                                support the project?</div>
                            <h4 style="margin-top:80px">6.1. Ethereum ensure that your wallet will not be blocked ..
                            </h4>
                            <div class="step-detail-description">Blocking ethereum wallet is impossible by definition
                                due to the characteristics of blockchain.<br><br>The reverse of the coin: if you lose
                                control of your wallet, none shall return.<br><br><span style="color:#ff3b30">We never
                                    ask you to enter your private key.</span></div>
                            <h4 style="margin-top:80px">6.2. Ensuring that your account in the NO system is blocked or
                                hacked.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">Block or hijack an account is also impossible by
                                definition. Your account is not on the website and servers, but smart contract ethereum
                                the main network. This means that anyone, including those who develop an intelligent
                                contract CAN NOT change it, correct it or remove it in theory.<br><br>Site information
                                is available in your account without a password, and loaded onto the site from public
                                statistics intelligent ethereum contract.</div>
                            <h4 style="margin-top:80px">6.3. The guarantee that is protected against termination of the
                                site and the disappearance of the administration.</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">Smart, contract and account exist autonomously from the
                                site, and even close the site can not make changes to the system, since each of its
                                withdrawals references increases repeatedly their profits (see example above in note
                                4.9) .</div>
                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">Any programmer in the world can make a mirror site of
                                the same smart contract.</div>
                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">Group leaders (both your upline and references therein)
                                can create a site for a specific computer.<br><br>Each member is protected even for this
                                point. Join now, while everything just started!))</div>
                        </div>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>