<%- include('header'); -%>
    <main class="nk-pages">
        <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
            <div class="container">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Frequent questions</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">We know you may have questions about the operation of the system.</p>
                </div>
                <!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                                <li><a class="active" data-toggle="tab" href="#sistema-1">System</a></li>
                                <li><a data-toggle="tab" href="#faq-registro">Registry</a></li>
                                <li><a data-toggle="tab" href="#faq-referidos">Referrals</a></li>
                                <li><a data-toggle="tab" href="#faq-niveles">levels</a></li>
                                <li><a data-toggle="tab" href="#faq-repetir">Function "Repeat"</a></li>
                                <li><a data-toggle="tab" href="#faq-riesgos">risks</a></li>
                            </ul>
                            <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="tab-pane fade show active" id="sistema-1">
                                    <div class="accordion accordion-faq" id="#faq-67">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Before the emergence of similar systems already existed criptomonedas Why is it better?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Yes, indeed, such systems existed for 5 years and before the advent of the Internet, and they work. However, he had several major problems:
                                                        <br>
                                                        <br>1) Different payment systems constantly blocking wallets participants.
                                                        <br>2) Confirmation manual transfers with all the resulting consequences in the form of human factor and constant procedures, who transferred funds to whom and who is not.
                                                        <br>3) There was no recurrence. A person once created a structure and once received money, although relatively large. And then they got all the twists deep into the structure, and the participant did not get more.
                                                        <br>4) Close or hack a site meant a blockade of the system, and sometimes hack sites.
                                                        <br>
                                                        <br>The Criptomonedas and ethereum solves all these problems:
                                                        <br>
                                                        <br>1) Wallet can not be blocked even in theory. The reverse of the coin: in any case, do not lose control of your wallet. It will be impossible to replace your wallet with others.
                                                        <br>2) public transactions and instant automatic confirmations. The human factor is excluded completely.
                                                        <br>3) We did the "Repeat" function, which the participants had previously applied in other systems. Once you create a structure and receive income every year. If people in your structure does not extend its participation each year, your income increases many times. More on page How it works in the "REPEAT" section. 4) Close or hijack the site in any way affect the operation of the system, as the intelligent CRYPTOHANDS contract is loaded into the main network ethereum and no one can delete it, including its developers.
                                                        <br>
                                                        <br>This means that for the first time in the history of mankind (no matter how sound loud), there is a real 100% guarantee that the account will not be pirated, and even theoretically when the site is closed, the Smart Contract and system itself will continue to exist anyway.
                                                        <br>In addition, any programmer in the world can create a new site based on the same smart contract and any leader of the structure can make a site structure on the same smart contract. Therefore, the system is protected from any action by the administration of the project.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-2">How to make money here?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Rápidop start guide is in the<a href="#">Homepage</a>in the section "How it works".
                                                        <br>Detailed instructions are on a separate page.<a href="#">How does it work</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-3">What are the guarantees that they will not close or block my account?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>This is one of the most important questions!
                                                        <br>
                                                        <br>For the first time in the history of mankind, there is 99%, but 100% guarantees that no one can block your wallet or your account, including administration of the project (this is a feature of cryptocurrency).
                                                        <br>
                                                        <br>The guaratees are written on the page. How it works in the last "Guarantees" point.
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-registro">
                                    <div class="accordion accordion-faq" id="faq-68">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">How to register in DoubleHands?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>Registration by login (email or telephone) and password is an outdated concept. Since the loss of access to the mail means lost access to the account.
                                                        <br>
                                                        <br>The successful purchase of the 1st level of its line is ascending the fact of registration.
                                                        <br>
                                                        <br>Brief guide is present in the page SIGN :.
                                                        <br>
                                                        <br>Detailed guide How it works in the section "Register".
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-68-2">Is it possible to register without upline (inviter)?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>It is impossible to log into the system without the upline. If you do not specify upline, intelligent contract will not accept the transaction. That is one of the fundamental points in the level of idea.
                                                        <br>
                                                        <br>The field "data" is not a comment or an additional feature of any wallet. This is an integral part of the chain itself ethereum blocks.
                                                        <br>
                                                        <br>While the automatic registration via a referral link or QR code of the inviter, all data, including "data" field with the address of your upline, are specified automatically. Just click on the button "Register in one click."
                                                        <br>
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-68-3">How to access your account?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>You can access your account on page SIGNING
                                                        <br>
                                                        <br>You log on to your account is completely without password and account can not be hacked or blocked.
                                                        <br>
                                                        <br>Learn how to log on to your account on the How it Works page in the "Login".</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-referidos">
                                    <div class="accordion accordion-faq" id="faq-69">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Do I need to attract referrals?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>Although the basis of the system is to build a structure from references, and references are the source of your benefit, an interesting fact is that references are required.
                                                        <br>
                                                        <br>In addition to the invitation, you can get references from two ways: "Overflows" and "free References". For each of these methods, read below in the following paragraphs.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-69-2">How many referrals can invite and how they are distributed?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>Personally, I can only invite 2 references, which are attached directly to you and are called "references the 1st line."
                                                        <br>
                                                        <br>2 references 1st line (personally invited by you) also invites 2 of his references. These participants in structure 4 are "references 2nd line."
                                                        <br>
                                                        <br>Then, by analogy, it has reference 8 and references 3rd line 16 line 4.
                                                        <br>
                                                        <br>If continues to invite references when already has two, subsequent references are attached to the depth of its structure and become references of the 2nd, 3rd and so on until the 10th line. This is called "overflow". You can see more about "overflow" in the following paragraph "What is" overflow "?".</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-69-3">What is "overflow"?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>The overflow is the method of obtaining referrals from their upline of all lines, which, filling all gaps with 2 referrals, the next passing reference to "overflow", ie for you.
                                                        <br>
                                                        <br>Example: the priumera upline (the inviter to the system) invited two references and continued inviting more, or not immediately stopped advertising. The third reference will be to you by "overflow".
                                                        <br>
                                                        <br>Note: Overflows not only fill all its lines 8 completely, but also fall below the line 10, 1536 filling more space in addition to its reference structure 510 in all lines 8.
                                                        <br>
                                                        <br>After line 10, the gas quantity becomes more than the amount of payment. What's more, the excesses are limited by the cryptocurrency ethereum itself, since the maximum possible limit ethereum gas is 8000000. Therefore, the infinite overflows by intelligent contract are impossible by definition.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-69-3">What line of "overflow" work?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>Briefly:
                                                        <br>
                                                        <br>Without a site through a smart contract to lines 5 inclusive. Overflows lines run until 10 inclusive.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-69-5">What are the "free referrals"?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>Gratuitous references are members of the system who have come for some reason without referral link.
                                                        <br>
                                                        <br>Gratuitous references are distributed evenly throughout the system, and starting with those ascending lines which previously were recorded in the system.
                                                        <br>
                                                        <br>IMPORTANT NOTE: The references are distributed free through the NO system through intelligent contract, but by the system of the site.
                                                        <br>
                                                        <br>This is the only thing that makes clever contract and this is why:
                                                        <br>
                                                        <br>If references were distributed free through intelligent contract with the growth of the system would consume large stones that a lot of gas, which would not be beneficial to users. Everything else, including the "overflow" is distributed by intelligent contract.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-69-6">Can I invite references to not buying the first level?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>You can, but will become free referrals and reach other members of the system, not you. Since the system will not "know" before buying level 1.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-niveles">
                                    <div class="accordion accordion-faq" id="faq-70">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">What are the levels in the system?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>Level: This is the state that grants the right to receive remuneration from the references in its "depth" accordingly.
                                                        <br>
                                                        <br>Example:
                                                        <br>Level 1 entitles you to receive a reward for purchasing the Level 1 of references invited personally by 2 (the referral line 1).
                                                        <br>Level 2 gives you the right to receive a reward for purchasing the Level 2 References 4 guests for their guests personally references 2 above (references 2 line).
                                                        <br>Level 3 entitles you to receive a reward for purchasing the Level 3 references 8 line 3.
                                                        <br>Level 6 entitles you to receive a reward for purchasing the 64 level 6 reference line 6.
                                                        <br>
                                                        <br>Level 7 entitles you to receive a reward for purchasing 7 of 128 references line 7.
                                                        <br>
                                                        <br>And the last eighth level entitles you to receive a reward for buying an eighth level of 8 line 8 references.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-70-2">If I have Level 2 Can I buy level 4 immediately without level 3?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>Levels are purchased only sequentially and in order. If you try to buy the 4th level without having the 3rd, intelligent contract will not accept the transfer. In this case, money is not going anywhere and will stay with you.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-70-3">What will happen if my referral, for example, line 3, Level 3 wants to buy, but I still have only the level 2 system?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>The following will happen:
                                                        <br>
                                                        <br>Bad news:
                                                        <br>The money will not go to you, but your upline on the same line, in this case the 3rd. If you buy levels in time, this will not happen. In addition, all subsequent levels (except the first) and are purchased from the money earned, not his own. Further. You see in advance when the situation becomes "dangerous" and have time enough to buy each level.
                                                        <br>If it happened once, not scary, because the profit on each level (except the first) is many times greater than the cost of the level, and even in this later case of buy the level later, funding for all subsequent purchases of the same level for the rest of references they go to you.
                                                        <br>
                                                        <br>Good news:
                                                        <br>If someone from your referrals do not buy the level in time, the money you are going to you. If even one of your references, for example, line 3, for some reason retired from the system (for example, lost access to the wallet), then all references 8 (not his) of the third line transfer money to you ! All other references to the 3rd line you also transfer money.
                                                        <br>One example is given for reference. What if there are two or more? Your income increases many times.
                                                        <br>
                                                        <br>Result: The more rejected or inactive references have in their structure, THOSE MOST sometimes WILL BE YOUR INCOME</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-repetir">
                                    <div class="accordion accordion-faq" id="faq-71">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">What is the function "Repeat" and why is it necessary?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                                <div class="accordion-content">
                                                    <p>The "repeat" function is an option that allows you to repeat the gains obtained all the time every month. In addition, each of the references that left the system multiplies their reward.
                                                        <br>
                                                        <br>The principle of operation is described in detail on page.<a href="#">How does it work</a>in the "Repeat".</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-71-4">What happens if you extend levels in a month?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>Your account remains in the system forever, and at any time can extend and again receive income levels.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-riesgos">
                                    <div class="accordion accordion-faq" id="faq-72">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">Copyright is?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                                <div class="accordion-content">
                                                    <p>Yes, because no one forces you to transfer money to anyone. All transactions are voluntary.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-72-4">Copyright is?<span class="accordion-icon accordion-icon-s2"></span>                                            </h5>
                                        <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Yes, because no one forces you to transfer money to anyone. All transactions are voluntary.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-72-5">Is there a risk here? What if so, what?<span class="accordion-icon accordion-icon-s2"></span>                                            </h5>
                                        <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Throughout the site we write no risk in the system. By this we mean that all the money is immediately transferred to your wallet and stored in it. This means there is no risk.
                                                    <br>
                                                    <br>However, it is worth considering that in the interval of time between registration and recording of their first reference, a situation in which he transferred to his upline 0.08 ETH is created, but has not yet received its first reference .
                                                    <br>Therefore, technically the maximum theoretical risk is 0.08 ETH. These 0.08 ETH will be returned immediately from the first reference.
                                                    <br>
                                                    <br>Even if specifically did not invite any reference, sooner or later you will receive referrals in the following ways without their participation:
                                                    <br>1) overflow its ascending lines,
                                                    <br>2) free reference system.
                                                    <br>
                                                    <br>Therefore, even this symbolic risk tends to 0.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .block @e -->
            </div>
        </section>
    </main>
    <%- include('footer'); -%>