<%-include('header');-%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs"
        style="overflow: hidden;background: #2a2a2a url(<%= host %>/images/dark/bg_faqeth.svg) center center repeat; background-size: contain;">

        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Frequently
                    Asked Questions about ethereum</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">We know you may have questions about the
                    operation of ethereum.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">General questions</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">What is
                                            ethereum and why it is used exactly in the system?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum: cryptocurrency is second Bitcoin by popularity, and the
                                                    first, by popularity, intelligent contracts.<br><br>The project
                                                    features intelligent ethereum contract:<br><br>1) Your wallet
                                                    ethereum can not be blocked or bewitched even
                                                    theoretically.<br><br>2) CRYPTOHANDS system: a code loaded in the
                                                    main ethereum network. This can not be deleted or changed on that
                                                    network. It means your account and CRYPTOHANDS system can not be
                                                    hacked or blocked, even in theory.<br><br>3) The code is completely
                                                    open, and any programmer in the world can ensure that the algorithm
                                                    works this way and not otherwise.<br><br>4) All transactions are
                                                    public and automatically accepted. Funds go directly to your wallet,
                                                    so you need not confirm or request payment. The human factor is
                                                    excluded completely.<br><br>5) Even if the site ceases to exist
                                                    CRYPTOHANDS and administration disappears, intelligent CRYPTOHANDS
                                                    contract ethereum network will continue to exist, and that means
                                                    that the same system will continue its work. Even in this case, all
                                                    accounts and payments continue to function properly. Any programmer
                                                    in the world can make a mirror site of the same smart contract that
                                                    the entire system as well as a specific group.<br><br>6) You can
                                                    invite references without a website at all. To register a reference,
                                                    you must send it to the address of the smart contract 0.05 ETH and
                                                    the "input data" field enter the address of your upline.<br><br>7)
                                                    ethereum cryptocurrencie lets you use the Repeat function, saving
                                                    decentralization and transfers directly between the parties through
                                                    intelligent contract.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">How to create ethereum wallet and start using
                                            it?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum portfolio: it is, first, two things:<br><br>1) Your public
                                                    key - is exactly the number of ethereum wallet. No need to hide
                                                    it.<br><br>2) Your private key - An analogue of the usual password.
                                                    Is your staff. Loss of a private key means losing control of Wallet.
                                                    If someone seized his private key, he confiscated their money and
                                                    you can not change it to another private key. We never ask private
                                                    keys<br><br>There are several wallets ethereum. The features and the
                                                    most popular and simple to use each of them are detailed.</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1) MetaMask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>plugin
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">Recommended</b>
                                                                    </p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>Full
                                                                        integration with CryptoHands. Registration and
                                                                        all additional purchases of levels in 1 click,
                                                                        all additional fields are automatically filled.
                                                                    </p>
                                                                    <p><i class="fas fa-key faqeth_adv_icon_i"></i>It
                                                                        lets you export and import private keys, which
                                                                        means maintaining full control over your wallet
                                                                        ethereum.</p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>Convenient
                                                                        and easy to use. It is the complement most
                                                                        popular wallet and safe for the browser. You can
                                                                        disable or remove it from the browser at any
                                                                        time, with all access details remaining.</p>
                                                                    <p style="text-align: center;">detailed<a href="."
                                                                            target="_blank">Frequently Asked Questions
                                                                            about MetaMask</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2) Trust Wallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>mobile
                                                                    app</span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">recommend</b></p>
                                                            <p><i class="fas fa-handshake faqeth_adv_icon_i"></i>Full
                                                                integration with CryptoHands through the built Dapps
                                                                browser.</p>
                                                            <p><i class="fas fa-th-large faqeth_adv_icon_i"></i>Paste
                                                                the link Dapps reference to the built-in browser and
                                                                register all purchases will later level in 1 click.</p>
                                                            <p> <i class="fas fa-key faqeth_adv_icon_i"></i>It allows
                                                                you to import private keys. If you already have the
                                                                ethereum wallet, you can also use mobile application.
                                                            </p>
                                                            <p><i class="fas fa-mobile-alt faqeth_adv_icon_i"></i>The
                                                                application is easy to use and has an intuitive
                                                                interface.</p>
                                                            <p style="text-align: center;">detailed<a href=""
                                                                    target="_blank">Frequently Asked Questions Trust
                                                                    Wallet</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3) MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"> <a href="">
                                                                <imgsrc="images /dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;">
                                                            </a> </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>web
                                                                    version</span></b> </p>
                                                        <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>It is not
                                                            necessary to install add-ons and applications. All
                                                            transactions are made directly from the MyEtherWallet site.
                                                        </p>
                                                        <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>All additional
                                                            general fields and filled manually. Only for advanced users.
                                                        </p>
                                                        <p>detailed<a href="" target="_blank">Frequently Asked Questions
                                                                about MyEtherWallet</a> </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span style="color:#ff3b30">Important!</span>If you have
                                                        registered the ethereum wallet in a service, you can always
                                                        continue to use it with another. For example, if recorded
                                                        ethereum through MetaMask, you can continue using the same
                                                        wallet through MyEtherWallet and conversely. All you need: your
                                                        private key.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">How to fund your wallet ethereum?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Through sharing service (recommended):<br>1) Go to the site
                                                    bestchange.com. This is a monitoring exchangers tested with
                                                    favorable exchange rates of payment systems and most popular banks
                                                    in most countries.<br>2) Select the appropriate payment system
                                                    through which you want to exchange for ethereum.<br>3) Choose the
                                                    right exchanger with the best rate.<br>4) Go to the site of the
                                                    selected exchanger and follow simple instructions. The exchange
                                                    usually be automatic and is confirmed instantly.<br>5) Make sure you
                                                    have received the funds in your wallet ethereum.<br><br>Notes:<br>A
                                                    paying with bank cards exchangers may request verification of the
                                                    card for the first time. Usually it is a picture of the card at the
                                                    bottom of the page exchange. Subsequent payments will be
                                                    instantaneous.<br>If you do not want to verify your card at the site
                                                    of the exchanger, you can first recharge the account of another
                                                    system of instant payment from your bank card (not through the heat
                                                    exchanger, but in the payment system itself), and then send these
                                                    funds to ethereum wallet with another payment system
                                                    verification.<br><br>Through the LocalEthereum service:<br>1) Go to
                                                    localethereum.com. This is the shopping service<br>ethereum and
                                                    selling through any payment system.<br>2) Register. It's fast.<br>3)
                                                    Choose the appropriate exchange for your country.<br>4) Follow the
                                                    simple service.<br>5) Make sure you have received the funds in
                                                    your<br>billetera Ethereum.</p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">How to withdraw funds from the wallet ethereum other
                                            payment systems?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>The withdrawal of ethereum is the same as recharging, you should only
                                                    choose the direction opposite exchange.<br>Note. The bestchange.com
                                                    service is adequate to remove any amount bank cards, even instantly
                                                    and automatically for popular banks.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">What is "Gas", "gas price" (Gwei) and "gas
                                            limit"?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Gas (gas) - This is the calculation unit used to calculate and pay
                                                    the fee for an action or specific transaction.<br><br>Gasoline
                                                    prices (Gwei) - The price that miners must pay for the calculations.
                                                    The basic principle remains the same: you pay more, the transaction
                                                    will be faster. The current price of gasoline can be found here:
                                                    https://etherscan.io/gastracker.<br><br>If you put a small gasoline
                                                    prices, the transaction will decrease until the load on the network
                                                    ethereum. This can take up to several hours.<br><br>Gas limit - the
                                                    maximum amount of gas that can pay for a transaction. The
                                                    recommended limit value of gas = 400000. In some applications, the
                                                    default value Limit gas = 1,000,000. This does not mean you will be
                                                    charged more per transaction. Office, in any case, they unspent
                                                    balance again.<br><br>If you set a small limit of Gas, the
                                                    transaction and the funds will not return to balance, but part of
                                                    the commission in this case you will still be charged.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">Why you are pending transaction?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>The most likely reason: the low price of gas (Gwei). The current
                                                    price of gas can be found here: https://etherscan.io/gastracker</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">Why rejects the transaction?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>The most likely cause is a small value of the limit of gas. We
                                                    recommend setting a limit of 400,000 gas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">Why the enviarl the transaction "insufficient funds"
                                            appears, if funds are sufficient with a margin?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Some wallets ethereum, for example, Trust Wallet, sets the limit gas
                                                    1000000 by default. Remember that this does NOT mean you will be
                                                    charged more, this means that there should be a reservation in the
                                                    wallet. Try to reduce this amount to 400000.<br><br>If, after all,
                                                    still writes that there are insufficient funds, then, perhaps, the
                                                    network ethereum more cargo than usual, for example, 20 or 40 Gwei
                                                    Gwei (normal value is 5 Gwei). In this case, you can expect to
                                                    decrease the load on the network. You can reduce (for some) the
                                                    price of gas yourself, but then the transaction will take longer, up
                                                    to several hours rather than several seconds. You can also add some
                                                    funds to the wallet, so it was enough to make a
                                                    transaction.<br><br>Please note that the commission estimated that
                                                    was written in the transaction is not the royal commission, but its
                                                    maximum possible value if the entire limit is exhausted gas. Actual
                                                    transaction rate will be much lower.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>