<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    Terms and Conditions</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            TERMS OF SERVICE <br>
                            <br>
                            -----
                            <br>
                            <br>
                            GENERAL <br>
                            <br>
                            The DOUBLEHANDS project created by HUMANS FOR HUMANS. <br>
                            <br>
                            By who? <br>
                            By people who have already created projects that you know perfectly and have been very
                            successful. By people who became millionaires a long time ago. For humans, who dreamed of
                            doing something good for people. Something good that will bring together all the best from
                            past experience. Something that will not be blocked or destroyed. Something that will give
                            wealth and abundance to each participant. Not once, but for many years. And with the advent
                            of cryptocurrency, that opportunity finally appeared <br>
                            <br>
                            For whom? <br>
                            For people who do something. For people who have lived in abundance for a long time and want
                            even more. And for people who are just beginning the path of life in material well-being.
                            For people who are willing to share something good with their loved ones. For people who
                            progress and do not stop. FOR EACH OF US <br>
                            <br>
                            What project is this? <br>
                            DOUBLEHANDS project: smart account, which does not belong to anyone. This is the specificity
                            of the Ethereum cryptocurrency. Smart Contract: It is a cryptocurrency distribution
                            algorithm that, after being uploaded to the Ethereum network, can no longer be edited,
                            modified or deleted. <br>
                            <br>
                            DOUBLEHANDS smartcontract is uploaded to the Ethereum cryptocurrency network and even, in
                            theory, no one can change or remove it, including its creators. Therefore, no one and
                            nothing can stop the work of the System even in the event that the site is closed and the
                            administration disappears. The DOUBLEHANDS system does not belong to anyone and works
                            regardless of the site. <br>
                            <br>
                            Each participant's account is in a smart contract but not on the site, so neither the site
                            administration can block or delete it. The DOUBLEHANDS website on your account (no password)
                            shows only the information for each account taken from the Ethereum smart contract.
                            Therefore, it is impossible to hack an account and change a member's wallet. <br>
                            <br>
                            The creators of this system have exactly the same accounts as each member without any
                            special privileges. The authors of the project are VERY tempted to create different projects
                            and income from the Internet, not only in the field of finance, but in many others.
                            Therefore, DOUBLEHANDS is a project in which its creators PARTICIPATE WITH PLEASURE. So the
                            project may like many other people <br>
                            <br>
                            -----
                            <br>
                            <br>
                            DISCLAIMER OF LIABILITY <br>
                            <br>
                            The administration of the site IS NOT OWN OF the DOUBLEHANDS project and does not have the
                            technical capacity to withdraw the money from the participants. <br>
                            <br>
                            All calculations are done directly between the participants through a smart contract. <br>
                            <br>
                            A smart contract, which does not belong to anyone, DOES NOT ACCUMULATE PARTICIPANT FUNDS,
                            but instantly redirects funds between participants according to a pre-made algorithm. <br>
                            <br>
                            The administration of the DOUBLEHANDS site is not responsible for the operation of the smart
                            contract, as well as possible errors in the code and the work of the smart contract, for
                            possible loss of funds by the participants of the system. <br>
                            <br>
                            The words "profit", "income" and similar definitions on the site are advertising in nature
                            and are not a public offering. <br>
                            <br>
                            All transfers are voluntary and free. <br>
                            <br>
                            The DOUBLEHANDS SITE IS NOT A PROJECT, but only shows public information taken from the
                            DOUBLEHANDS smart contract, which DOES NOT BELONG to the administration of the DOUBLEHANDS
                            site. <br>
                            <br>
                            The participant's personal account on the site is accessible to everyone without a password
                            and DO NOT MAINTAIN ANY PERSONAL INFORMATION about the participants of the system. The
                            personal account shows the statistics of each participant of the System, taken from the
                            DOUBLEHANDS smart contract. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            CONTACT INFORMATION <br>
                            <br>
                            Questions about the system and rules and agreements you can ask by email @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>