<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    Termini e condizioni</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            CONDIZIONI DI SERVIZIO <br>
                            <br>
                            -----
                            <br>
                            <br>
                            GENERALI <br>
                            <br>
                            Il progetto DOUBLEHANDS creato da HUMANS FOR HUMANS. <br>
                            <br>
                            Da chi? <br>
                            Da persone che hanno già creato progetti che conosci perfettamente e hanno avuto molto
                            successo. Da persone che sono diventate milionarie molto tempo fa. Per gli umani, che
                            sognavano di fare qualcosa di buono per le persone. Qualcosa di buono che riunirà tutto il
                            meglio dall'esperienza passata. Qualcosa che non sarà bloccato o distrutto. Qualcosa che
                            darà ricchezza e abbondanza a ciascun partecipante. Non una volta, ma per molti anni. E con
                            l'avvento della criptovaluta, quell'opportunità finalmente è apparsa. <br>
                            <br>
                            Per chi? <br>
                            Per le persone che fanno qualcosa. Per le persone che hanno vissuto in abbondanza per molto
                            tempo e vogliono ancora di più. E per le persone che stanno appena iniziando il percorso
                            della vita nel benessere materiale. Per le persone che sono disposte a condividere qualcosa
                            di buono con i loro cari. Per le persone che progrediscono e non si fermano. PER OGNI
                            NOI<br>
                            <br>
                            Di che progetto si tratta? <br>
                            Progetto DOUBLEHANDS: account smart, che non appartiene a nessuno. Questa è la specificità
                            della criptovaluta Ethereum. Contratto intelligente: è un algoritmo di distribuzione di
                            criptovaluta che, dopo essere stato caricato sulla rete Ethereum, non può più essere
                            modificato, modificato o eliminato. <br>
                            <br>
                            Lo smartcontratto DOUBLEHANDS viene caricato sulla rete di criptovaluta Ethereum e persino,
                            in teoria, nessuno può modificarlo o rimuoverlo, compresi i suoi creatori. Pertanto, nessuno
                            e nulla può fermare il lavoro del sistema anche nel caso in cui il sito venga chiuso e
                            l'amministrazione scompaia. Il sistema DOUBLEHANDS non appartiene a nessuno e funziona
                            indipendentemente dal sito. <br>
                            <br>
                            L'account di ciascun partecipante ha un contratto intelligente ma non sul sito, quindi né
                            l'amministrazione del sito può bloccarlo o eliminarlo. Il sito web DOUBLEHANDS sul tuo
                            account (nessuna password) mostra solo le informazioni per ciascun account preso dal
                            contratto intelligente Ethereum. Pertanto, è impossibile hackerare un account e cambiare il
                            portafoglio di un membro. <br>
                            <br>
                            I creatori di questo sistema hanno esattamente gli stessi account di ciascun membro senza
                            privilegi speciali. Gli autori del progetto sono MOLTO tentati di creare diversi progetti e
                            entrate da Internet, non solo nel campo della finanza, ma in molti altri. Pertanto,
                            DOUBLEHANDS è un progetto in cui i suoi creatori PARTECIPANO CON PIACERE. Quindi il progetto
                            potrebbe piacere a molte altre persone. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            DESCLUSIONE DI RESPONSABILITÀ <br>
                            <br>
                            L'amministrazione del sito NON È PROPRIA del progetto DOUBLEHANDS e non ha la capacità
                            tecnica di ritirare il denaro dai partecipanti. <br>
                            <br>
                            Tutti i calcoli vengono eseguiti direttamente tra i partecipanti attraverso un contratto
                            intelligente. <br>
                            <br>
                            Un contratto intelligente, che non appartiene a nessuno, NON ACCUMULA FONDI PARTECIPANTI, ma
                            reindirizza istantaneamente fondi tra i partecipanti secondo un algoritmo pre-creato. <br>
                            <br>
                            L'amministrazione del sito DOUBLEHANDS non è responsabile per il funzionamento del contratto
                            intelligente, nonché per eventuali errori nel codice e nel lavoro del contratto
                            intelligente, per possibili perdite di fondi da parte dei partecipanti al sistema. <br>
                            <br>
                            Le parole "profitto", "reddito" e definizioni simili sul sito sono di natura pubblicitaria e
                            non sono un'offerta pubblica. <br>
                            <br>
                            Tutti i trasferimenti sono volontari e gratuiti. <br>
                            <br>
                            Il sito DOUBLEHANDS NON È UN PROGETTO, ma mostra solo informazioni pubbliche tratte dal
                            contratto intelligente DOUBLEHANDS, che NON APPARTIENE all'amministrazione del sito
                            DOUBLEHANDS. <br>
                            <br>
                            L'account personale del partecipante sul sito è accessibile a tutti senza password e NON
                            MANTENERE NESSUNA INFORMAZIONE PERSONALE da parte dei partecipanti al
                            sistema. L'account personale mostra le statistiche di ciascun partecipante del Sistema,
                            tratte dal contratto intelligente DOUBLEHANDS. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            INFORMAZIONI DI CONTATTO <br>
                            <br>
                            Domande sul sistema e le regole e gli accordi che è possibile porre via e-mail
                            @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>