<%-include('header');-%><main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4"></span> <span class="line-5"></span><span class="line-6"></span><span
                            class="line-7"></span>
                        <span class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">
                    Comment ça marche?</h2>
            </div><!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    Quatre étapes faciles</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1. Inscription</h4>
                            <p class="step-description">0,08 ETH envoyer votre upline, qui sera de retour après la
                                première référence</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2. Connectez-vous</h4>
                            <p class="step-description">1, pas de clic de mot de passe (nous ne demandons jamais les
                                clés privées)</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3. Attirer Parrainages</h4>
                            <p class="step-description">Attirer des références ou des références attendent le système
                            </p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4. revenu</h4>
                            <p class="step-description">Recevoir des fonds immédiatement au portefeuille ETH sans
                                demande de confirmation ou de paiement</p>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">fonctionnement détaillé</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0. Ethereum</h3>
                            <div>Si vous ne disposez pas d'une lecture Ethereum portefeuille m [comme dans le FAQ
                                Ethereum</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1. Inscrivez-vous</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">0,08 ETH envoi de votre portefeuille Ethereum votre
                                upline. Et le premier utilisateur est venu après son retour ce montant.<br><br>Cela
                                envoie 0,08 ETH à l'adresse contrat intelligent et entrez un numéro de votre
                                porte-monnaie dans la Ethereum upline « saisie de données » champ obligatoire (sinon, le
                                contrat intelligent ne sera pas accepter le transfert et les fonds restent avec vous).
                                Si vous utilisez MetaMask, la transaction se fait avec un clic 1 et l'adresse de votre
                                upline sera inséré dans les « données d'entrée » champ AUTOMATIQUEMENT.<br><br>contrat
                                intelligent redirige instantanément les fonds à votre upline en première ligne (INVITER
                                directe) et affecte le premier niveau dans le système. Une opération réussie
                                enregistrera dans le système et le 1er niveau attribué à votre compte (détails sur les
                                niveaux ci-dessous). Guide simple et clair à la page. Abonnez-vous.</div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                Important! Si l'adresse de votre portefeuille de fonds qui envoie est CryptoHands, vous
                                ne pouvez pas indiquer la ligne ascendante, mais simplement transférer les fonds à la
                                direction du contrat intelligent. Dans ce cas, la ligne est vers le haut sa gamme de
                                CryptoHands vers le haut le plus proche, qui est DoubleWay. Non seulement il a obtenu
                                déversoirs, mais aussi d'autres références qui ont été enregistrées plus tard que vous,
                                même si elles étaient leurs uplines dans CryptoHands.</div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">Ceux-ci seront 0,08 ETH complètement retourné après la
                                première référence.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2. Connectez-vous</h3>
                            <h4>2.1.</h4>
                            <div class="step-detail-description">Connectez-vous à votre compte en entrant seulement le
                                numéro de votre Ethereum portefeuille (aucun mot de passe) ou par MetaMask.<br><br>Le
                                compte ne peut pas être piraté, car il n'y a rien que le piratage et aucun mot de passe.
                                Lorsque vous entrez l'adresse de votre compte, ces informations ne peut bloquer le
                                compte, y compris la gestion du projet et porte-monnaie ne peuvent pas être pris blocs
                                de la chaîne porte-monnaie et affiché Ethereum, être modifiés à l'autre.<br><br>Ethereum
                                votre porte-monnaie ne peut pas bloquer en raison de la décentralisation. Ceci est une
                                caractéristique de la crypto-monnaie.<br><br><span style="color: red">Nous ne vous
                                    demanderons jamais d'entrer votre clé privée.</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3. Attirer ou attendre les renvois</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">Après avoir acheté le niveau 1, vous pouvez inviter
                                personnellement 2. Ces références sont des références 1ère ligne.</div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">Si vous avez invité 2 références et a ensuite invité le
                                3ème, vous serez automatiquement dirigé vers vos références dans l'ordre du haut de la
                                liste et si chacun d'entre eux dispose de 2 places occupées, vous serez dirigé vers la
                                référence de votre référence. Débordement lignes jusqu'au 10 inclus. Détails des
                                questions fréquemment posées.</div>
                            <h4 style="margin-top:80px">3.3. références gratuits.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">références Gratuitous sont répartis uniformément dans
                                tout le système, en commençant par les lignes ascendantes qui ont été enregistrées
                                précédemment dans le système.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4. revenu</h3>
                            <h4>4.1. (1 niveau)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">La première référence est invité ou reçu du système
                                transférera 0,08 ETH. Références et 2 de la 1ère ligne peuvent recevoir 0,16 ETH au
                                total.</div>
                            <h4 style="margin-top:80px">4.2. (Niveau 2)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">transfère ensuite tout ce ETH 0.16 à votre upline
                                upline (deuxième ligne votre upline), afin d'acheter le 2ème niveau.<br>Le second et
                                tous les niveaux suivants peuvent être achetés immédiatement après l'achat du niveau
                                précédent, sans attendre tous les espaces sont remplis de références. Plus
                                d'informations ci-dessous.<br>Lorsque vous achetez le niveau 2 de leur upline des
                                références deuxième ligne références (références ou 2e ligne) peut acheter le niveau 2.
                                Personnes 4 0.16 ETH lui transféré et vous avez 0,64 ETH dans la deuxième niveau total.
                            </div>
                            <h4 style="margin-top:80px">4.3. (3 niveaux)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">Après avoir acheté le deuxième niveau, vous pouvez
                                acheter le niveau 3th, faire une transaction 0,32 ETH son upline 3e.<br>8 références
                                maintenant la 3ème ligne peut acheter le 3ème niveau. Au total, 2,64 ETH et peut être
                                transféré à vous au 3e niveau.</div>
                            <h4 style="margin-top:80px">4.4. (4 niveaux)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">Vous pouvez acheter le niveau 4 en transférant 0,64 ETH
                                sa ligne 4ème upline. 16 références de la 4ème ligne peut vous faire transférer de l'ETH
                                0,64 chacun. Et au 4ème niveau, vous pouvez être transféré par 10,24 ETH au total.</div>
                            <h4 style="margin-top:80px">4.5. (Niveau 5)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">Niveau 5 peut acheter une transaction de 1,28 ETH à son
                                amont de la ligne de la 5ème ligne. Après cela, leurs références en ligne 5ST peut
                                acheter le niveau 5. Chacune des références 32 envoie ETH 1,28. Au total, il peut être
                                transféré au niveau 5 ETH 40,96.</div>
                            <h4 style="margin-top:80px">4.6. (Niveau 6)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">Niveau 6 peut être acheté à partir de votre ligne de 6
                                upline par un transfert de 2,56 ETH.<br>Après avoir acheté le niveau 6 références 6e
                                ligne peuvent acheter un niveau 6. 64 personnes peuvent vous transférer ETH 2,56 pour
                                chacun d'eux. Au total, vous serez transféré par ETH 163,84 au sixième niveau.</div>
                            <h4 style="margin-top:80px">4.7. (7 niveaux)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">Pour acheter le niveau 7, vous devez transférer 5,12
                                ETH son upline 7RD. Après l'achat du niveau 7, les références de la ligne 7 peut acheter
                                niveau 7. 128 personnes peuvent vous déplacer ETH 5,12 pour chacun d'eux. Au total le
                                niveau 7, vous pouvez être transféré par ETH 655,36.</div>
                            <h4 style="margin-top:80px">4.8. (8 classes)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">Pour acheter le dernier niveau 8, vous devez transférer
                                son upline 10,24 ETH de la ligne 8.<br>Après l'achat du 8ème niveau, vous pouvez
                                ACCESSIBLES ETH 10,24 extensions de 256 références en ligne Votre 8. Au total dans le
                                8ème niveau, vous pouvez recevoir ETH 2621,44.</div>
                            <h4 style="margin-top:80px">4,9 Total des gains</h4>
                            <h5 style="margin-top:80px">4.9.1 Le total des gains par mois.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">Strictement revenu 64 jours: 3495,2 ETH. Le bénéfice
                                net de 64 jours: 3474,8 ETH. (Suivant: 3500 ETH).</div>
                            <h5 style="margin-top:80px">4.9.2 Le total des gains par mois.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">revenu strictement annuel: 20971,2 ETH. Le bénéfice net
                                par an: 20848,8 ETH. (Suivant: 20000 ETH).<span style="color:#ff3b30">*</span> <span
                                    style="color:#ffcc00">**</span><span style="color:#4cd964">***</span> <br><br><span
                                    style="color:#ff3b30">*</span>La somme de 20 000 par an hors ETH superprofits est le
                                gain maximum théorique possible, ce qui est presque impossible d'obtenir la première
                                année, et la probabilité de recevoir approche 0%.<br><br><span
                                    style="color:#ffcc00">**</span>Dans la pratique, en termes réels, faire la moitié de
                                ce montant est tout à fait réaliste, et la probabilité de réception a tendance à 100%
                                dès la première année.<br><br> <span style="color:#4cd964">***</span>Mais avec la
                                fonction « Répéter », la capacité de ETH 20.000 par an (et grâce à des références
                                inactives) il a tendance à 100% pour chaque membre de DOUBLEWAY.<br><br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5. Quelle est la prochaine? Répète chaque mois.</h3>
                            <h4></h4>
                            <div class="step-detail-description">On a créé une structure de 2 références invités par
                                vous + 4 références de la deuxième ligne + 2 références à la troisième ligne + 8
                                références de la quatrième ligne et ainsi de suite = 3 références, et a déjà reçu plus
                                de 16 environ ETH année, alors quoi? Une fois seulement pour l'argent et
                                c'est-il?<br><br>Finalement, l'argent cesse de venir à vous et tous les produits se
                                plonger dans la structure. Et est incomparablement moins cher que les gains qui ont déjà
                                reçu le coût des achats répétés de niveaux, et peut recevoir à nouveau si vous répétez
                                tout depuis le début. Et il a déjà des références, donc pas besoin d'inviter quelqu'un
                                d'autre. Par conséquent, vous pouvez acheter à nouveau tous les niveaux, en commençant
                                par la première. Et donc, tous les deux mois, reçoivent le montant élevé tout le
                                temps.<br><br>Toutes les références NO niveaux rachetées tous les deux mois pour vous de
                                devenir une « passerelle » pour toutes les références à la même ligne.<br><br>Par
                                conséquent, moins de gens restent dans leur structure, plus vos profits.<br><br>Le
                                principe de travail est similaire au paragraphe 4.10.<br><br>Chaque niveau dure 64
                                jours. Chaque niveau d'extension est en même temps. Chaque niveau peut être acheté pour
                                un maximum de 2 périodes de 64 jours à l'avance. Si vous avez acheté votre niveau de
                                référence 2 fois de suite, vous obtenez tout cet argent. Les données de tous les niveaux
                                à une mise en compte personnel.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6. Attirer ou attendre visé</h3>
                            <div class="step-detail-description">Si vous construisez une grande structure qui recevra
                                l'argent tous les deux mois, l'augmentation des revenus et que si les références
                                deviennent inactives, ce GARANTIE recevoir si le site ne se ferme pas ou si
                                l'administration ne manquera pas de soutenir le projet?</div>
                            <h4 style="margin-top:80px">6.1. Ethereum assurez-vous que votre portefeuille ne sera pas
                                bloqué ..</h4>
                            <div class="step-detail-description">Le blocage porte-monnaie Ethereum est impossible par
                                définition en raison des caractéristiques de blockchain.<br><br>Le revers de la
                                médaille: si vous perdez le contrôle de votre portefeuille, ne revient pas.<br><br><span
                                    style="color:#ff3b30">Nous ne vous demanderons jamais d'entrer votre clé
                                    privée.</span></div>
                            <h4 style="margin-top:80px">6.2. Faire en sorte que votre compte dans le système NO est
                                bloqué ou piraté.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">Bloquer ou pirater un compte est également impossible
                                par définition. Votre compte est pas sur le site et les serveurs, mais dans le Ethereum
                                smart contrat, le réseau principal. Cela signifie que toute personne, y compris ceux qui
                                développent un contrat intelligent ne peut pas le changer, le corriger ou le supprimer
                                en théorie.<br><br>Informations sur le site est disponible dans votre compte sans mot de
                                passe et chargé sur le site des statistiques publiques du contrat de Ethereum
                                intelligent.</div>
                            <h4 style="margin-top:80px">6.3. La garantie est protégé contre le licenciement du site et
                                la disparition de l'administration.</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">Smart, contrat et compte existent de manière autonome à
                                partir du site, et même à proximité du site ne peut pas apporter des modifications au
                                système, puisque chacun de ses retraits augmente références à plusieurs reprises leurs
                                bénéfices (voir exemple ci-dessus dans la note 4.9) .</div>
                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">Tout programmeur dans le monde peut faire un site
                                miroir du même contrat intelligent.</div>
                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">Les chefs de groupe (à la fois votre Upline et
                                références) peuvent créer un site pour un ordinateur spécifique.<br><br>Chaque membre
                                est protégé, même pour ce point. Inscrivez-vous maintenant, alors que tout vient de
                                commencer!))</div>
                        </div>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>