<%- include('header'); -%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Questions
                    fréquentes</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Nous savons que vous avez des questions sur
                    le fonctionnement du système.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">système</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">inscription</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Parrainages</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">niveaux</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Fonction « Répéter »</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">risques</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Avant
                                            l'émergence de systèmes similaires existaient déjà criptomonedas Pourquoi
                                            est-il mieux?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Oui, en effet, de tels systèmes existaient pendant 5 ans et avant
                                                    l'avènement de l'Internet, et ils travaillent. Cependant, il a eu
                                                    plusieurs problèmes majeurs:<br><br>1) Les différents systèmes de
                                                    paiement bloquant constamment les participants portefeuilles.<br>2)
                                                    Confirmation des transferts manuel avec toutes les conséquences sous
                                                    la forme de facteur humain et des procédures constantes, qui a
                                                    transféré des fonds à qui et qui ne sont pas.<br>3) Il n'y avait pas
                                                    de récidive. Une personne une fois créé une structure et une fois
                                                    reçu de l'argent, bien que relativement grande. Et puis ils ont tous
                                                    les tours en profondeur dans la structure, et le participant n'a pas
                                                    obtenu plus.<br>4) Fermer ou pirater un site signifiait un blocage
                                                    du système, et parfois des sites pirater.<br><br>Les Criptomonedas
                                                    et Ethereum permet de résoudre tous ces problèmes:<br><br>1)
                                                    Porte-monnaie ne peut pas être bloqué, même en théorie. Le revers de
                                                    la médaille: dans tous les cas, ne contrôle pas perdre de votre
                                                    portefeuille. Il sera impossible de remplacer votre porte-monnaie
                                                    avec les autres.<br>2) opérations publiques et confirmations
                                                    automatiques instantanées. Le facteur humain est totalement
                                                    exclue.<br>3) Nous avons fait la fonction « Répéter », que les
                                                    participants avaient déjà appliqué dans d'autres systèmes. Une fois
                                                    que vous créez une structure et de recevoir des revenus chaque
                                                    année. Si les gens dans votre structure ne prolonge pas sa
                                                    participation chaque année, votre revenu augmente plusieurs fois.
                                                    Plus la page Comment ça marche dans la section « REPEAT ». 4) Fermer
                                                    ou pirater le site de quelque manière affecter le fonctionnement du
                                                    système, comme le contrat de CRYPTOHANDS intelligent est chargé dans
                                                    le réseau principal Ethereum et personne ne peut le supprimer, y
                                                    compris ses développeurs.<br><br>Cela signifie que pour la première
                                                    fois dans l'histoire de l'humanité (quel que soit son fort), il y a
                                                    une réelle garantie à 100% que le compte ne sera pas piraté, et même
                                                    théoriquement lorsque le site est fermé, Smart et contrat système
                                                    lui-même continuera d'exister de toute façon.<br>De plus, tout
                                                    programmeur dans le monde peut créer un nouveau site basé sur le
                                                    même contrat intelligent et tout dirigeant de la structure peut
                                                    faire une structure de site sur le même contrat intelligent. Par
                                                    conséquent, le système est protégé contre toute action par
                                                    l'administration du projet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Comment faire de l'argent ici?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidop guide de démarrage est en<a href="#">Page principal</a>dans
                                                    la section « Comment ça marche ».<br>Des instructions détaillées
                                                    sont sur une page séparée.<a href="#">Comment ça marche?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Quelles sont les garanties qu'ils ne seront pas
                                            fermer ou bloquer mon compte?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>C'est l'une des plus importantes questions!<br><br>Pour la première
                                                    fois dans l'histoire de l'humanité, il y a 99%, mais 100% garantit
                                                    que personne ne peut bloquer votre porte-monnaie ou votre compte, y
                                                    compris l'administration du projet (ce qui est une caractéristique
                                                    de crypto-monnaie).<br><br>Les guaratees sont écrits sur la page.
                                                    Comment ça marche dans le dernier point « Garanties ».<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">
                                            Comment inscrire à DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Inscription par connexion (courriel ou par téléphone) et le mot de
                                                    passe est un concept dépassé. Depuis la perte d'accès au courrier
                                                    signifie un accès perdu au compte.<br><br>L'achat réussie du 1er
                                                    niveau de sa ligne est ascendante du fait de
                                                    l'enregistrement.<br><br>bref guide est présent dans la page de
                                                    connexion.<br><br>Guide détaillé Comment ça marche dans la section «
                                                    Inscription ».<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">Est-il possible d'enregistrer sans upline
                                            (INVITER)?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Il est impossible de se connecter au système sans upline. Si vous ne
                                                    spécifiez pas upline, contrat intelligente n'acceptera la
                                                    transaction. C'est l'un des points fondamentaux du niveau
                                                    d'idée.<br><br>Le champ « data » est pas un commentaire ou une
                                                    fonctionnalité supplémentaire de tout portefeuille. Ceci est une
                                                    partie intégrante de la chaîne elle-même bloque
                                                    Ethereum.<br><br>Bien que l'enregistrement automatique via un lien
                                                    de référence ou un code QR du INVITER, toutes les données, y compris
                                                    champ « données » avec l'adresse de votre upline, sont spécifiés
                                                    automatiquement. Il suffit de cliquer sur le bouton « enregistrer en
                                                    un seul clic. »<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">Comment accéder à votre compte?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Vous pouvez accéder à votre compte à la page SIGNER<br><br>Vous vous
                                                    connectez à votre compte est tout à fait sans mot de passe et compte
                                                    ne peut pas être piraté ou bloqué.<br><br>Apprenez à vous connecter
                                                    à votre compte sur le Fonctionnement page dans la « Connexion ».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Ai-je
                                            besoin d'attirer des parrainages?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Bien que la base du système est de construire une structure de
                                                    références et les références sont la source de votre prestation, un
                                                    fait intéressant est que les références sont nécessaires.<br><br>En
                                                    plus de l'invitation, vous pouvez obtenir des références de deux
                                                    façons: « Débordements » et « Références libres ». Pour chacune de
                                                    ces méthodes, lire ci-dessous dans les paragraphes suivants.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">Combien de références peut inviter et la façon dont
                                            ils sont distribués?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Personnellement, je ne peux qu'inviter 2 références, qui sont
                                                    attachés directement à vous et sont appelés « fait référence à la
                                                    1ère ligne. »<br><br>2 références 1ère ligne (sur invitation
                                                    personnelle par vous) invite également deux de ses références. Ces
                                                    participants dans la structure 4 sont « références 2e ligne
                                                    ».<br><br>Puis, par analogie, il a 8 référence et références 3e
                                                    ligne 16 ligne 4.<br><br>Si continue d'inviter des références quand
                                                    a déjà deux, les références suivantes sont jointes à la profondeur
                                                    de sa structure et deviennent des références du 2e, 3e et ainsi de
                                                    suite jusqu'à la 10e ligne. Ceci est appelé « débordement ». Vous
                                                    pouvez en savoir plus sur « débordement » dans le paragraphe
                                                    suivant: « Qu'est-ce » débordement « ? ».</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Qu'est-ce « débordement »?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Le trop-plein est la méthode d'obtention des références de leur
                                                    upline de toutes les lignes, qui, remplissant toutes les lacunes
                                                    avec 2 références, la prochaine référence de passage à « débordement
                                                    », soit pour vous.<br><br>Exemple: le upline priumera (le INVITER au
                                                    système) ont invité deux références et ont continué d'inviter plus
                                                    ou pas immédiatement arrêté la publicité. La troisième référence
                                                    sera à vous par « débordement ».<br><br>Remarque: Débordements ne
                                                    remplir que toutes ses lignes 8 complètement, mais aussi tomber en
                                                    dessous de la ligne 10, 1536 remplissage plus d'espace en plus de sa
                                                    structure de référence 510 dans toutes les lignes 8.<br><br>Après la
                                                    ligne 10, la quantité de gaz devient plus que le montant du
                                                    paiement. De plus, les excès sont limités par le Ethereum de
                                                    lui-même crypto-monnaie, puisque le gaz de Ethereum limite maximum
                                                    est 8000000. Par conséquent, les trop-pleins infinis par contrat
                                                    intelligents sont impossibles par définition.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Quelle ligne de travail « trop-plein »?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>brièvement:<br><br>Sans un site par le biais d'un contrat intelligent
                                                    aux lignes 5 inclus. Débordement lignes jusqu'au 10 inclus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">Quels sont les « références libres »?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>les références sont membres Gratuitous du système qui sont venus pour
                                                    une raison quelconque, sans lien de parrainage.<br><br>références
                                                    Gratuitous sont répartis uniformément dans tout le système, et en
                                                    commençant par les lignes ascendantes qui ont été enregistrées
                                                    précédemment dans le système.<br><br>NOTE IMPORTANTE: Les références
                                                    sont distribués gratuitement à travers le système NO par contrat
                                                    intelligent, mais par le système du site.<br><br>Ceci est la seule
                                                    chose qui fait un contrat intelligent et voici pourquoi:<br><br>Si
                                                    les références ont été distribués gratuitement par contrat avec la
                                                    croissance intelligente du système consommerait de grosses pierres
                                                    que beaucoup de gaz, qui ne serait pas bénéfique pour les
                                                    utilisateurs. Tout le reste, y compris le « débordement » est
                                                    distribué par contrat intelligent.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Puis-je inviter les références à ne pas acheter le
                                            premier niveau?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Vous pouvez, mais deviendrez libres références et rejoindre d'autres
                                                    membres du système, et non pas vous. Étant donné que le système ne «
                                                    savoir » avant le niveau d'achat 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">Quels
                                            sont les niveaux dans le système?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Niveau: C'est l'État qui accorde le droit de recevoir une
                                                    rémunération des références dans sa « profondeur » en
                                                    conséquence.<br><br>exemple:<br>Niveau 1 vous permet de recevoir une
                                                    récompense pour l'achat du niveau 1 de références invités
                                                    personnellement par 2 (la ligne de référence 1).<br>Niveau 2 vous
                                                    donne le droit de recevoir une récompense pour l'achat de niveau 2
                                                    Références 4 personnes pour leurs invités références personnelles 2
                                                    ci-dessus (références 2 lignes).<br>Niveau 3 vous de recevoir,
                                                    intitulée une récompense pour l'achat de niveau 3 références 8 ligne
                                                    3.<br>Niveau 6 vous donne droit à recevoir une récompense pour
                                                    l'achat du 64 niveau 6 ligne de référence 6.<br><br>Niveau 7 vous de
                                                    recevoir, intitulée une récompense pour l'achat de 7 128 références
                                                    de la ligne 7.<br><br>Et le dernier huitième niveau vous permet de
                                                    recevoir une récompense pour l'achat d'un huitième niveau de 8 ligne
                                                    8 références.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">Si je Niveau 2 Puis-je acheter niveau 4
                                            immédiatement sans niveau 3?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Les niveaux sont achetés uniquement de façon séquentielle et dans
                                                    l'ordre. Si vous essayez d'acheter le 4ème niveau sans avoir le
                                                    3ème, le contrat intelligente n'acceptera pas le transfert. Dans ce
                                                    cas, l'argent ne va nulle part et restera avec vous.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">Que se passerait-il si mon renvoi, par exemple, la
                                            ligne 3, Niveau 3 veut acheter, mais je dois encore que le système de niveau
                                            2?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Ce qui suit se produira:<br><br>Mauvaises nouvelles:<br>L'argent ne
                                                    va pas à vous, mais votre upline sur la même ligne, dans ce cas, le
                                                    3ème. Si vous achetez des niveaux dans le temps, cela ne se produira
                                                    pas. En outre, tous les niveaux suivants (sauf le premier) et sont
                                                    achetés à l'argent gagné, pas le sien. En outre. Vous voyez à
                                                    l'avance quand la situation devient « dangereuse » et avoir assez de
                                                    temps pour acheter chaque niveau.<br>S'il est arrivé une fois, ne
                                                    fait pas peur, puisque le gain à chaque niveau (sauf le premier) est
                                                    plusieurs fois supérieur au coût du niveau, et même dans ce dernier
                                                    cas d'acheter le niveau plus tard, le financement de tous les achats
                                                    ultérieurs du même niveau pour le reste des références qu'ils vont à
                                                    vous.<br><br>Bonnes nouvelles:<br>Si quelqu'un de vos filleuls ne
                                                    pas acheter le niveau dans le temps, l'argent que vous allez vous.
                                                    Si même une de vos références, par exemple, la ligne 3, pour une
                                                    raison quelconque à la retraite du système (par exemple, l'accès
                                                    perdu au porte-monnaie), puis toutes les références 8 (pas son) de
                                                    l'argent de transfert troisième ligne à vous ! Toutes les autres
                                                    références à la 3ème ligne vous transférez aussi de l'argent.<br>Un
                                                    exemple est donné à titre de référence. Que faire s'il y a deux ou
                                                    plus? Votre revenu augmente plusieurs fois.<br><br>Résultat: Les
                                                    références plus rejetés ou inactifs ont dans leur structure, PLUS
                                                    parfois CEUX QUI AURA VOTRE REVENU</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                            Quelle est la fonction « Répéter » et pourquoi est-il nécessaire?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>La fonction « répétition » est une option qui vous permet de répéter
                                                    les gains obtenus tout le temps tous les mois. En outre, chacune des
                                                    références qui ont quitté le système multiplie leur
                                                    récompense.<br><br>Le principe de fonctionnement est décrit en
                                                    détail à la page.<a href="#">Comment ça marche?</a>dans la «
                                                    répétition ».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">Qu'advient-il si vous étendez les niveaux dans un
                                        mois?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Votre compte reste dans le système pour toujours et à tout moment peut
                                                étendre et recevoir à nouveau les niveaux de revenus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">Le
                                            droit d'auteur?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Oui, car aucune force de celui que vous de transférer de l'argent à
                                                    tout le monde. Toutes les transactions sont volontaires.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">Le droit d'auteur?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Oui, car aucune force de celui que vous de transférer de l'argent à tout
                                                le monde. Toutes les transactions sont volontaires.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">Y at-il ici un risque? Et si oui, quoi?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Tout au long du site, nous écrivons aucun risque dans le système. Nous
                                                entendons par là que tout l'argent est immédiatement transféré à votre
                                                porte-monnaie et stockée. Cela signifie qu'il n'y a pas de
                                                risque.<br><br>Toutefois, il convient de considérer que, dans
                                                l'intervalle de temps entre l'enregistrement et l'enregistrement de leur
                                                première référence, une situation dans laquelle il a été transféré à son
                                                upline 0,08 ETH est créé, mais n'a pas encore reçu sa première référence
                                                .<br>Par conséquent, techniquement le risque théorique maximum est de
                                                0,08 ETH. Ces 0,08 ETH sera retourné immédiatement de la première
                                                référence.<br><br>Même si spécifiquement ne pas inviter toute référence,
                                                tôt ou tard vous recevrez des références de la manière suivante sans
                                                leur participation:<br>1) déborder ses lignes montantes,<br>2) Système
                                                de référence libre.<br><br>Par conséquent, même ce risque symbolique
                                                tend à 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>