<%-include('header');-%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="overflow: hidden;background: #2a2a2a url(<%= host %>/images/dark/bg_faqeth.svg) center center repeat; background-size: contain;">
        
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Foire aux
                    questions sur Ethereum</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Nous savons que vous avez des questions sur
                    le fonctionnement de l'Ethereum.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">Questions générales</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            Qu'est-ce Ethereum et pourquoi il est utilisé exactement dans le
                                            système?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum: est deuxième Bitcoin crypto-monnaie par popularité, et la
                                                    première, par popularité, les contrats intelligents.<br><br>Le
                                                    projet dispose d'un contrat de Ethereum intelligente:<br><br>1)
                                                    Votre Ethereum portefeuille ne peut pas être bloqué ou ensorcelé
                                                    même théoriquement.<br><br>2) CRYPTOHANDS système: un code chargé
                                                    dans le réseau principal de Ethereum. Cela ne peut pas être supprimé
                                                    ou modifié sur ce réseau. Cela signifie que votre compte et système
                                                    CRYPTOHANDS ne peut pas être piraté ou bloqué, même en
                                                    théorie.<br><br>3) Le code est complètement ouvert, et tout
                                                    programmeur dans le monde peut faire en sorte que l'algorithme
                                                    fonctionne de cette façon et pas autrement.<br><br>4) Toutes les
                                                    transactions sont publiques et automatiquement acceptées. Les fonds
                                                    vont directement à votre porte-monnaie, vous devez donc confirmer ou
                                                    non le paiement de la demande. Le facteur humain est totalement
                                                    exclue.<br><br>5) Même si le site cesse d'exister et
                                                    d'administration disparaît CRYPTOHANDS, réseau Ethereum contrat
                                                    CRYPTOHANDS intelligente continuera d'exister, et cela signifie que
                                                    le même système poursuivra ses travaux. Même dans ce cas, tous les
                                                    comptes et les paiements continuent de fonctionner correctement.
                                                    Tout programmeur dans le monde peut faire un site miroir du même
                                                    contrat intelligent que tout le système ainsi qu'un groupe
                                                    spécifique.<br><br>6) Vous pouvez inviter des références sans site
                                                    web à tous. Pour enregistrer une référence, vous devez l'envoyer à
                                                    l'adresse du contrat intelligent 0,05 ETH et le champ « données
                                                    d'entrée », entrez l'adresse de votre upline.<br><br>7) Ethereum
                                                    cryptocurrencie vous permet d'utiliser la fonction de répétition, la
                                                    décentralisation et les transferts d'économie directement entre les
                                                    parties par contrat intelligent.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Comment créer le portefeuille de Ethereum et
                                            commencer à l'utiliser?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>portefeuille Ethereum: il est, tout d'abord, deux choses:<br><br>1)
                                                    Votre clé publique - est précisément le nombre de porte-monnaie
                                                    Ethereum. Pas besoin de le cacher.<br><br>2) Votre clé privée - un
                                                    analogue du mot de passe habituel. Est-ce votre personnel. La perte
                                                    d'un moyen clé privée perte de contrôle du portefeuille. Si
                                                    quelqu'un a confisqué sa clé privée, il a confisqué leur argent et
                                                    vous ne pouvez pas changer à une autre clé privée. Nous ne demandons
                                                    jamais les clés privées<br><br>Il y a plusieurs portefeuilles
                                                    Ethereum. Les caractéristiques et les plus populaires et simple à
                                                    utiliser chacun d'entre eux sont détaillés.</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1) Natnask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>plugin
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">recommandé</b></p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>Intégration
                                                                        complète avec CryptoHands. Inscription et tous
                                                                        les achats supplémentaires de niveaux en 1 clic,
                                                                        tous les champs supplémentaires sont
                                                                        automatiquement remplis.</p>
                                                                    <p><i class="fas fa-key faqeth_adv_icon_i"></i>Il
                                                                        vous permet d'exporter et d'importer les clés
                                                                        privées, ce qui signifie de garder le contrôle
                                                                        total sur votre Ethereum portefeuille.</p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>Pratique
                                                                        et facile à utiliser. Il est le complément le
                                                                        plus populaire porte-monnaie et en toute
                                                                        sécurité pour le navigateur. Vous pouvez
                                                                        désactiver ou le supprimer du navigateur à tout
                                                                        moment, avec tous les détails d'accès restant.
                                                                    </p>
                                                                    <p style="text-align: center;">détaillé<a href="."
                                                                            target="_blank">Foire aux questions sur
                                                                            MetaMask</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2) Porte-monnaie
                                                                    fiduciaire</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>application
                                                                    mobile</span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">recommander</b> </p>
                                                            <p><i
                                                                    class="fas fa-handshake faqeth_adv_icon_i"></i>Intégration
                                                                complète avec CryptoHands via le navigateur DAPPS
                                                                construit.</p>
                                                            <p> <i class="fas fa-th-large faqeth_adv_icon_i"></i>Collez
                                                                le lien DAPPS référence aux navigateur intégré et
                                                                d'enregistrer tous les achats régaleront plus tard en 1
                                                                clic.</p>
                                                            <p><i class="fas fa-key faqeth_adv_icon_i"></i>Il vous
                                                                permet d'importer les clés privées. Si vous avez déjà le
                                                                portefeuille de Ethereum, vous pouvez également utiliser
                                                                l'application mobile.</p>
                                                            <p><i
                                                                    class="fas fa-mobile-alt faqeth_adv_icon_i"></i>L'application
                                                                est facile à utiliser et dispose d'une interface
                                                                intuitive.</p>
                                                            <p style="text-align: center;">détaillé<a href=""
                                                                    target="_blank">Foire aux questions Porte-monnaie
                                                                    fiduciaire</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3) MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>version
                                                                    web</span></b> </p>
                                                        <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>Il est pas
                                                            nécessaire d'installer des add-ons et des applications.
                                                            Toutes les transactions sont effectuées directement à partir
                                                            du site MyEtherWallet.</p>
                                                        <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>Tous les champs
                                                            généraux supplémentaires et remplis manuellement. Seulement
                                                            pour les utilisateurs avancés.</p>
                                                        <p>détaillé<a href="" target="_blank">Foire aux questions sur
                                                                les MyEtherWallet</a> </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span style="color:#ff3b30">¡Importante!</span>Si vous avez
                                                        enregistré le porte-monnaie de l'Ethereum dans un service, vous
                                                        pouvez toujours continuer à l'utiliser avec un autre. Par
                                                        exemple, si elles sont enregistrées Ethereum par MetaMask, vous
                                                        pouvez continuer à utiliser le même portefeuille par
                                                        MyEtherWallet et inversement. Tout ce que vous avez besoin:
                                                        votre clé privée.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Comment financer votre Ethereum portefeuille?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>En partageant le service (recommandé):<br>1) Allez sur le site
                                                    bestchange.com. Ceci est un échangeur de surveillance testés avec
                                                    des taux de change favorables des systèmes de paiement et la plupart
                                                    des banques populaires dans la plupart des pays.<br>2) Sélectionnez
                                                    le système de paiement approprié par lequel vous voulez échanger
                                                    pour Ethereum.<br>3) Choisissez l'échangeur à droite avec le
                                                    meilleur taux.<br>4) Allez sur le site de l'échangeur choisi et
                                                    suivez les instructions simples. L'échange habituellement
                                                    automatique et est confirmée instantanément.<br>5) Assurez-vous que
                                                    vous avez reçu les fonds dans votre portefeuille
                                                    Ethereum.<br><br>notes:<br>A payer avec des échangeurs de cartes
                                                    bancaires peuvent demander la vérification de la carte pour la
                                                    première fois. Habituellement, il est une image de la carte au bas
                                                    de l'échange de la page. Les paiements subséquents seront
                                                    instantanés.<br>Si vous ne voulez pas vérifier votre carte sur le
                                                    site de l'échangeur, vous pouvez d'abord recharger le compte d'un
                                                    autre système de paiement instantané de votre carte bancaire (et non
                                                    par l'échangeur de chaleur, mais dans le système de paiement
                                                    lui-même), puis envoyer ces fonds porte-monnaie Ethereum avec une
                                                    autre vérification du système de paiement.<br><br>Grâce au service
                                                    de LocalEthereum:<br>1) Aller à localethereum.com. C'est le service
                                                    commercial<br>Ethereum et la vente à travers tout système de
                                                    paiement.<br>2) Inscrivez. Il est rapide.<br>3) Choisissez l'échange
                                                    approprié pour votre pays.<br>4) Suivez le service simple.<br>5)
                                                    Assurez-vous que vous avez reçu les fonds dans
                                                    votre<br>porte-monnaie Ethereum.</p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">Comment retirer des fonds provenant d'autres
                                            systèmes de paiement du porte-monnaie?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Le retrait de l'Ethereum est le même que la recharge, vous ne devriez
                                                    choisir l'échange sens opposé.<br>Note. Le service bestchange.com
                                                    est suffisant pour éliminer toutes les cartes bancaires de montant,
                                                    même instantanément et automatiquement pour les banques populaires.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">Qu'est-ce que « Gaz », « prix du gaz » (Gwei) et «
                                            limite de gaz »?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Gaz (gaz) - Ceci est l'unité de calcul utilisée pour calculer et
                                                    payer les frais d'une action ou d'une opération
                                                    spécifique.<br><br>prix de l'essence (Gwei) - Le prix que les
                                                    mineurs doivent payer pour les calculs. Le principe de base reste le
                                                    même: vous payez plus, la transaction sera plus rapide. On peut
                                                    trouver le prix actuel de l'essence ici:
                                                    https://etherscan.io/gastracker.<br><br>Si vous mettez un petit prix
                                                    de l'essence, la transaction diminuera jusqu'à ce que la charge sur
                                                    le réseau Ethereum. Cela peut prendre plusieurs
                                                    heures.<br><br>Limite de gaz - la quantité maximale de gaz qui peut
                                                    payer pour une transaction. La valeur limite recommandée de gaz =
                                                    400000 Dans certaines applications, la valeur par défaut = limite
                                                    gaz 1.000.000. Cela ne signifie pas que vous devrez payer plus par
                                                    transaction. Bureau, dans tous les cas, ils non dépensés
                                                    équilibre.<br><br>Si vous définissez une petite limite de gaz, la
                                                    transaction et les fonds ne seront pas de retour à l'équilibre, mais
                                                    une partie de la commission dans ce cas, vous devrez payer encore.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">Pourquoi vous transaction en attente?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>La raison la plus probable: le faible prix du gaz (Gwei). On peut
                                                    trouver le prix actuel du gaz ici: https://etherscan.io/gastracker
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">Pourquoi rejette la transaction?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>La cause la plus probable est une faible valeur de la limite de gaz.
                                                    Nous vous recommandons de fixer une limite de 400 000 gaz.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">Pourquoi enviarl la transaction « fonds insuffisants
                                            » apparaît, si les fonds sont suffisants avec une marge?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Certains portefeuilles Ethereum, par exemple, Porte-monnaie Trust,
                                                    fixe le gaz limite 1000000 par défaut. Rappelez-vous que cela ne
                                                    signifie pas que vous serez facturé plus, cela signifie qu'il
                                                    devrait y avoir une réservation dans le porte-monnaie. Essayez de
                                                    réduire ce montant à 400000.<br><br>Si, après tout, écrit encore que
                                                    les fonds sont insuffisants, alors, peut-être, le réseau Ethereum
                                                    plus de marchandises que d'habitude, par exemple, 20 ou 40 Gwei Gwei
                                                    (valeur normale est de 5 Gwei). Dans ce cas, vous pouvez vous
                                                    attendre à diminuer la charge sur le réseau. Vous pouvez réduire
                                                    (pour certains) le prix de vous-même le gaz, mais la transaction
                                                    prendra plus de temps, jusqu'à plusieurs heures plutôt que quelques
                                                    secondes. Vous pouvez également ajouter des fonds au porte-monnaie,
                                                    il suffisait de faire une transaction.<br><br>S'il vous plaît noter
                                                    que la Commission a estimé qui a été écrit dans la transaction n'est
                                                    pas la commission royale, mais sa valeur maximale possible si la
                                                    limite est entièrement gaz épuisé. Réel taux de transaction sera
                                                    beaucoup plus faible.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>