<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    Termes et conditions</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            CONDITIONS D'UTILISATION <br>
                            <br>
                            -----
                            <br>
                            <br>
                            GÉNÉRAL <br>
                            <br>
                            Le projet DOUBLEHANDS créé par HUMANS FOR HUMANS. <br>
                            <br>
                            Par qui? <br>
                            Par des gens qui ont déjà créé des projets que vous connaissez parfaitement et qui ont eu
                            beaucoup de succès. Par des gens qui sont devenus millionnaires il y a longtemps. Pour les
                            humains, qui rêvaient de faire quelque chose de bien pour les gens. Quelque chose de bien
                            qui réunira tout le meilleur de l'expérience passée. Quelque chose qui ne sera pas bloqué ou
                            détruit. Quelque chose qui donnera richesse et abondance à chaque participant. Pas une fois,
                            mais depuis de nombreuses années. Et avec l'avènement de la crypto-monnaie, cette
                            opportunité est finalement apparue. <br>
                            <br>
                            Pour lequel? <br>
                            Pour les gens qui font quelque chose. Pour les personnes qui vivent en abondance depuis
                            longtemps et qui en veulent encore plus. Et pour les personnes qui commencent tout juste le
                            chemin de la vie dans le bien-être matériel. Pour les personnes qui souhaitent partager
                            quelque chose de bien avec leurs proches. Pour les personnes qui progressent et ne
                            s'arrêtent pas. POUR CHACUN DE NOUS <br>
                            <br>
                            De quel projet s'agit-il? <br>
                            Projet DOUBLEHANDS: compte intelligent, qui n'appartient à personne. C'est la spécificité de
                            la crypto-monnaie Ethereum. Smart Contract: il s'agit d'un algorithme de distribution de
                            crypto-monnaie qui, après avoir été téléchargé sur le réseau Ethereum, ne peut plus être
                            édité, modifié ou supprimé. <br>
                            <br>
                            Le contrat intelligent DOUBLEHANDS est téléchargé sur le réseau de crypto-monnaie Ethereum
                            et même, en théorie, personne ne peut le modifier ou le supprimer, y compris ses créateurs.
                            Par conséquent, personne et rien ne peut arrêter le travail du Système même en cas de
                            fermeture du site et de disparition de l'administration. Le système DOUBLEHANDS n'appartient
                            à personne et fonctionne quel que soit le site. <br>
                            <br>
                            Le compte de chaque participant est dans un contrat intelligent mais pas sur le site, donc
                            ni l'administration du site ne peut le bloquer ou le supprimer. Le site DOUBLEHANDS de votre
                            compte (pas de mot de passe) affiche uniquement les informations de chaque compte issues du
                            contrat intelligent Ethereum. Par conséquent, il est impossible de pirater un compte et de
                            changer le portefeuille d'un membre. <br>
                            <br>
                            Les créateurs de ce système ont exactement les mêmes comptes que chaque membre sans
                            privilèges spéciaux. Les auteurs du projet sont TRÈS tentés de créer différents projets et
                            revenus à partir d'Internet, non seulement dans le domaine de la finance, mais dans bien
                            d'autres. DOUBLEHANDS est donc un projet dans lequel ses créateurs PARTICIPENT AVEC PLAISIR.
                            Le projet peut donc plaire à beaucoup d'autres personnes. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            EXCLUSION DE RESPONSABILITÉ <br>
                            <br>
                            L'administration du site N'EST PAS PROPRE DU projet DOUBLEHANDS et n'a pas la capacité
                            technique de retirer de l'argent aux participants. <br>
                            <br>
                            Tous les calculs sont effectués directement entre les participants via un contrat
                            intelligent. <br>
                            <br>
                            Un contrat intelligent, qui n'appartient à personne, N'ACCUMULE PAS LES FONDS DES
                            PARTICIPANTS, mais redirige instantanément les fonds entre les participants selon un
                            algorithme prédéfini. <br>
                            <br>
                            L'administration du site DOUBLEHANDS n'est pas responsable du fonctionnement du contrat
                            intelligent, ainsi que d'éventuelles erreurs dans le code et le travail du contrat
                            intelligent, pour une éventuelle perte de fonds par les participants du système. <br>
                            <br>
                            Les mots «profit», «revenu» et définitions similaires sur le site sont de nature
                            publicitaire et ne sont pas une offre publique. <br>
                            <br>
                            Tous les transferts sont volontaires et gratuits. <br>
                            <br>
                            Le SITE DOUBLEWAY N'EST PAS UN PROJET, mais ne montre que des informations publiques tirées
                            du contrat intelligent DOUBLEHANDS, QUI NE FAIT PAS PARTIE de l'administration du site
                            DOUBLEHANDS. <br>
                            <br>
                            Le compte personnel du participant sur le site est accessible à tous sans mot de passe et NE
                            MAINTIENT AUCUNE INFORMATION PERSONNELLE sur les participants du système. Le compte
                            personnel présente les statistiques de chaque participant au Système, issues du smart
                            contract DOUBLEHANDS. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            INFORMATION DE CONTACT <br>
                            <br>
                            Questions sur le système et les règles et accords que vous pouvez poser par e-mail @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>