<%- include('header'); -%>

        <main class="nk-pages">


            <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
                <div class="container">
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                            Términos y condiciones</h2>
                        
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <p >
                                    TÉRMINOS DE SERVICIO <br>
                                    <br>
                                    -----
                                    <br>
                                    <br>
                                    GENERALIDADES <br>
                                    <br>
                                    El proyecto DOUBLEWAY creado por HUMANS FOR HUMANS. <br>
                                    <br>
                                    ¿Por quién? <br>
                                    Por personas que ya han creado proyectos que usted conoce perfectamente y que han
                                    tenido un gran éxito. Por personas que se convirtieron en millonarios hace mucho
                                    tiempo. Por humanos, que soñaban con hacer algo bueno por las personas. Algo bueno
                                    que reunirá todo lo mejor de la experiencia pasada. Algo que no será bloqueado o
                                    destruible. Algo que dará riqueza y abundancia a cada participante. No una vez, sino
                                    por muchos años. Y con el advenimiento de la criptomoneda, finalmente apareció esa
                                    oportunidad. <br>
                                    <br>
                                    ¿Para quién? <br>
                                    Para las personas que hacen algo. Para las personas que han vivido en abundancia
                                    durante mucho tiempo y desean aún más. Y para las personas que recién comienzan el
                                    camino de la vida en el bienestar material. Para las personas que están dispuestas a
                                    compartir algo bueno con sus seres queridos. Para las personas que progresan y no se
                                    detienen. POR CADA UNO DE NOSOTROS <br>
                                    <br>
                                    ¿Qué proyecto es este? <br>
                                    Proyecto DOUBLEWAY: cuenta inteligente, que no pertenece a nadie. Esta es la
                                    especificidad de la criptomoneda Ethereum. Contrato inteligente: es un algoritmo de
                                    distribución de criptomonedas que, después de cargarse en la red Ethereum, ya no se
                                    puede editar, modificar o eliminar. <br>
                                    <br>
                                    DOUBLEWAY smartcontract se carga en la red de criptomonedas Ethereum e incluso, en
                                    teoría, nadie puede cambiarlo ni eliminarlo, incluidos sus creadores. Por lo tanto,
                                    nadie ni nada puede detener el trabajo del Sistema incluso en el caso de que el
                                    sitio se cierre y la administración desaparezca. El sistema DOUBLEWAY no pertenece a
                                    nadie y funciona independientemente del sitio. <br>
                                    <br>
                                    La cuenta de cada participante está en un contrato inteligente pero no en el sitio,
                                    por lo que ni la administración del sitio puede bloquearla ni eliminarla. El sitio
                                    web de DOUBLEWAY en su cuenta (sin contraseña) muestra solo la información para cada
                                    cuenta tomada del contrato inteligente de Ethereum. Por lo tanto, es imposible
                                    hackear una cuenta y cambiar la billetera de un miembro. <br>
                                    <br>
                                    Los creadores de este sistema tienen exactamente las mismas cuentas que cada miembro
                                    sin ningún privilegio especial. Los autores del proyecto están MUY tentados a crear
                                    diferentes proyectos e ingresos de Internet, no solo en el campo de las finanzas,
                                    sino en muchos otros. Por lo tanto, DOUBLEWAY es un proyecto en el que sus creadores
                                    SE PARTICIPAN CON PLACER. Entonces, al proyecto le pueden gustar muchas otras
                                    personas. <br>
                                    <br>
                                    -----
                                    <br>
                                    <br>
                                    DESCARGO DE RESPONSABILIDAD <br>
                                    <br>
                                    La administración del sitio NO ES PROPIA del proyecto DOUBLEWAY y no tiene la
                                    capacidad técnica para retirar el dinero de los participantes. <br>
                                    <br>
                                    Todos los cálculos se realizan directamente entre los participantes a través de un
                                    contrato inteligente. <br>
                                    <br>
                                    Un contrato inteligente, que no pertenece a nadie, NO ACUMULA FONDOS DE LOS
                                    PARTICIPANTES, sino que redirige instantáneamente los fondos entre los participantes
                                    de acuerdo con un algoritmo prefabricado. <br>
                                    <br>
                                    La administración del sitio DOUBLEWAY no se hace responsable del funcionamiento del
                                    contrato inteligente, así como de posibles errores en el código y el trabajo del
                                    contrato inteligente, por posibles pérdidas de fondos por parte de los participantes
                                    del sistema. <br>
                                    <br>
                                    Las palabras "ganancias", "ingresos" y definiciones similares en el sitio son de
                                    naturaleza publicitaria y no son una oferta pública. <br>
                                    <br>
                                    Todas las transferencias son voluntarias y gratuitas. <br>
                                    <br>
                                    El SITIO DOUBLEWAY NO ES UN PROYECTO, pero solo muestra información pública tomada
                                    del contrato inteligente DOUBLEWAY, que NO PERTENECE a la administración del sitio
                                    DOUBLEWAY. <br>
                                    <br>
                                    La cuenta personal del participante en el sitio es accesible para todos sin una
                                    contraseña y NO MANTENGA NINGUNA INFORMACIÓN PERSONAL de los participantes del
                                    sistema. La cuenta personal muestra las estadísticas de cada participante del
                                    Sistema, tomadas del contrato inteligente DOUBLEWAY. <br>
                                    <br>
                                    -----
                                    <br>
                                    <br>
                                    INFORMACIÓN DE CONTACTO <br>
                                    <br>
                                    Preguntas sobre el sistema y las reglas y acuerdos que puede hacer por correo
                                    electrónico @doubleway.io.


                                </p>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>


        </main>
        <%- include('footer'); -%>