<%- include('header'); -%>
<main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Часто
                    задаваемые вопросы</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Мы знаем, что могут возникнуть вопросы о
                    работе системы.</p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">Система</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">регистрация</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Переходов</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">уровни</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Функция «Повторить»</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">риски</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">До
                                            появления подобных систем уже существует criptomonedas Почему лучше?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Да, действительно, такие системы существовали в течение 5 лет и до
                                                    появления Интернета, и они работают. Тем не менее, у него было
                                                    несколько серьезных проблем:
                                                    <br>
                                                    <br>1) Различные платежные системы постоянно блокируют участник
                                                    бумажников.
                                                    <br>2) подтверждение ручной переводы со всеми вытекающими отсюда
                                                    последствиями в виде человеческого фактора и постоянных процедур,
                                                    которые переданы средства, кому и кто нет.
                                                    <br>3) Там не было рецидивов. Человек когда-то создал структуру и
                                                    когда-то получил деньги, хотя и относительно большой. И тогда они
                                                    получили все закручивается глубоко в структуру, и участник не
                                                    получил больше.
                                                    <br>4) Закрыть или взломать сайт означало блокаду системы, а иногда
                                                    и взломать сайты.
                                                    <br>
                                                    <br>В Criptomonedas и Эфириум решает все эти проблемы:
                                                    <br>
                                                    <br>1) Кошелек может быть заблокирован даже в теории. На оборотной
                                                    стороне монеты: в любом случае, не теряйте контроль вашего кошелька.
                                                    Это будет невозможно заменить ваш кошелек с другими.
                                                    <br>2) государственные операции и мгновенные автоматические
                                                    подтверждения. Человеческий фактор исключен полностью.
                                                    <br>3) Мы сделали функцию «Repeat», которую участники применявшийся
                                                    ранее в других системах. После того, как вы создаете структуру и
                                                    получать доход каждый год. Если люди в вашей структуре не
                                                    распространяются своим участия каждого года, ваш доход увеличивается
                                                    во много раз. Подробнее на странице Как это работает в разделе
                                                    «REPEAT». 4) Закрыть или угнать сайт каким-либо образом влиять на
                                                    работу системы, как умный контракт CRYPTOHANDS загружается в
                                                    основной сети Эфириума, и никто не может удалить его, в том числе
                                                    его разработчиками.
                                                    <br>
                                                    <br>Это означает, что впервые в истории человечества (независимо от
                                                    того, как звук громкого), существует реальная 100% гарантия того,
                                                    что учетная запись не будет пиратская, и даже теоретически, если
                                                    сайт закрыт, смарт-контракт и сама система будет продолжать
                                                    существовать в любом случае.
                                                    <br>Кроме того, любой программист в мире может создать новый сайт,
                                                    основанный на том же смарт контракта и любого руководителя структуры
                                                    может сделать структуру сайта на той же смарт-контракта. Таким
                                                    образом, система защищена от каких-либо действий со стороны
                                                    администрации проекта.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Как заработать деньги здесь?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>руководство Rápidop находится в<a href="#">дома</a>в разделе «Как это
                                                    работает».
                                                    <br>Подробные инструкции на отдельной странице.<a href="#">Как это
                                                        работает</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Каковы гарантии, что они не будут закрывать или
                                            блокировать мой счет?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Это один из самых важных вопросов!
                                                    <br>
                                                    <br>Впервые в истории человечества, есть 99%, но 100% гарантии, что
                                                    никто не может блокировать ваш кошелек или ваш счет, в том числе
                                                    администрации проекта (это особенность криптовалюта).
                                                    <br>
                                                    <br>В guaratees написано на этой странице. Как это работает в
                                                    последней «Гарантии» точки.
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">Как
                                            зарегистрироваться в DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Регистрация по авторизации (по электронной почте или по телефону) и
                                                    пароль является устаревшим понятием. Поскольку потеря доступа к
                                                    почте означает потерянный доступ к учетной записи.
                                                    <br>
                                                    <br>Успешная покупка 1-го уровня своей линии поднимается факт
                                                    регистрации.
                                                    <br>
                                                    <br>Краткое руководство присутствует в странице ЗНАК:.
                                                    <br>
                                                    <br>Подробное руководство Как это работает в разделе «Регистрация».
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">Можно ли зарегистрироваться без вышестоящей
                                            (приглашающего)?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Невозможно войти в систему без вышестоящего. Если вы не укажете
                                                    вышестоящие, интеллектуальный договор не будет принимать сделку. Это
                                                    один из основных моментов в уровне идеи.
                                                    <br>
                                                    <br>Поле «данные» не комментарий или дополнительный признак любого
                                                    кошелька. Это является неотъемлемой частью самой цепи Эфириума
                                                    блоков.
                                                    <br>
                                                    <br>В то время автоматической регистрации через реферальную ссылку
                                                    или QR код приглашающего, все данные, включая поле «данные» с
                                                    адресом вашей вышестоящей, определяются автоматически. Просто
                                                    нажмите на кнопку «Регистрация в один клик».
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">Как получить доступ к вашей учетной записи?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Вы можете получить доступ к учетной записи на странице ПОДПИСАНИЕМ
                                                    <br>
                                                    <br>Вы войти в свою учетную запись полностью без пароля и учетной
                                                    записи не может быть взломан или заблокирован.
                                                    <br>
                                                    <br>Узнайте, как войти в свой аккаунт на Как это работает страница в
                                                    «Вход».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Мне
                                            нужно, чтобы привлечь рефералов ли?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Хотя основа системы является построение структуры из ссылок, и ссылки
                                                    являются источником вашей пользы, интересный факт, что ссылки не
                                                    требуется.
                                                    <br>
                                                    <br>В дополнение к приглашению, вы можете получить ссылки из двух
                                                    способов: «переполняется» и «бесплатно» Список литературы. Для
                                                    каждого из этих методов, читайте ниже в следующих пунктах.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">Сколько рефералов может предложить и как они
                                            распределяются?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Лично я могу только пригласить 2 ссылки, которые прикреплены
                                                    непосредственно к вам и называются «ссылка на 1-й линии.»
                                                    <br>
                                                    <br>2 ссылки первой линии (лично пригласил вас) также предлагает 2
                                                    из его ссылок. Эти участники в структуре 4, являются «ссылки второй
                                                    строкой».
                                                    <br>
                                                    <br>Тогда, по аналогии, он имеет ссылки 8 и ссылки третья строка 16
                                                    строка 4.
                                                    <br>
                                                    <br>Если по-прежнему предлагает ссылки, когда уже есть два,
                                                    последующие ссылки прикрепляются на глубину ее структуры и
                                                    становятся ссылки 2-го, 3-го и так далее до 10-й линии. Это
                                                    называется «переполнение». Вы можете увидеть больше о «перелива» в
                                                    следующем абзаце: «Что такое» переполнение «?».</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Что такое «переполнение»?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Переполнение является способом получения рефералов от их вышестоящих
                                                    всех линий, которые, заполняя все пробела 2 рефералов, следующим
                                                    прохождение ссылку на «переполнение», то есть для вас.
                                                    <br>
                                                    <br>Пример: priumera вышестоящий (приглашающий к системе) предложил
                                                    две ссылки и продолжал приглашать больше, или не сразу перестал
                                                    размещать рекламу. Третья ссылка будет вам «перелив».
                                                    <br>
                                                    <br>Примечание: Переполнение не только заполнить все свои
                                                    линии-полностью, но и упасть ниже линий 10, 1536, заполняющих больше
                                                    места в дополнении к своей опорной структуре 510 во всех строках 8.
                                                    <br>
                                                    <br>После того, как линии 10, количество газа становится больше, чем
                                                    сумма платежа. Более того, избытки ограничены сама криптовалюта
                                                    Эфириумом, так как максимально возможный предел Эфириум газ 8000000.
                                                    Таким образом, бесконечные переливы по разумному договору невозможно
                                                    по определению.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Что линия «перелив» работа?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>кратко:
                                                    <br>
                                                    <br>Без сайта через смарт-контракт на линию-включительно. Переливы
                                                    линии не работать до 10 включительно.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">Что такое «свободные рефералы»?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Безвозмездные ссылки являются членами системы, которые приехали по
                                                    какой-то причине без реферальной ссылки.
                                                    <br>
                                                    <br>Безвозмездные ссылки равномерно распределены по всей системе, и,
                                                    начиная с теми линиями, восходящими, которые ранее были записаны в
                                                    системе.
                                                    <br>
                                                    <br>ВАЖНО: ссылки распространяются бесплатно через систему NO через
                                                    интеллектуальный контракт, но в системе сайта.
                                                    <br>
                                                    <br>Это единственное, что делает умный контракт и вот почему:
                                                    <br>
                                                    <br>Если ссылки были распространены бесплатно через интеллектуальный
                                                    контракт с ростом системы будет потреблять большие камни, которые
                                                    много газа, который не был бы полезным для пользователей. Все
                                                    остальное, в том числе «перелива» распространяются по
                                                    интеллектуальному договору.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Могу ли я пригласить ссылки на не покупать первый
                                            уровень?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Вы можете, но стать свободными рефералов и достичь других членов
                                                    системы, а не вы. Так как система не будет «знать» до того уровня
                                                    покупки 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">Какие
                                            уровни в системе?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Уровень: Это состояние, которое дает право на получение
                                                    вознаграждения от ссылок в его «глубине» соответственно.
                                                    <br>
                                                    <br>пример:
                                                    <br>Уровень 1 дает право получить вознаграждение за покупку 1-го
                                                    уровня ссылок, приглашенных лично 2 (направление линии 1).
                                                    <br>Уровень 2 дает право на получение вознаграждения за покупку
                                                    Уровня 2 Справки 4 гостей для своих гостей лично ссылается 2 выше
                                                    (ссылки 2 линии).
                                                    <br>Уровень 3 дает право получить вознаграждение за покупку ссылок 8
                                                    линии 3 Уровень 3.
                                                    <br>Уровень 6 дает право на получение вознаграждения за приобретение
                                                    64 6 уровня опорной линии 6.
                                                    <br>
                                                    <br>Уровень 7 дает право получать вознаграждение за покупку 7 из 128
                                                    ссылок линии 7.
                                                    <br>
                                                    <br>И последний восьмой уровень дает право получить вознаграждение
                                                    за покупку восьмого уровня 8 линии 8 ссылок.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">Если у меня есть Уровень 2 Can I уровень купить 4
                                            сразу без 3-го уровня?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Уровни приобретаются только последовательно и по порядку. Если вы
                                                    пытаетесь купить 4-го уровня, не имея 3-й, умный контракт не будет
                                                    принимать передачу. В этом случае деньги не денутся и останутся с
                                                    вами.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">Что произойдет, если мой реферал, например, линия 3,
                                            уровень 3 хочет купить, но я до сих пор только системы 2-го уровня?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Произойдет следующее:
                                                    <br>
                                                    <br>Плохие новости:
                                                    <br>Деньги не пойдут к вам, но ваш вышестоящий на той же линии, в
                                                    этом случае третий. Если вы покупаете уровни времени, этого не
                                                    произойдет. Кроме того, все последующие уровни (за исключением
                                                    первого) и приобретаются от заработанных денег, а не его
                                                    собственных. Кроме того. Вы видите заранее, когда ситуация
                                                    становится «опасным» и иметь достаточно времени, чтобы купить каждый
                                                    уровень.
                                                    <br>Если это случилось один раз, не страшно, так как усиление на
                                                    каждом уровне (кроме первого) во много раз больше, чем стоимость
                                                    уровня, и даже в этом последнем случае покупки уровня позже,
                                                    финансирование для всех последующих покупок одного и того же уровня
                                                    для остальных ссылок они идут к вам.
                                                    <br>
                                                    <br>Хорошие новости:
                                                    <br>Если кто-то из ваших рефералов не покупают уровень во время,
                                                    деньги, которые вы собираетесь к вам. Если даже один из ваших
                                                    ссылок, например, линия 3, по какой-то причине ушла из системы
                                                    (например, потерял доступ к кошельку), то все ссылки 8 (не его)
                                                    переводные денег третьей линии ВЫ! Все остальные ссылки на 3-й
                                                    строке и передать деньги.
                                                    <br>Один из примеров приведен в качестве примера. Что делать, если
                                                    есть два или больше? Ваш доход увеличивается во много раз.
                                                    <br>
                                                    <br>Результат: Более отвергнутые или неактивные ссылки имеют в своей
                                                    структуре, ТЕХ САМЫХ иногда БУДЕТ ВАШ ДОХОД</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">Что
                                            такое функция «Repeat» и зачем она нужна?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>Функция «повтор» вариант, который позволяет вам повторить выигрыш
                                                    получается все время каждый месяц. Кроме того, каждый из ссылок,
                                                    которые покинули систему умножает свою награду.
                                                    <br>
                                                    <br>Принцип работы подробно описан на стр.<a href="#">Как это
                                                        работает</a>в «Повторить».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">Что произойдет, если вы расширяете уровни в месяц?<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Ваша учетная запись остается в системе навсегда, и в любое время может
                                                расширить и снова получать уровни дохода.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            Авторское право?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Да потому, что никто не заставляет вас передать деньги кому-либо. Все
                                                    сделки являются добровольными.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">Авторское право?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Да потому, что никто не заставляет вас передать деньги кому-либо. Все
                                                сделки являются добровольными.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">Есть ли риск здесь? Что делать, если да, то что?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>На всем участке мы пишем никакого риска в системе. Под этим мы имеем в
                                                виду, что все деньги немедленно переведены на ваш кошелек и в нем
                                                хранятся. Это означает, что нет никакого риска.
                                                <br>
                                                <br>Тем не менее, стоит учесть, что в интервале времени между
                                                регистрацией и записью их первого упоминания, ситуация, в которой он
                                                перешел к его вышестоящим создается 0,08 ETH, но до сих пор не получил
                                                свою первую ссылку ,
                                                <br>Таким образом, технически максимальный теоретический риск 0,08 ETH.
                                                Эти 0,08 ETH будет немедленно возвращен из первой ссылки.
                                                <br>
                                                <br>Даже если специально не приглашать каких-либо ссылок, то рано или
                                                поздно вы будете получать рефералов следующими способами без их участия:
                                                <br>1) переполнить свои восходящие линии,
                                                <br>2) бесплатно система отсчета.
                                                <br>
                                                <br>Таким образом, даже этот символический риск стремится к 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>