<%-include('header');-%><main class="nk-pages">
    <section class="sectionbg-themebg-theme-darktc-light" id="faqs"
        style="overflow:hidden;background:#2a2a2a url(images/dark/bg_faqeth.svg)centercenterrepeat;background-size:contain;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Часто
                    задаваемые вопросы о Эфириуме</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Мы знаем, что могут возникнуть вопросы по
                    поводу работы Эфириума.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">Общие вопросы</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Что
                                            такое астральное и почему она именно используются в системе?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum: криптовалюта является вторым по популярности Bitcoin, и
                                                    первое, по популярности, интеллектуальные контракты.<br><br>Проект
                                                    интеллектуального контракта Эфириума:<br><br>1) Ваш бумажник Эфириум
                                                    не может быть заблокирован или околдовал даже
                                                    теоретически.<br><br>2) CRYPTOHANDS системы: код загружается в
                                                    основной сети Эфириума. Это не может быть удалено или изменено в
                                                    этой сети. Это означает, что ваша учетная запись и система
                                                    CRYPTOHANDS не могут быть взломаны или заблокированы, даже в
                                                    теории.<br><br>3) код полностью открыт, и любой программист в мире
                                                    может гарантировать, что алгоритм работает так, а не
                                                    иначе.<br><br>4) Все сделки являются публичными и автоматически
                                                    принимаются. Средства идут непосредственно на ваш кошелек, так что
                                                    вам не нужно подтверждать или запросить компенсацию. Человеческий
                                                    фактор исключен полностью.<br><br>5) Даже если сайт перестает
                                                    существовать CRYPTOHANDS и администрирование исчезает,
                                                    интеллектуальный CRYPTOHANDS контракта Эфириум сеть будет продолжать
                                                    существовать, и это означает, что такая же система будет продолжать
                                                    свою работу. Даже в этом случае, все счета и платежи продолжают
                                                    функционировать должным образом. Любой программист в мире может
                                                    сделать зеркало сайта одного и того же смарт-контракта, всей
                                                    системы, а также определенной группы.<br><br>6) Вы можете пригласить
                                                    ссылки без сайта на всех. Чтобы зарегистрировать ссылку, вы должны
                                                    отправить его в адрес смарт-контракта 0,05 ETH и поле «ввод данных»
                                                    введите адрес вашего вышестоящим.<br><br>7) Эфириум cryptocurrencie
                                                    позволяет использовать функцию повтора, сохранение децентрализации и
                                                    переводы непосредственно между сторонами путем разумного договора.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Как создать Эфириум бумажник и начать использовать
                                            его?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum портфолио: это, во-первых, две вещи:<br><br>1) Открытый ключ
                                                    - это именно количество Эфириума кошелька. Нет необходимости, чтобы
                                                    скрыть его.<br><br>2) Ваш личный ключ - аналог обычного пароля. Ваш
                                                    персонал. Потеря секретного ключа означает потерю контроля над
                                                    Кошельком. Если кто-то конфисковали его секретный ключ, он
                                                    конфисковал их деньги, и вы не можете изменить его к другому
                                                    секретному ключу. Мы никогда не просим частных ключей<br><br>Есть
                                                    несколько кошельков Эфириума. Особенности и самый популярный и
                                                    простой в использовании каждого из них подробно.</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1) MetaMask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>плагин
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">рекомендуемый</b>
                                                                    </p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>Полная
                                                                        интеграция с CryptoHands. Регистрация и все
                                                                        дополнительные покупки уровней в 1 клик все
                                                                        дополнительные поля заполняются автоматически.
                                                                    </p>
                                                                    <p><i class="fas fa-key faqeth_adv_icon_i"></i>Это
                                                                        позволяет экспортировать и импортировать
                                                                        закрытые ключи, а это значит, сохранив полный
                                                                        контроль над вашим бумажником Эфириумом.</p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>Удобный
                                                                        и простой в использовании. Это дополнение
                                                                        наиболее популярный бумажник и безопасный для
                                                                        браузера. Вы можете отключить или удалить его из
                                                                        браузера в любое время, при этом все детали
                                                                        доступа остальные.</p>
                                                                    <p style="text-align: center;">детальнее<a href="."
                                                                            target="_blank">Часто задаваемые вопросы о
                                                                            MetaMask</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2) Целевой
                                                                    кошелек</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>мобильное
                                                                    приложение</span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">рекомендовать</b> </p>
                                                            <p><i class="fas fa-handshake faqeth_adv_icon_i"></i>Полная
                                                                интеграция с CryptoHands через встроенный браузер Dapps.
                                                            </p>
                                                            <p> <i
                                                                    class="fas fa-th-large faqeth_adv_icon_i"></i>Вставить
                                                                ссылку Dapps ссылку на встроенный браузер и
                                                                зарегистрировать все покупки будет позже на уровне в 1
                                                                клик.</p>
                                                            <p><i class="fas fa-key faqeth_adv_icon_i"></i>Это позволяет
                                                                импортировать закрытые ключи. Если у вас уже есть
                                                                астральная бумажник, вы также можете использовать
                                                                мобильное приложение.</p>
                                                            <p><i
                                                                    class="fas fa-mobile-alt faqeth_adv_icon_i"></i>Приложение
                                                                просто в использовании и имеет интуитивно понятный
                                                                интерфейс.</p>
                                                            <p style="text-align: center;">детальнее<a href=""
                                                                    target="_blank">Часто задаваемые вопросы Trust
                                                                    Wallet</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3) MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>Интернет-версия</span></b>
                                                        </p>
                                                        <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>Нет
                                                            необходимости устанавливать дополнения и приложения. Все
                                                            операции производятся непосредственно с сайта MyEtherWallet.
                                                        </p>
                                                        <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>Все
                                                            дополнительные общие поля и заполняются вручную. Только для
                                                            продвинутых пользователей.</p>
                                                        <p>детальнее<a href="" target="_blank">Часто задаваемые вопросы
                                                                о MyEtherWallet</a> </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span style="color:#ff3b30">Важно!</span>Если вы
                                                        зарегистрировали Эфириум кошелька в службе, вы всегда можете
                                                        продолжать использовать его с другим. Например, если оно
                                                        записано Эфириума через MetaMask, вы можете продолжать
                                                        использовать тот же самый кошелек через MyEtherWallet и
                                                        наоборот. Все, что вам нужно: закрытый ключ.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Как пополнить свой кошелек Эфириума?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Через обмен службы (рекомендуется):<br>1) Перейти на сайт
                                                    bestchange.com. Это мониторинг обменного испытанный с благоприятными
                                                    обменными курсами платежных систем и наиболее популярными банками в
                                                    большинстве стран.<br>2) Выберите соответствующую платежную систему,
                                                    через которую вы хотите обменять на Эфириум.<br>3) Выберите
                                                    правильный обменник с лучшей скоростью.<br>4) Перейти на сайт
                                                    выбранного обменника и следовать простым инструкциям. Обмен, как
                                                    правило, быть автоматическим и подтверждена мгновенно.<br>5)
                                                    Убедитесь, что вы получили средства в вашем бумажнике
                                                    Эфириума.<br><br>примечания:<br>Оплачиваемый с банковскими картами
                                                    обменник могут запросить подтверждение карты в первый раз. Обычно
                                                    это изображение карты в нижней части страницы обмена. Последующие
                                                    платежи будут мгновенно.<br>Если вы не хотите, чтобы проверить вашу
                                                    карту на сайте обменник, вы можете сначала пополнить счет другой
                                                    системы мгновенной оплаты с банковской карты (не через
                                                    теплообменник, но и в самой платежной системе), а затем направить
                                                    эти средства на Эфириума бумажник с другой проверкой платежной
                                                    системы.<br><br>Через службу LocalEthereum:<br>1) Перейти к
                                                    localethereum.com. Это торговый сервис<br>Эфириум и продажи через
                                                    любую платежную систему.<br>2) Регистрация. Это быстро.<br>3)
                                                    Выберите соответствующий обмен для вашей страны.<br>4) Выполните
                                                    обслуживание простой.<br>5) Убедитесь, что вы получили средства в
                                                    вашем<br>Эфириума бумажник.</p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">Как вывести средства из бумажника Эфириума других
                                            платежных систем?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Вывод Эфириума такого же, как зарядка, вы должны выбрать только
                                                    направление обмена противоположного.<br>Примечание. Bestchange.com
                                                    услуга право отозвать любые суммы банковских карт, даже мгновенно и
                                                    автоматически популярных банков.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">Что такое «Газ», «цены на газ» (Gwei) и «лимит
                                            газа»?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Газ (газ) - это вычислительный блок используется для расчета и
                                                    платить плату за действия или конкретной сделки.<br><br>Цены на
                                                    бензин (Gwei) - цена, что шахтеры должны платить за расчеты.
                                                    Основной принцип остается тем же: вы платите больше, сделка будет
                                                    быстрее. Текущая цена бензина можно найти здесь:
                                                    https://etherscan.io/gastracker.<br><br>Если поставить небольшие
                                                    цены на бензин, то сделка не будет уменьшаться, пока нагрузка на
                                                    сеть Эфириума. Это может занять до нескольких часов.<br><br>Предел
                                                    газа - максимальное количество газа, который может заплатить за
                                                    сделку. Рекомендуемое предельное значение газа = 400000. В некоторых
                                                    приложениях Предельное значения по умолчанию газа = 1000000. Это не
                                                    означает, что вы будете платить больше за одну транзакцию. Офис, в
                                                    любом случае, они неизрасходованный остаток средств
                                                    снова.<br><br>Если установить небольшой лимит газа, сделка и
                                                    средства не вернутся на баланс, но часть комиссии в этом случае вы
                                                    все равно будете заряженной.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">Почему вы в ожидании сделки?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Скорее всего, причина: низкая цена газа (Gwei). Текущая цена газа
                                                    можно найти здесь: https://etherscan.io/gastracker</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">Почему отвергает сделку?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Наиболее вероятной причиной является малой величиной предела газа. Мы
                                                    рекомендуем установить предел 400000 газа.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">Почему enviarl появляется Сделке «недостаточно
                                            средств», если средств достаточно с запасом?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Некоторые бумажники Эфириум, например, Trust Wallet, устанавливает
                                                    предельный газ 1000000 по умолчанию. Помните, что это не означает,
                                                    что вы будете платить больше, это означает, что должна быть оговорка
                                                    в бумажнике. Попробуйте уменьшить эту сумму до 400000.<br><br>Если,
                                                    в конце концов, до сих пор пишет, что нет достаточного количества
                                                    средств, то, возможно, сеть Эфириума грузов больше, чем обычно,
                                                    например, 20 или 40 Gwei Gwei (нормальное значение 5 Gwei). В этом
                                                    случае, вы можете ожидать, чтобы уменьшить нагрузку на сеть. Вы
                                                    можете уменьшить (для некоторых) цен на газ самостоятельно, но тогда
                                                    сделка будет занимать больше времени, до нескольких часов, а не
                                                    нескольких секунд. Вы можете также добавить некоторые средства на
                                                    кошелек, так что было достаточно, чтобы совершить
                                                    сделку.<br><br>Пожалуйста, обратите внимание, что комиссия по
                                                    оценкам, было написано в сделке не королевская комиссия, но ее
                                                    максимально возможное значение, если весь лимит исчерпан газ.
                                                    Фактическая скорость транзакций будет значительно ниже.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>