<div class="header-main">
    <div class="header-container container">
        <div class="header-wrap">
            <!-- Logo @s -->
            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".65">
                <a href="./" class="logo-link">
                    <img class="logo-dark" src="images/dark/logo.png" srcset="images/dark/logo.png 2x" alt="logo" style="height: 30px;">
                    <img class="logo-light" src="images/dark/logo.png" srcset="images/dark/logo.png 2x"
                        alt="logo" style="height: 30px;">
                </a>
            </div>

            <!-- Menu Toogle @s -->
            <div class="header-nav-toggle">
                <a href="#" class="navbar-toggle" data-menu-toggle="example-menu-04">
                    <div class="toggle-line">
                        <span></span>
                    </div>
                </a>
            </div>

            <!-- Menu @s -->
            <div class="header-navbar header-navbar-s1">
                <nav class="header-menu" id="example-menu-04">
                    <ul class="menu menu-s2 animated" data-animate="fadeInDown" data-delay=".75">                        
                        <li class="menu-item "><a
                                class="menu-link nav-link <%= url == 'home' ? 'active' : '' %>"
                                href="/">инициирование
                            </a></li>
                        <li class="menu-item"><a
                                class="menu-link nav-link <%= url == 'comofunciona' ? 'active' : '' %>"
                                href="/comofunciona">Как это работает
                            </a>
                        </li>
                        <li class="menu-item"><a
                                class="menu-link nav-link <%= url == 'faq' ? 'active' : '' %>"
                                href="/faq">
                                вопрошающий часто</a></li>
                        <li class="menu-item"><a
                                class="menu-link nav-link <%= url == 'faqeth' ? 'active' : '' %>"
                                href="/faqeth">Об Эфириуме
                            </a>
                        </li>

                        </li>
                        <!-- <li class="menu-item has-sub">
                            <a class="menu-link nav-link menu-toggle" href="#">More</a>
                            <ul class="menu-sub menu-drop">
                                <li class="menu-item"><a class="menu-link nav-link"
                                        href="#media-partner">Media Partner</a></li>
                                <li class="menu-item"><a class="menu-link nav-link" href="#blog">Blogs</a>
                                </li>
                                <li class="menu-item"><a class="menu-link nav-link" href="#faqs">Faqs</a>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                    <ul class="menu-btns animated" data-animate="fadeInDown" data-delay=".85">
                        <li><a href="/signup"
                                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme btn-round"><span>Зарегистрировать аккаунт
                                </span></a>
                        </li>
                        <li><a href="/login"
                                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme btn-round"><span>Войти в систему
                                </span></a></li>
                    </ul>
                </nav>
            </div><!-- .header-navbar @e -->
        </div>
    </div>
</div><!-- .header-main @e -->