<%- include('dash_header'); -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
<script type="text/javascript">
    
</script>


<div id="right-col" class="pa-right-col" style="min-height: 0px; margin-bottom: 0px; ">

    <div class="row">
        <div class="col-mb-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pa-well text-center " style="background-color: #3746ff00 !important;">
                <h3 style="color: white;padding:30px 0px">Мои рефералы
                </h3>


                <div class="row" style="">
                    <div class="col-mb-12 text-center">
                        
                        <div style="text-align: center;">
                            <div id="mynetwork" style="display: inline-block; height:800px; width: 100%;"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>




    <%- include('dash_footer'); -%>