<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    Сроки и условия
                </h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            УСЛОВИЯ ОБСЛУЖИВАНИЯ
                            <br>
                            <br>
                            -----
                            <br>
                            <br>
                            ОБЩИЕ СВЕДЕНИЯ
                            <br>
                            <br>

                            Проект DOUBLEHANDS, созданный HUMANS FOR HUMANS.<br>
                            <br>
                            Кем?<br>
                            Люди, которые уже создали проекты, которые вы прекрасно знаете, и которые имеют
                            Был большой успех. Для людей, которые давно стали миллионерами
                            время. Для людей, которые мечтали сделать что-то хорошее для людей. Что-то хорошее
                            это объединит все лучшее из прошлого опыта. То, что не будет заблокировано или
                            разрушаемость. То, что даст каждому участнику богатство и изобилие. Не один раз, но
                            в течение многих лет. И с появлением криптовалюты наконец-то выяснилось, что
                            возможность. <br>
                            <br>
                            Для кого?
                            <br>
                            Для людей, которые что-то делают. Для людей, которые жили в изобилии
                            давно и хочется еще больше. И для людей, которые только начали
                            Образ жизни в материальном благополучии. Для людей, которые готовы
                            поделитесь чем-нибудь хорошим со своими близкими. Для людей, которые прогрессируют и не
                            знают
                            они останавливаются ДЛЯ КАЖДОГО из нас<br>
                            <br>
                            Что это за проект?
                            <br>
                            Проект DOUBLEHANDS: умный аккаунт, который никому не принадлежит. Это
                            Специфика криптовалюты Ethereum. Умный контракт: это алгоритм
                            распространение криптовалют, которые после загрузки в сеть Ethereum больше не работают
                            Вы можете редактировать, изменять или удалять. <br>
                            <br>
                            DOUBLEHANDS smartcontract загружается в криптовалютную сеть Ethereum и даже в
                            Теория, никто не может изменить или удалить его, включая его создателей. Таким образом,
                            никто и ничто не может остановить работу Системы, даже если
                            сайт закрывается и управление исчезает. Система DOUBLEHANDS не относится к
                            никто и работает независимо от сайта. <br>
                            <br>
                            Учетная запись каждого участника находится в умном договоре, но не на сайте,
                            причина, по которой ни администрация сайта не может ни заблокировать, ни устранить ее. Сайт
                            Веб-сайт DOUBLEHANDS в вашем аккаунте (без пароля) показывает только информацию для каждого
                            учетная запись взята из Ethereum умного договора. Поэтому это невозможно
                            взломать аккаунт и изменить кошелек участника. <br>
                            <br>
                            Создатели этой системы имеют точно такие же аккаунты, что и каждый участник.
                            без каких-либо особых привилегий. Авторы проекта ОЧЕНЬ искушаются создать
                            различные интернет-проекты и доходы, не только в области финансов,
                            но во многих других. Поэтому DOUBLEHANDS - это проект, в котором его создатели
                            УЧАСТВУЙТЕ С УДОВОЛЬСТВИЕМ. Так что проект может понравиться многим другим
                            человек. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ
                            <br>
                            <br>
                            Администрация сайта НЕ СОБСТВЕННА от проекта DOUBLEHANDS и не имеет
                            техническая возможность снимать деньги с участников. <br>
                            <br>
                            Все расчеты производятся непосредственно среди участников через умный контракт. <br>
                            <br>
                            Умный контракт, который никому не принадлежит, не накапливает средства у участников, но
                            мгновенно перенаправляет средства между участниками в соответствии с заранее подготовленным
                            алгоритмом. <br>
                            <br>
                            Администрация сайта DOUBLEHANDS не несет ответственности за работу умный контракт, а также
                            возможные ошибки в коде и работе умный контракт, для возможной потери средств участниками
                            системы. <br>
                            <br>
                            Слова "доход", "доход" и подобные определения на сайте взяты из
                            Реклама носит характер и не является публичной офертой. <br>
                            <br>
                            Все переводы являются добровольными и бесплатными.
                            <br>
                            <br>
                            САЙТ DOUBLEHANDS НЕ ПРОЕКТ, а показывает только общедоступную информацию, взятую из
                            смарт-контракта DOUBLEHANDS, который НЕ ПРИНАДЛЕЖИТ администрации сайта DOUBLEHANDS.
                            <br>
                            <br>
                            Личный кабинет участника на сайте доступен всем без пароль и НЕ ПОДДЕРЖИВАЙТЕ ЛИЧНОЙ
                            ИНФОРМАЦИИ участников система. Личный кабинет показывает статистику каждого участника
                            Система, взятая из умного контракта DOUBLEHANDS. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            КОНТАКТНАЯ ИНФОРМАЦИЯ
                            <br>
                            <br>
                            Вопросы о системе, правилах и соглашениях вы можете задать по почте
                            электронный @ doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>