<%-include('header');-%><main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4"></span> <span class="line-5"></span><span class="line-6"></span><span
                            class="line-7"></span>
                        <span class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">Wie
                    funktioniert es?</h2>
            </div><!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    Vier einfache Schritte</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1. Anmeldung</h4>
                            <p class="step-description">0,08 ETH Ihre Upline senden, die nach dem ersten Bezug zurück
                            </p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2. Melden</h4>
                            <p class="step-description">1, kein Passwort klicken Sie (wir fragen nie private Schlüssel)
                            </p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3. Gewinnung von Empfehlungen</h4>
                            <p class="step-description">Attract Einladungen oder Empfehlungen des Systems erwarten</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4. Erträge</h4>
                            <p class="step-description">Erhalten Mittel unmittelbar an der ETH Geldbörse ohne
                                Bestätigung oder Zahlungsanforderungen</p>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">detaillierter Betrieb</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0. Astraleum</h3>
                            <div>Wenn Sie eine Brieftasche Astraleum Lese m nicht so drauf haben [FAQ Astraleum</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1. Melden</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">0,08 ETH send aus der Brieftasche Astraleum Ihrer
                                Upline. Und der erste Nutzer kam, nachdem er diesen Betrag zurück.<br><br>Das sendet
                                0,08 ETH an die Adresse Smart Vertrag und eine Reihe von Ihrer Brieftasche Astraleum
                                Upline im Pflichtfeld „Dateneingabe“ eingeben (andernfalls wird der Smart-Vertrag nicht
                                die Übertragung übernehmen und die Mittel bleiben mit Ihnen). Wenn Sie MetaMask
                                verwenden, wird die Transaktion mit einem Klick erledigt 1 und die Adresse Ihrer Upline
                                wird in den „Eingangsdaten“ AUTOMATISCH Feld eingefügt werden.<br><br>Intelligente
                                Vertrag leitet sofort die Mittel zu Ihrer Upline erste Zeile (direkte Einladenden) und
                                Abtretungsempfänger der ersten Ebene in das System ein. Eine erfolgreiche Transaktion
                                wird im System und der 1. Ebene auf Ihr Konto (Details auf den Ebenen unten) zugeordnet
                                registrieren. Einfache und klare Führung auf Seite. Abonnieren.</div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                Wichtig! Wenn die Adresse Ihrer Brieftasche, aus dem Fond sendet in CryptoHands ist,
                                dann können Sie nicht aufsteigende Linie angeben, sondern lediglich die Mittel zur
                                Richtung des Smart-Vertrages übertragen. In diesem Fall ist die Linie nach oben seine
                                Aufwärts nächste CryptoHands Linie, die DoubleWay ist. Nicht nur überläuft es erhalten,
                                aber auch andere Referenzen, die später als Sie aufgenommen wurden, auch wenn sie ihre
                                uplines in CryptoHands waren.</div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">Diese werden 0,08 ETH vollständig nach der ersten
                                Referenz zurückgegeben.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2. Melden</h3>
                            <h4>2.1.</h4>
                            <div class="step-detail-description">Anmeldung zu Ihrem Konto, indem nur die Zahl der
                                Brieftasche Astraleum (kein Passwort) oder durch MetaMask eingeben.<br><br>Das Konto
                                kann seine gehackten nicht, denn es gibt nichts, dass Produktpiraterie und kein
                                Passwort. Wenn Sie die Adresse auf Ihrem Konto eingeben, werden diese Informationen
                                Brieftasche Kette blockiert und angezeigt Astraleum genommen werden, kann niemand das
                                Konto sperren, einschließlich der Verwaltung des Projekts und Geldbeutel kann nicht zu
                                einem anderen geändert werden.<br><br>Astraleum Ihren Geldbeutel nicht aufgrund
                                blockieren Dezentralisierung. Dies ist ein Merkmal der Kryptowährung.<br><br><span
                                    style="color: red">Wir bitten Sie niemals Ihren privaten Schlüssel
                                    einzugeben.</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3. Gewinnung oder Warte Einladungen</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">Nach dem Kauf der Stufe 1, können Sie persönlich
                                einladen 2. Diese Referenzen sind Referenzen 1. Zeile.</div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">Wenn Sie zwei Referenzen eingeladen haben, und dann die
                                3. eingeladen, werden Sie automatisch auf Ihre Referenzen, um von der Spitze der Liste
                                gerichtet und wenn jeder von ihnen zwei besetzten Räume hat, werden Sie richten Ihre
                                Referenz zu verweisen. Überläufe Linien laufen, bis einschließlich 10. Details häufig
                                gestellte Fragen.</div>
                            <h4 style="margin-top:80px">3.3. kostenlos Empfehlungen.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">Gratuitous Referenzen sind gleichmäßig über das gesamte
                                System verteilt, mit den aufsteigenden Linien beginnen, die zuvor in dem System
                                aufgenommen wurden.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4. Erträge</h3>
                            <h4>4.1. (1-Pegel)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">Die erste Referenz wird aus dem System eingeladen oder
                                empfangen wird 0,08 ETH übertragen. Und Referenzen 2 der 1. Zeile können 0,16 ETH
                                insgesamt erhalten.</div>
                            <h4 style="margin-top:80px">4.2. (2-Pegel)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">Dann überträgt alle ETH 0,16 bis Ihre Upline Upline
                                (Ihre Upline zweite Zeile), so dass die zweite Ebene zu kaufen.<br>Die zweite und alle
                                nachfolgenden Stufen können sofort nach dem Kauf von der vorherigen Ebene gekauft
                                werden, ohne zu warten, für alle Räume sind mit Referenzen gefüllt. Weitere
                                Informationen unter.<br>Wenn Sie die Stufe 2 ihrer Upline der zweiten Zeile Referenzen
                                Referenzen (Referenzen oder 2. Zeile) erwerben kann das Niveau 2 Personen 4 0,16 ETH
                                kaufen übertragen ihn und Sie haben 0,64 ETH in der zweiten Gesamtniveau.</div>
                            <h4 style="margin-top:80px">4.3. (3 Stufen)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">Nach der zweiten Ebene Kauf können Sie die 3. Ebene
                                kaufen, eine Transaktion 0,32 ETH seine Upline 3. machen.<br>8 Referenzen jetzt die
                                dritte Zeile die dritte Ebene kaufen. Insgesamt 2,64 ETH und kann auf der 3. Ebene auf
                                Sie übertragen werden.</div>
                            <h4 style="margin-top:80px">4.4. (4-Pegel)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">Sie können durch die Übertragung von 0,64 ETH seine
                                Upline 4. Zeile der 4. Ebene kaufen. 16 Referenzen der 4. Zeile können Sie von der ETH
                                0,64 je übertragen werden. Und in der 4. Ebene können Sie von 10.24 ETH insgesamt
                                übertragen werden.</div>
                            <h4 style="margin-top:80px">4.5. (5-Ebene)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">Level 5 kann eine Transaktion von 1,28 ETH seiner Linie
                                vor der 5. Zeile kaufen. Danach können ihre Online-Referenzen 5st die 5. Ebene kaufen.
                                Jede der Referenzen 32 sendet ETH 1,28. Insgesamt kann es an der ETH 40.96 5. Ebene
                                übertragen werden.</div>
                            <h4 style="margin-top:80px">4.6. (Stufe 6)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">Stufe 6 kann von Ihrer Upline Linie 6 durch eine
                                Übertragung von 2,56 ETH erworben werden.<br>die 6. Ebene 6.-line Referenzen Nach dem
                                Kauf kann eine sechste Ebene kaufen. 64 Personen können Sie übertragen 2,56 ETH für
                                jeden von ihnen. Insgesamt werden Sie von ETH 163,84 auf der sechsten Ebene übertragen.
                            </div>
                            <h4 style="margin-top:80px">4.7. (7-Ebene)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">Um die 7. Stufe zu erwerben, müssen Sie 5,12 ETH seine
                                Upline 7RD übertragen. Nach der 7. Stufe Kauf Referenzen der 7. Zeile kann 7. Stufe
                                kaufen. 128 Personen können Sie für jeden von ihnen ETH 5,12 bewegen. Insgesamt in der
                                7. Stufe können Sie von der ETH 655,36 übertragen werden.</div>
                            <h4 style="margin-top:80px">4.8. (8 Pegel)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">Um die neueste 8. Ebene zu erwerben, müssen Sie seine
                                10,24 ETH Upline der 8. Zeile übertragen.<br>Nach der 8. Ebene Kauf können Sie ETH 10.24
                                Erweiterungen von 256 Ihre Online-Referenzen 8. zugegriffen werden. Insgesamt in der 8.
                                Ebene können Sie ETH 2.621,44 erhalten.</div>
                            <h4 style="margin-top:80px">4,9 Gesamteinnahmen</h4>
                            <h5 style="margin-top:80px">4.9.1 Gesamter pro Monat.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">Streng Einkommen 64 Tage: 3.495,2 ETH. Der Nettogewinn
                                für 64 Tage: 3.474,8 ETH. (Next: 3500 ETH).</div>
                            <h5 style="margin-top:80px">4.9.2 Gesamter pro Monat.</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">Streng Jahreseinkommen: 20.971,2 ETH. Der Nettogewinn
                                pro Jahr: 20.848,8 ETH. (Next: 20000 ETH).<span style="color:#ff3b30">*</span> <span
                                    style="color:#ffcc00">**</span><span style="color:#4cd964">***</span> <br><br><span
                                    style="color:#ff3b30">*</span>Die Summe von 20.000 pro Jahr ohne ETH Profit ist der
                                theoretisch maximal möglicher Gewinn, was fast unmöglich ist, im ersten Jahr zu
                                erhalten, und die Wahrscheinlichkeit des Empfangens 0% nähert.<br><br><span
                                    style="color:#ffcc00">**</span>In der Praxis real, tut der Hälfte dieser Menge ist
                                durchaus realistisch, und die Wahrscheinlichkeit des Empfangens neigt zu 100% bereits im
                                ersten Jahr.<br><br> <span style="color:#4cd964">***</span>Aber mit der „Repeat“
                                -Funktion, die Fähigkeit zum ETH 20.000 pro Jahr (und dank inaktiven Referenzen) neigt
                                sie dazu, zu 100% für jedes Mitglied DOUBLEWAY.<br><br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5. Was kommt als nächstes? Wiederholt jeden Monat.</h3>
                            <h4></h4>
                            <div class="step-detail-description">Es hat sich selbst eingeladen + 4 Referenzen die zweite
                                Zeile + 2 Referenzen die dritte Zeile + 8 Referenzen die vierte Zeile usw. = 3 verweist
                                auf eine Struktur von 2 Referenzen geschaffen, und hat bereits mehr als 16 ETH ungefähr
                                empfangenen Jahr, so what? Ein nur einmal für das Geld und das ist
                                es?<br><br>Schließlich stoppt kommt das Geld für Sie und alle Erlöse tauchen Sie ein in
                                die Struktur. Und die Kosten für wiederholte Käufe von Ebenen ist unvergleichlich
                                billiger als die Gewinne, die bereits erhalten haben, und kann wieder erhalten, wenn Sie
                                alles von Anfang an wiederholen. Und schon hat es Referenzen, so dass keine
                                Notwendigkeit jemand anderes zu laden. Daher kaufen wieder alle Ebenen, beginnend mit
                                dem ersten. Und deshalb alle zwei Monate zurückerhalten die Menge die ganze Zeit
                                erhöht.<br><br>Alle Verweise zurückgekauft NO-Werte alle zwei Monate für Sie alle
                                Verweise auf die gleiche Linie ein „Gateway“ zu werden.<br><br>Daher bleiben weniger
                                Menschen in ihrer Struktur ist, desto größer Ihre Gewinne.<br><br>Das Prinzip der Arbeit
                                ist ähnlich Absatz 4.10.<br><br>Jeder Level dauert 64 Tage. Jede Ausbaustufe ist
                                zugleich. Jede Ebene kann für maximal zwei Perioden von 64 Tagen im Voraus gekauft
                                werden. Wenn Sie Ihre Referenzpegel 2 mal hintereinander gekauft haben, dann bekommen
                                Sie das ganze Geld. Daten aus allen Ebenen in einem persönlichen Konto bequem
                                dargestellt.</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6. Gewinnung oder indirekten Verweisen warten</h3>
                            <div class="step-detail-description">Wenn Sie eine große Struktur aufzubauen, die Geld alle
                                zwei Monate erhalten, nur Umsätze zu steigern und wenn Referenzen inaktiv werden, welche
                                Garantie erhalten, wenn die Site nicht schließt oder wenn die Verwaltung wird es nicht
                                versäumen, das Projekt zu unterstützen?</div>
                            <h4 style="margin-top:80px">6.1. Astraleum sicherzustellen, dass Ihre Geldbörse nicht
                                blockiert werden ..</h4>
                            <div class="step-detail-description">Astraleum Portemonnaie Blocking ist unmöglich, durch
                                Definition aufgrund der Eigenschaften von blockchain.<br><br>Die Rückseite der Münze:
                                Wenn Sie die Kontrolle über Ihre Geldbörse verlieren, niemand wird
                                zurückkehren.<br><br><span style="color:#ff3b30">Wir bitten Sie niemals Ihren privaten
                                    Schlüssel einzugeben.</span></div>
                            <h4 style="margin-top:80px">6.2. Sicherstellen, dass Ihr Konto in dem NO-System blockiert
                                oder gehackt.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">Block oder kapert ein Konto per Definition auch nicht
                                möglich ist. Ihr Konto ist nicht auf der Website und Server, aber in dem Smart-Vertrag
                                Astraleum das Hauptnetz. Dies bedeutet, dass jeder, auch diejenigen, die einen
                                intelligenten Vertrag entwickeln kann es nicht ändern, korrigieren oder es in der
                                Theorie entfernen.<br><br>Site-Informationen sind in Ihrem Konto ohne Passwort zur
                                Verfügung, aufgenommen und auf die Website aus öffentlichen Statistiken intelligenten
                                Astraleum Vertrag.</div>
                            <h4 style="margin-top:80px">6.3. Die Garantie, die gegen Beendigung des Standorts und das
                                Verschwinden der Verwaltung geschützt ist.</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">Smart, Vertrag und Konto existieren autonom von der
                                Website, und sogar in der Nähe der Ort nicht auf das System Änderungen vornehmen, da
                                jedes seiner Entnahmen Referenzen erhöhen ihre Gewinne wiederholen (Beispiel oben in der
                                Erläuterung 4.9 sehen) .</div>
                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">Jeder Programmierer in der Welt kann einen Mirror des
                                gleichen Smart Vertrages machen.</div>
                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">Gruppenleiter (beide Ihrer Upline und Referenzen darin)
                                kann eine Website für einen bestimmten Computer erstellen.<br><br>Jedes Mitglied ist
                                geschützt, auch für diesen Punkt. Werden Sie jetzt Mitglied, während alles gerade erst
                                begonnen!))</div>
                        </div>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>