<%- include('header'); -%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Häufig
                    gestellte Fragen</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Wir wissen, dass Sie Fragen über den Betrieb
                    des Systems haben.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">System</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">Anmeldung</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Empfehlungen</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">Ebenen</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Funktion „Repeat“</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">Risiken</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Vor dem
                                            Aufkommen von ähnlichen Systemen bereits criptomonedas existierte Warum ist
                                            es besser?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ja, in der Tat, solche Systeme existieren seit 5 Jahren und vor dem
                                                    Aufkommen des Internets, und sie arbeiten. Allerdings hatte er
                                                    mehrere große Probleme:<br><br>1) Verschiedene Zahlungssysteme
                                                    ständig blockiert Portemonnaies Teilnehmer.<br>2) Bestätigung
                                                    manuelle Transfers mit allen sich daraus ergebenden Konsequenzen in
                                                    Form von menschlichen Faktor und ständige Verfahren, die Mittel an
                                                    die übertragen und wer nicht.<br>3) Es gab keine Wiederholung. Eine
                                                    Person einmal eine Struktur und einmal Geld erhalten, erstellt,
                                                    obwohl relativ groß. Und dann bekamen sie alle Drehungen tief in die
                                                    Struktur und die Teilnehmer nicht mehr haben.<br>4) In der Nähe oder
                                                    Hack eine Website, eine Blockade des Systems gemeint, und manchmal
                                                    Hack-Sites.<br><br>Die Criptomonedas und Astraleum löst all diese
                                                    Probleme:<br><br>1) Wallet kann nicht einmal in der Theorie
                                                    blockiert werden. Die Rückseite der Medaille: in jedem Fall nicht
                                                    verlieren die Kontrolle über Ihren Geldbeutel. Es wird unmöglich
                                                    sein, den Geldbeutel mit anderen zu ersetzen.<br>2) öffentliche
                                                    Transaktionen und sofortige automatische Bestätigungen. Der
                                                    menschliche Faktor ist vollständig ausgeschlossen.<br>3) Wir haben
                                                    die „Repeat“ -Funktion, die die Teilnehmer zuvor in anderen Systemen
                                                    angewandt hatten. Sobald erstellen Sie eine Struktur und Einkommen
                                                    erhalten jedes Jahr. Wenn die Menschen in Ihrer Struktur nicht seine
                                                    Teilnahme verlängern jedes Jahr erhöht Ihr Einkommen oft. Mehr auf
                                                    Seite Wie es funktioniert in der „REPEAT“ Abschnitt. 4) Schließen
                                                    oder kapern die Website in irgendeiner Weise den Betrieb des Systems
                                                    beeinträchtigen, da die intelligente CRYPTOHANDS Vertrag in das
                                                    Hauptnetz Astraleum geladen wird, und niemand kann es löschen,
                                                    einschließlich seiner Entwickler.<br><br>Dies bedeutet, dass zum
                                                    ersten Mal in der Geschichte der Menschheit (egal, wie Ton laut),
                                                    gibt es eine echte 100% ige Garantie, dass das Konto nicht unerlaubt
                                                    werden, und auch nur theoretisch, wenn die Seite geschlossen ist,
                                                    der Smart-Vertrag und System selbst wird weiterhin ohnehin vorhanden
                                                    sind.<br>Darüber hinaus kann jeder Programmierer in der Welt eine
                                                    neue Website erstellen, die auf dem gleichen intelligenten Vertrag
                                                    basiert und jeder Führer der Struktur kann eine Website-Struktur auf
                                                    demselben Smart Vertrag machen. Daher wird das System von jeder
                                                    Handlung durch die Verwaltung des Projektes geschützt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Wie hier Geld zu machen?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidop Startanleitung ist in der<a href="#">Zuhause</a>im Abschnitt
                                                    „So funktioniert es“.<br>Detaillierte Anweisungen sind auf einer
                                                    separaten Seite.<a href="#">So funktioniert es</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Was sind die Garantien, dass sie nicht in der Nähe
                                            werden oder mein Konto sperren?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Dies ist eine der wichtigsten Fragen!<br><br>Zum ersten Mal in der
                                                    Geschichte der Menschheit gibt es 99%, aber 100% garantiert, dass
                                                    niemand die Brieftasche oder Ihr Konto sperren kann, einschließlich
                                                    der Verwaltung des Projektes (das ist ein Merkmal von
                                                    Kryptowährung).<br><br>Die guaratees werden auf der Seite
                                                    geschrieben. So funktioniert es in dem letzten „Garantien“
                                                    Punkt.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">Wie
                                            in DoubleHands registrieren?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Anmeldung per Login (E-Mail oder Telefon) und das Passwort ist ein
                                                    veraltetes Konzept. Da der Verlust des Zugangs zu der Mail bedeutet
                                                    verlorenen Zugriff auf das Konto.<br><br>Der erfolgreiche Erwerb der
                                                    ersten Stufe seiner Linie steigt die Tatsache der
                                                    Registrierung.<br><br>Kurzanleitung ist in der Seite
                                                    SIGN:.<br><br>Ausführliche Anleitung Wie es im Abschnitt „Register“
                                                    arbeitet.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">Ist es möglich, ohne Upline (Einladenden)
                                            registrieren?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Es ist unmöglich, ohne die Upline in das System einloggen. Wenn Sie
                                                    Upline nicht angeben, wird intelligenter Vertrag nicht die
                                                    Transaktion annehmen. Das ist einer der wesentlichen Punkte in der
                                                    Ebene der Idee.<br><br>Das Feld „Daten“ kein Kommentar oder ein
                                                    zusätzliches Merkmal jedes Portemonnaie. Dies ist ein integraler
                                                    Teil der Kette selbst Astraleum Blöcke.<br><br>Während die
                                                    automatische Registrierung über einen Einladungslink oder QR-Code
                                                    des Einladenden, werden alle Daten, einschließlich der „Daten“ mit
                                                    der Adresse Ihrer Upline, werden automatisch festgelegt. Klicken Sie
                                                    einfach auf den Button „Register mit einem Klick.“<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">Wie Ihr Konto zugreifen?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Sie können Ihr Konto auf Seite SIGNING zugreifen<br><br>Sie melden
                                                    sich an Ihrem Konto ganz ohne Passwort und Konto kann nicht gehackt
                                                    oder blockiert werden.<br><br>Erfahren Sie, wie Ihr Konto auf dem
                                                    anmelden Wie es Seite in der „Login“ Works.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Muss
                                            ich Verweise gewinnen?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Obwohl die Basis des Systems eine Struktur von Referenzen zu bauen
                                                    ist, und Referenzen sind die Quelle von Ihrem eigenen Vorteile, eine
                                                    interessante Tatsache ist, dass Referenzen erforderlich
                                                    sind.<br><br>Neben der Einladung können Sie Referenzen von zwei
                                                    Möglichkeiten erhalten: „Überlauf“ und „freie Referenzen“. Für jede
                                                    dieser Methoden, lesen Sie weiter unten in den folgenden Absätzen.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">Wie viele Empfehlungen kann laden und wie sie
                                            verteilt sind?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Persönlich kann ich lade nur zwei Referenzen, die direkt an Sie
                                                    gebunden sind, und werden als „Referenzen die erste Zeile.“<br><br>2
                                                    Referenzen 1. Zeile (von Ihnen persönlich eingeladen) lädt auch 2
                                                    seiner Referenzen. Diese Teilnehmer in der Struktur 4 sind
                                                    „Referenzen 2. Zeile“.<br><br>Dann wird durch Analogie, hat es
                                                    Bezugszeichen 8 und Referenzen 3. Zeile 16, Zeile 4.<br><br>Wenn
                                                    weiterhin Verweise auf einladen, wenn bereits zwei hat, werden
                                                    nachfolgende Verweise auf die Tiefe der Struktur befestigt und
                                                    Referenzen der 2., 3. und so weiter bis zur 10. Zeile werden. Dies
                                                    wird als „Überlauf“ bezeichnet. Sie können mehr über „Überlauf“ im
                                                    folgenden Absatz siehe Überlauf „Was ist“ „?“.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Was ist ein „Überlauf“?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Der Überlauf ist die Methode der Überweisungen von ihren
                                                    vorgeschalteten aller Linien, die, füllen alle Lücken mit 2
                                                    Verweisen, die nächsten Durchgang Bezugnahme auf „Überlauf“, das
                                                    heißt für dich zu erhalten.<br><br>Beispiel: die priumera Upline
                                                    (der Einladende zum System) eingeladen zwei Referenzen und weiterhin
                                                    mehr einladend, oder nicht sofort gestoppt Werbung. Die dritte
                                                    Referenz wird durch „Überlauf“ für Sie sein.<br><br>Hinweis:
                                                    Überläufe nicht nur füllen Sie alle seine Linien 8 vollständig,
                                                    sondern auch unterhalb der Linie 10, 1536 fallen mehr Raum
                                                    zusätzlich zu seiner Referenzstruktur 510 8 in allen Linien zu
                                                    füllen.<br><br>Nach Zeile 10 wird die Gasmenge mehr als die Höhe der
                                                    Zahlung. Was mehr ist, sind die Auswüchse durch die Kryptowährung
                                                    Astraleum selbst begrenzt, da die maximal mögliche Grenze Astraleum
                                                    Gas 8000000 Daher ist die unendlichen Überläufe durch intelligenten
                                                    Vertrag per Definition nicht möglich sind.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Was Linie „Überlauf“ Arbeit?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>kurz:<br><br>Ohne eine Website über einen Smart-Vertrag Linien
                                                    einschließlich 5. Überläufe Linien laufen, bis einschließlich 10.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">Was sind die „freien Verweise“?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Gratuitous Referenzen sind Mitglieder des Systems, die aus
                                                    irgendeinem Grund ohne Einladungslink gekommen
                                                    sind.<br><br>Gratuitous Referenzen sind gleichmäßig über das gesamte
                                                    System verteilt ist, und mit den aufsteigenden Linien ausgehend, die
                                                    zuvor in dem System gespeichert wurden.<br><br>WICHTIGER HINWEIS:
                                                    Die Referenzen sind frei durch das NO-System durch intelligenten
                                                    Vertrag verteilt, sondern durch das System der Website.<br><br>Dies
                                                    ist die einzige Sache, die cleveren Vertrag macht und aus diesem
                                                    Grunde:<br><br>Wenn Referenzen wurden mit dem Wachstum des Systems
                                                    durch intelligenten Vertrag kostenlos verteilt würden große Steine,
                                                    dass eine Menge Gas verbrauchen, die nicht von Vorteile für die
                                                    Nutzer sein würde. Alles andere, einschließlich der „Überlauf“ wird
                                                    durch intelligente Vertrag verteilt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Kann ich Verweise auf nicht den Kauf der ersten
                                            Ebene einladen?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Sie können, aber frei Verweise werden und andere Mitglieder des
                                                    Systems erreichen, nicht Sie. Da das System nicht „wissen“, vor dem
                                                    Kauf sehen Stufe 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">Was
                                            sind die Ebenen im System?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Level: Das ist der Staat, der das Recht gewährt Vergütung aus den
                                                    Referenzen in seinem „Tiefen“ entsprechend zu
                                                    empfangen.<br><br>Beispiel:<br>Stufe 1 haben Sie Anspruch, eine
                                                    Belohnung für den Kauf des Level 1 von Referenzen persönlich von 2
                                                    (die Befassung Linie 1) eingeladen erhalten.<br>Stufe 2 gibt Ihnen
                                                    das Recht, eine Belohnung für den Kauf der Level 2-Referenzen 4
                                                    Gäste für ihre Gäste zu empfangen persönlich verweist 2 oben
                                                    (Referenzen 2 Linie).<br>Level 3 berechtigt Sie eine Belohnung für
                                                    den Kauf der Stufe 3 Referenzen 8 Linie 3 zu erhalten.<br>Stufe 6
                                                    berechtigt Sie eine Belohnung erhalten für den Kauf des 64 Level 6
                                                    Referenzlinie 6.<br><br>Stufe 7 berechtigt Sie eine Belohnung für
                                                    den Kauf von 7 von 128 Referenzen 7 Leitung zu empfangen.<br><br>Und
                                                    die letzte, achte Ebene berechtigt Sie eine Belohnung erhalten für
                                                    eine achte Stufe von 8 Linie 8 Referenzen kaufen.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">Wenn ich kaufen Stufe 2 Can I Stufe 4 sofort ohne
                                            Stufe 3?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Levels sind nur sequentiell und gekauft, um. Wenn Sie versuchen, die
                                                    vierte Ebene zu kaufen, ohne den dritter ist, wird intelligenter
                                                    Vertrag nicht um die Übertragung akzeptieren. In diesem Fall wird
                                                    das Geld nicht an jedem Ort und mit Ihnen bleiben.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">Was passiert, wenn meine Überweisung, zum Beispiel,
                                            Zeile 3, Level 3 kaufen möchten, aber ich habe immer noch nur das Niveau
                                            2-System?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Passiert folgendes:<br><br>Schlechte Nachrichten:<br>Das Geld wird
                                                    nicht für Sie, sondern Ihre Upline auf der gleichen Linie, in diesem
                                                    Fall ist die dritte. Wenn Sie Ebenen in der Zeit kaufen, wird dies
                                                    nicht passieren. Darüber hinaus werden alle nachfolgenden Ebenen
                                                    (außer dem ersten) und werden von dem verdienten Geld gekauft, nicht
                                                    seine eigene. Darüber hinaus. Sie sehen im Voraus, wenn die
                                                    Situation „gefährlich“ und hat Zeit genug wird, um jeden Level zu
                                                    kaufen.<br>Wenn es einmal passiert ist, nicht beängstigend, da die
                                                    Verstärkung auf jeder Ebene (außer dem ersten) um ein Vielfaches
                                                    größer als die Kosten der Ebene, und auch in diesem Fall später von
                                                    der Ebene Kauf später für alle nachfolgenden Käufe Finanzierung auf
                                                    dem gleichen Niveau für den Rest Referenzen gehen sie zu
                                                    Ihnen.<br><br>Gute Nachrichten:<br>Wenn jemand aus Ihren
                                                    Empfehlungen nicht das Niveau in der Zeit kaufen, das Geld, das Sie
                                                    Ihnen gehen. Wenn auch nur eine Ihrer Referenzen, zum Beispiel,
                                                    Zeile 3, aus irgendeinem Grund aus dem System ausgeschieden (zum
                                                    Beispiel verlorenen Zugang zu den Geldbeutel), dann werden alle
                                                    Referenzen 8 (nicht sein) der dritten Linie Geld überweisen SIE!
                                                    Alle weiteren Verweise auf die 3. Zeile übertragen Sie auch
                                                    Geld.<br>Ein Beispiel ist als Referenz angegeben. Was passiert, wenn
                                                    es zwei oder mehr? Ihr Einkommen erhöht sich viele
                                                    Male.<br><br>Ergebnis: Je mehr abgelehnt oder inaktive Referenzen
                                                    haben in ihrer Struktur, die am meisten manchmal wird Ihr Einkommen
                                                    BE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">Was
                                            ist die Funktion „Repeat“ und warum ist sie notwendig?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>Die „Repeat“ -Funktion ist eine Option, die Sie die Gewinne erhalten
                                                    die ganze Zeit jeden Monat wiederholen können. jede der Referenzen
                                                    Darüber hinaus, dass das System vervielfacht ihren Lohn
                                                    übrig.<br><br>Das Funktionsprinzip ist im Detail auf Seite
                                                    beschrieben.<a href="#">So funktioniert es</a>im „Repeat“.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">Was passiert, wenn Sie Ebene in einem Monat
                                        verlängern?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Ihr Konto bleibt im System immer, und kann jederzeit erweitern und wieder
                                                Einkommen erhalten.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">¿Es
                                            Legal?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Ja, denn niemand zwingt Sie Geld an jeden zu übertragen. Alle
                                                    Transaktionen sind freiwillig.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">¿Es Legal?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Ja, denn niemand zwingt Sie Geld an jeden zu übertragen. Alle
                                                Transaktionen sind freiwillig.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">Gibt es ein Risiko hier? Was passiert, wenn ja,
                                        welche?<span class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>In der gesamten Website schreiben wir kein Risiko im System. Damit meinen
                                                wir, dass das ganze Geld sofort auf Ihren Geldbeutel übertragen und
                                                darin gespeichert. Das bedeutet kein Risiko.<br><br>Allerdings ist es
                                                erwähnenswert, dass in dem Zeitintervall zwischen Registrierung und
                                                Aufnahme ihrer ersten Referenz unter Berücksichtigung, eine Situation,
                                                in der er seine Upline übertrug 0,08 ETH erstellt wird, ist aber noch
                                                nicht seine erste Referenz erhalten .<br>Daher technisch das maximale
                                                theoretische Risiko 0,08 ETH. Diese 0,08 ETH wird sofort von der ersten
                                                Referenz zurückgegeben.<br><br>Auch wenn speziell keinen Hinweis
                                                eingeladen hat, früher oder später werden Sie Verweise auf folgende
                                                Weise ohne ihre Teilnahme erhalten:<br>1) Überlauf seiner aufsteigenden
                                                Linien,<br>2) freies Referenzsystem.<br><br>Daher wird selbst dieses
                                                symbolische Risiko gegen 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>