<%-include('header');-%>
    <main class="nk-pages">
        <section class="sectionbg-themebg-theme-darktc-light" id="faqs" style="overflow:hidden;background:#2a2a2a url(images/dark/bg_faqeth.svg)centercenterrepeat;background-size:contain;">
            <div class="container">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Häufig gestellte Fragen über Astraleum</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Wir wissen, dass Sie Fragen über den Betrieb von Astraleum haben.</p>
                </div>
                <!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10">
                            <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                                <li><a class="active" data-toggle="tab" href="#sistema-1">Allgemeine Fragen</a></li>
                            </ul>
                            <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="tab-pane fade show active" id="sistema-1">
                                    <div class="accordion accordion-faq" id="#faq-67">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Was ist Astraleum und warum es genau in dem System verwendet wird?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Astraleum: Kryptowährung ist an zweiter Stelle Bitcoin nach Beliebtheit, und die erste, nach Beliebtheit, intelligente Verträge.
                                                        <br>
                                                        <br>Das Projekt verfügt über intelligenten Astraleum Vertrag:
                                                        <br>
                                                        <br>1) Ihre Brieftasche Astraleum kann nicht einmal theoretisch blockiert oder verhext werden.
                                                        <br>
                                                        <br>2) CRYPTOHANDS System: ein Code geladen im Haupt Astraleum Netzwerk. Dies kann nicht in diesem Netzwerk gelöscht oder geändert werden. Es bedeutet, dass Ihr Konto und CRYPTOHANDS System kann nicht gehackt oder blockiert werden, auch in der Theorie.
                                                        <br>
                                                        <br>3) Der Code ist völlig offen, und jeder Programmierer in der Welt kann dafür sorgen, dass der Algorithmus auf diese Weise funktioniert und nicht anders.
                                                        <br>
                                                        <br>4) Alle Transaktionen sind öffentlich und automatisch akzeptiert. Mittel gehen direkt zu Ihrer Brieftasche, so dass Sie nicht bestätigen oder Anforderung Zahlung benötigen. Der menschliche Faktor ist vollständig ausgeschlossen.
                                                        <br>
                                                        <br>5) Auch wenn die Website nicht mehr CRYPTOHANDS und Verwaltung schwindet, intelligent CRYPTOHANDS Vertrag Astraleum Netzwerk wird weiterhin bestehen, und das bedeutet, dass das gleiche System wird auch weiterhin seine Arbeit existieren. Auch in diesem Fall werden alle Konten und Zahlungen weiterhin ordnungsgemäß funktionieren. Jeder Programmierer in der Welt kann einen Mirror der gleichen Smart Vertrag machen, dass das gesamte System sowie eine bestimmte Gruppe.
                                                        <br>
                                                        <br>6) Sie können Referenzen laden ohne eine Website überhaupt. Um eine Referenz zu registrieren, müssen Sie es an die Adresse des Smart-Vertrag 0,05 ETH und der „Eingangsdaten“ Feld geben Sie die Adresse Ihrer Upline senden.
                                                        <br>
                                                        <br>7) Astraleum cryptocurrencie können Sie verwenden, um die Repeat-Funktion, Speicherung Dezentralisierung und Transfers direkt zwischen den Parteien durch intelligenten Vertrag.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-2">Wie Astraleum Geldbörse erstellen und starten Sie es?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Astraleum Portfolio: Es ist zunächst zwei Dinge:
                                                        <br>
                                                        <br>1) Der öffentliche Schlüssel - ist genau die Anzahl der Astraleum Brieftasche. Keine Notwendigkeit, es zu verbergen.
                                                        <br>
                                                        <br>2) Ihr privater Schlüssel - ein Analogon des üblichen Passwort. Ist Ihr Personal. Verlust eines privaten Schlüssels mittels Kontrolle der Geldbörse zu verlieren. Wenn jemand seinen privaten Schlüssel eingezogen, eingezogen er ihr Geld und man kann es nicht zu einem anderen privaten Schlüssel ändern. Wir fragen nie private Schlüssel
                                                        <br>
                                                        <br>Es gibt mehrere Geldbörsen Astraleum. Die Merkmale und die beliebtesten und einfach jeder von ihnen zu verwenden detailliert sind.</p>
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <p style="margin-top: 64px; text-align: center;"><b><span style="font-size: 2em;">1) Natnask</span></b></p>
                                                            <p style="text-align: center;">
                                                                <a href=""><img src="images/dark/i_metamask.svg" style="width: auto; max-width: 100%; height: 64px;"></a>
                                                            </p>
                                                            <p style="text-align: center;"><b><span style="font-size: 1.2em; color: #888888;"><iclass="fas fa-desktop"></i>Plugin</span></b></p>
                                                            <pstyle="text-align: center; text-align: center;font-size: 1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                                <iclass="fab fa-firefox">
                                                                    </i>
                                                                    <iclass="fab fa-opera">
                                                                        </i>
                                                                        </p>
                                                                        <p style="text-align: center;"><i class="fas fa-check-circle" style="color: #4CD964;"></i> <b style="font-weight: 700;">empfohlen</b></p>
                                                                        <p> <i class="fas fa-handshake faqeth_adv_icon_i"></i>Vollständige Integration mit CryptoHands. Anmeldung und alle weiteren Käufe von Ebenen in 1 Klick, alle zusätzlichen Felder werden automatisch ausgefüllt.</p>
                                                                        <p><i class="fas fa-key faqeth_adv_icon_i"></i>Damit können Sie exportieren und privaten Schlüssel importieren, was bedeutet, die volle Kontrolle über Ihren Geldbeutel Astraleum halten.</p>
                                                                        <p> <i class="fas fa-desktop faqeth_adv_icon_i"></i>Praktisch und einfach zu bedienen. Er ist das beliebteste Geldbeutel und sicher für den Browser. Sie können es aus dem Browser jederzeit mit allen Zugangsdaten verbleibenden deaktivieren oder entfernen.</p>
                                                                        <p style="text-align: center;">Detail<a href="." target="_blank">Häufig gestellte Fragen über MetaMask</a> </p>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <p style="margin-top: 64px; text-align: center;"><b><span style="font-size: 2em;">2) Vertrauen Wallet</span></b></p>
                                                            <p style="text-align: center;">
                                                                <a href=""><img src="images/dark/i_trustwallet.svg" style="width: auto; max-width: 100%; height: 64px;"></a>
                                                            </p>
                                                            <p style="text-align: center;"><b><span style="font-size: 1.2em; color: #888888;"><i                class="fas fa-mobile-alt"></i>mobile Anwendung</span></b></p>
                                                            <pstyle="text-align: center; text-align: center;font-size: 1.2em;color: #888888;"><i class="fab fa-apple"></i> <i class="fab fa-android"></i></p>
                                                                <p style="text-align: center;"><i class="fas fa-check-circle" style="color: #4CD964;"></i> <b style="font-weight: 700;">empfehlen</b> </p>
                                                                <p><i class="fas fa-handshake faqeth_adv_icon_i"></i>Vollständige Integration mit CryptoHands über den eingebauten Dapps Browser.</p>
                                                                <p> <i class="fas fa-th-large faqeth_adv_icon_i"></i>Fügen Sie den Link Dapps Bezug auf die integrierten Browser und registrieren alle Einkäufe später Ebene in 1 Klick.</p>
                                                                <p><i class="fas fa-key faqeth_adv_icon_i"></i>Es ermöglicht Ihnen, private Schlüssel zu importieren. Wenn Sie bereits das Astraleum Portemonnaie haben, können Sie auch mobile Anwendung nutzen.</p>
                                                                <p><i class="fas fa-mobile-alt faqeth_adv_icon_i"></i>Die Anwendung ist einfach zu bedienen und hat eine intuitive Benutzeroberfläche.</p>
                                                                <p style="text-align: center;">Detail<a href="" target="_blank">Häufig gestellte Fragen Vertrauen Wallet</a> </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <p style="margin-top: 64px; text-align: center;"><b><span style="font-size: 2em;">3) MyEtherWallet</span></b></p>
                                                            <p style="text-align: center;">
                                                                <a href=""><img src="images/dark/i_myetherwallet.svg" style="width: auto; max-width: 100%; height: 64px;"></a>
                                                            </p>
                                                            <p style="text-align: center;"> <b><span style="font-size: 1.2em; color: #888888;"><i    class="fas fa-desktop"></i> <i        class="fas fa-mobile-alt"></i>Web-Version</span></b> </p>
                                                            <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>Es ist nicht notwendig, Add-ons und Anwendungen zu installieren. Alle Transaktionen werden direkt aus der MyEtherWallet Website gemacht.</p>
                                                            <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>Alle zusätzlichen allgemeinen Felder und manuell gefüllt. Nur für fortgeschrittenen Anwender.</p>
                                                            <p>Detail<a href="" target="_blank">Häufig gestellte Fragen über MyEtherWallet</a> </p>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top:40px">
                                                        <p> <span style="color:#ff3b30">Wichtig!</span>Wenn Sie die Astraleum Brieftasche in einem Dienst registriert haben, können Sie immer weiter es mit anderen zu bedienen. Zum Beispiel erfasst, wenn Astraleum durch MetaMask, können Sie mit dem gleichen Geldbörse durch MyEtherWallet und umgekehrt weiter. Alles, was Sie brauchen: Ihre privaten Schlüssel.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-3">Wie Sie Ihre Brieftasche Astraleum zu finanzieren?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Durch den Austausch Dienst (empfohlen):
                                                        <br>1) Gehen Sie auf die Website bestchange.com. Dies ist eine Überwachung Tauscher getestet mit günstigen Wechselkursen von Zahlungssystemen und beliebtestenen Bänken in den meisten Ländern.
                                                        <br>2) Wählen Sie die gewünschte Zahlungssystem, über die Sie für Astraleum austauschen möchten.
                                                        <br>3) Wählen Sie den richtigen Tauscher mit dem günstigsten Preis.
                                                        <br>4) Gehen Sie auf die Website des ausgewählten Tauscher und folgen Sie einfach den Anweisungen. Der Austausch in der Regel automatisch erfolgen und wird sofort bestätigt.
                                                        <br>5) Kontrollieren Sie, ob die Mittel in Ihrer Brieftasche Astraleum erhalten.
                                                        <br>
                                                        <br>Hinweise:
                                                        <br>Eine Zahlung mit Bankkarten Tauscher kann die Überprüfung der Karte zum ersten Mal anfordern. Normalerweise ist es ein Bild der Karte am unteren Rand der Seite Austausch. Spätere Zahlungen werden augenblicklich sein.
                                                        <br>Wenn Sie nicht Ihre Karte an der Stelle des Tauschers überprüfen möchten, können Sie zunächst das Konto eines anderen Systems der sofortigen Zahlung von Ihrem Bankkarte aufladen (nicht durch den Wärmetauscher, sondern in das Zahlungssystem selbst), und dann diese Mittel senden Astraleum Brieftasche mit einer anderen Zahlungssystem Überprüfung.
                                                        <br>
                                                        <br>Durch den LocalEthereum Service:
                                                        <br>1) Zum localethereum.com. Dies ist der Einkaufsservice
                                                        <br>Astraleum und Verkauf durch jedes Zahlungssystem.
                                                        <br>2) Register. Es ist schnell.
                                                        <br>3) Wählen Sie den entsprechenden Austausch für Ihr Land.
                                                        <br>4) Folgen Sie den einfachen Service.
                                                        <br>5) Kontrollieren Sie, ob die Mittel erhalten in Ihrem
                                                        <br>Astraleum Brieftasche.</p>
                                                    <p style="text-align: center; font-size: 48px; color: #888888;"> <i class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i> <i class="fab fa-alipay"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-4">Wie, um Geld von der anderen Zahlungssystemen Astraleum Brieftasche zurückziehen?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Der Rückzug von Astraleum ist die gleiche wie Aufladen, sollten Sie nur die entgegengesetzte Richtung Austausch wählen.
                                                        <br>Hinweis. Der bestchange.com Service ist ausreichend keine Menge Bankkarten zu entfernen, sogar sofort und automatisch für beliebte Banken.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-5">Was ist "Gas", "Gaspreis" (Gwei) und "Gaslimit"?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Gas (Gas) - Dies ist die Recheneinheit zur Berechnung und die Gebühr für eine Aktion oder bestimmte Transaktion zu zahlen.
                                                        <br>
                                                        <br>Benzinpreise (Gwei) - Der Preis, den Knappen für die Berechnungen zahlen müssen. Das Grundprinzip bleibt das gleiche: Sie zahlen mehr, wird die Transaktion schneller sein. Der aktuelle Preis für Benzin ist hier zu finden: https://etherscan.io/gastracker.
                                                        <br>
                                                        <br>Wenn Sie eine kleine Benzinpreise setzen, wird die Transaktion im Netzwerk Astraleum, bis die Last verringern. Dies kann bis zu mehreren Stunden dauern.
                                                        <br>
                                                        <br>Gas Grenze - die maximale Gasmenge, die für eine Transaktion zahlen. Der empfohlene Grenzwert von Gas = 400000 In einigen Anwendungen Grenze des Standardwertes Gas = 1.000.000. Dies bedeutet nicht, werden Sie mehr pro Transaktion berechnet. Büro, in jedem Fall nicht ausgegebene sie wieder ausgleichen.
                                                        <br>
                                                        <br>Wenn Sie eine kleine Grenze von Gas gesetzt, die Transaktion und die Mittel werden nicht an Gleichgewicht zurück, sondern einen Teil der Kommission in diesem Fall werden Sie noch in Rechnung gestellt.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-6">Warum sind Sie anhängige Transaktion?<span class="accordion-icon accordion-icon-s2"></span>                                                </h5>
                                            <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Der wahrscheinlichste Grund: der niedrige Preis für Gas (Gwei). Der aktuelle Preis für Gas ist hier zu finden: https://etherscan.io/gastracker</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-7">Warum lehnt die Transaktion?<span class="accordion-icon accordion-icon-s2"></span>                                                </h5>
                                            <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Die wahrscheinlichste Ursache ist ein kleiner Wert der Grenze von Gas. Wir empfehlen, eine Grenze von 400.000 Gaseinstellung.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#faq-67-8">Warum die enviarl die Transaktion „nicht genügend Mittel“ erscheint, wenn die Mittel ausreichen, um mit einer Marge?<span class="accordion-icon accordion-icon-s2"></span>                                                </h5>
                                            <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>Einige Geldbörsen Astraleum, zum Beispiel, Vertrauen Walle, setzen die Grenze Gas 1000000 standardmäßig. Denken Sie daran, dass dies nicht bedeutet, werden Sie mehr aufgeladen werden, bedeutet dies, dass es eine Reservierung in der Brieftasche sein sollte. Versuchen Sie, diese Menge auf 400000 zu reduzieren.
                                                        <br>
                                                        <br>Wenn schließlich noch schreibt, dass es nicht genügend Mittel sind, dann vielleicht mehr Fracht des Netzwerkes Astraleum als üblich, beispielsweise 20 oder 40 Gwei Gwei (Normalwert beträgt 5 Gwei). In diesem Fall können Sie erwarten, dass die Last auf dem Netzwerk zu verringern. Sie können (für einige) den Gaspreis selbst reduzieren, erhöhen aber die Transaktion wird länger dauern, bis mehrere Stunden eher als einige Sekunden. Sie können auch einige Mittel an die Brieftasche hinzufügen, so dass es genug war, um eine Transaktion zu machen.
                                                        <br>
                                                        <br>Bitte beachten Sie, dass die Kommission davon aus, dass in der Transaktion geschrieben wurde, ist nicht die königliche Kommission, aber der maximal möglicher Wert, wenn die gesamte Grenze Abgas. Die tatsächliche Transaktionsrate viel niedriger sein.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .block @e -->
            </div>
            </section>
            </main>
            <%- include('footer'); -%>