<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    Allgemeine Geschäftsbedingungen</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            DIENSTLEISTUNGSBEDINGUNGEN <br>
                            <br>
                            -----
                            <br>
                            <br>

                            ALLGEMEINE <br>
                            <br>
                            Das DOUBLEHANDS-Projekt von HUMANS FOR HUMANS. <br>
                            <br>
                            Von wem? <br>
                            Für Leute, die bereits Projekte erstellt haben, die Sie perfekt kennen und die großen Erfolg
                            hatten. Für Menschen, die vor langer Zeit Millionäre wurden. Für Menschen, die davon
                            träumten, etwas Gutes für Menschen zu tun. Etwas Gutes, das das Beste aus der Vergangenheit
                            zusammenbringt. Etwas, das nicht blockiert oder zerstörbar ist. Etwas, das jedem Teilnehmer
                            Wohlstand und Fülle verleiht. Nicht einmal, aber seit vielen Jahren. Und mit dem Aufkommen
                            der Kryptowährung erschien endlich diese Gelegenheit <br>
                            <br>
                            Für wen? <br>
                            Für Leute, die etwas tun. Für Menschen, die lange Zeit im Überfluss gelebt haben und noch
                            mehr wollen. Und für Menschen, die gerade erst den Weg des Lebens zum materiellen
                            Wohlbefinden beginnen. Für Menschen, die bereit sind, etwas Gutes mit ihren Lieben zu
                            teilen. Für Menschen, die Fortschritte machen und nicht aufhören. FÜR JEDEN VON UNS <br>
                            <br>
                            Welches Projekt ist das? <br>
                            DOUBLEHANDS-Projekt: Smart Account, der niemandem gehört. Dies ist die Spezifität der
                            Ethereum-Kryptowährung. Intelligenter Vertrag: Es handelt sich um einen
                            Kryptowährungsverteilungsalgorithmus, der nach dem Laden in das Ethereum-Netzwerk nicht mehr
                            bearbeitet, geändert oder gelöscht werden kann. <br>
                            <br>
                            DOUBLEHANDS smartcontract wird in das Kryptowährungsnetzwerk von Ethereum geladen, und
                            selbst theoretisch kann niemand es ändern oder löschen, einschließlich seiner Ersteller.
                            Daher kann niemand und nichts die Arbeit des Systems stoppen, selbst wenn die Site
                            geschlossen ist und die Verwaltung verschwindet. Das DOUBLEHANDS-System gehört niemandem und
                            funktioniert unabhängig von der Site <br>
                            <br>
                            Das Konto jedes Teilnehmers ist in einem Smart-Vertrag enthalten, jedoch nicht auf der
                            Website.
                            so dass weder die Verwaltung der Site sie blockieren noch beseitigen kann. Die Seite
                            Auf der DOUBLEHANDS-Website in Ihrem Konto (ohne Passwort) werden nur die Informationen für
                            jedes Konto angezeigt, die aus dem Ethereum-Smart-Vertrag stammen. Daher ist es unmöglich,
                            ein Konto zu hacken und die Brieftasche eines Mitglieds zu ändern. <br>
                            <br>
                            Die Ersteller dieses Systems haben genau die gleichen Konten wie jedes Mitglied
                            Ohne besonderes Privileg. Die Autoren des Projekts sind sehr versucht zu schaffen
                            verschiedene Internetprojekte und Einnahmen, nicht nur im Finanzbereich,
                            aber in vielen anderen. Daher ist DOUBLEHANDS ein Projekt, in dem seine Schöpfer
                            Mit Vergnügen teilnehmen. Das Projekt mag also vielleicht viele andere
                            Menschen <br>
                            <br>
                            -----
                            <br>
                            <br>

                            ENTLADUNG VON
                            VERANTWORTUNG <br>
                            <br>
                            Die Site-Administration ist NICHT EIGENTÜMER des DOUBLEHANDS-Projekts und verfügt nicht über
                            die technische Kapazität, um das Geld von den Teilnehmern abzuheben. <br>
                            <br>

                            Alle Berechnungen werden über einen intelligenten Vertrag direkt zwischen den Teilnehmern
                            durchgeführt. <br>
                            <br>

                            Ein intelligenter Vertrag, der niemandem gehört, akkumuliert keine Mittel von Teilnehmern,
                            sondern leitet die Mittel sofort unter den Teilnehmern nach einem vorgefertigten Algorithmus
                            um. <br>
                            <br>
                            Die Verwaltung der DOUBLEHANDS-Site ist nicht verantwortlich für den Betrieb des
                            Smart-Vertrags sowie für mögliche Fehler im Code und die Arbeit des Smart-Vertrags für einen
                            möglichen Verlust von Geldern durch die Teilnehmer des Systems. <br>
                            <br>
                            Die Wörter "Einkommen", "Einkommen" und ähnliche Definitionen auf der Website sind
                            werblicher Natur und kein öffentliches Angebot. <br>
                            <br>
                            Alle Überweisungen sind freiwillig und kostenlos. <br>
                            <br>
                            Die DOUBLEHANDS-WEBSITE IST KEIN PROJEKT, sondern zeigt nur öffentliche Informationen aus
                            dem DOUBLEHANDS-Smart-Vertrag an, der NICHT zur DOUBLEHANDS-Site-Verwaltung gehört. <br>
                            <br>

                            Das persönliche Konto des Teilnehmers auf der Website ist für alle ohne Passwort zugänglich
                            und BEHALTEN SIE KEINE PERSÖNLICHEN INFORMATIONEN der Systemteilnehmer. Das persönliche
                            Konto zeigt die Statistiken aller Teilnehmer des Systems aus dem DOUBLEHANDS-Smart-Vertrag
                            <br>
                            <br>
                            -----
                            <br>
                            <br>
                            KONTAKT INFORMATION EN <br>
                            <br>

                            Fragen zum System und zu den Regeln und Vereinbarungen, die Sie per E-Mail stellen können
                            @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>