<%- include('header'); -%>
<main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">자주 묻는 질문 (FAQ)
                </h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">우리는 당신이 시스템의 작동에 대한 질문이있을 수 있습니다 알고 있습니다.
                </p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">체계</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">등록</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">추천</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">수준</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">기능 "반복"</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">위험</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">유사한
                                            시스템의 출현은 이미 criptomonedas을 존재하기 전에 왜 더 나은 무엇입니까?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>예, 사실은, 이러한 시스템은 5 년간 인터넷의 출현 전에 존재, 그들은 작동합니다. 그러나 그는 몇 가지 주요 문제가
                                                    있었다 :
                                                    <br>
                                                    <br>1) 다른 지불 시스템은 지속적으로 지갑 참가자를 차단.
                                                    <br>2) 누구와 누구에게 기금을 전달 인적 요인과 일정한 절차의 형태로 모든 결과 결과로 확인 수동 전송은하지
                                                    않습니다.
                                                    <br>3) 재발은 없었다. 사람은 한 번 구조를 만들어 한 번 비교적 큰하지만, 돈을 받았다. 그리고 그들은 깊은 구조로
                                                    모든 왜곡을 얻고, 참가자는 더하지 않았다.
                                                    <br>4) 닫기 또는 사이트 시스템의 봉쇄를 의미 해킹, 때로는 해킹 사이트.
                                                    <br>
                                                    <br>Criptomonedas와 에테 리움을 해결해 이러한 모든 문제 :
                                                    <br>
                                                    <br>1) 지갑에도 이론적으로 차단 할 수 없습니다. 동전의 반대 : 어떤 경우에, 당신의 지갑하지 잃게 컨트롤을한다.
                                                    다른 사람과 당신의 지갑을 대체하는 것은 불가능합니다.
                                                    <br>2) 공공 거래 및 인스턴트 자동으로 확인. 인간의 요소가 완전히 제외됩니다.
                                                    <br>3) 우리는 참가자가 이전에 다른 시스템에 적용했던 "반복"기능을했다. 당신은 구조를 만들고 매년 소득을 받으면.
                                                    당신의 구조에서 사람들이 매년 참여를 확장하지 않는 경우, 소득이 많은 시간을 증가시킨다. 더 많은 페이지 그것은
                                                    "REPEAT"절에서 작동하는 방법. 4) 닫기 또는 지능형 CRYPTOHANDS 계약이 주요 네트워크 에테 리움에로드
                                                    아무도 그 개발자를 포함하여, 그것을 삭제할 수있는 방법으로 사이트가, 시스템의 작동에 영향을 납치.
                                                    <br>
                                                    <br>인류의 역사에서 처음으로, 계정이 불법 복제되지 않습니다 진짜 100 % 보장이, 심지어 이론적으로 사이트를 닫을
                                                    때, 스마트 계약 및 (얼마나 큰 소리에 상관없이)하는이 수단 시스템 자체는 어쨌든 존재하는 것입니다.
                                                    <br>또한, 세계 어느 프로그래머는 같은 스마트 계약과 같은 스마트 계약에 사이트 구조를 만들 수있는 구조의 리더를
                                                    기반으로 새 사이트를 만들 수 있습니다. 따라서, 시스템은 프로젝트의 관리에 의한 조치로부터 보호됩니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">어떻게 여기에 돈을 벌기 위해?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidop 시작 가이드는에<a href="#">홈</a>"작동 방법"섹션입니다.
                                                    <br>자세한 설명은 별도의 페이지에 있습니다.<a href="#">작동 원리</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">그들은 내 계정을 차단하지 닫거나 있다는 보장은 무엇인가?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>이것은 가장 중요한 질문 중 하나입니다!
                                                    <br>
                                                    <br>인류의 역사에서 처음으로,이 99 %이지만, 아무도 프로젝트 (이 암호 화폐의 기능입니다)의 관리를 포함하여 당신의
                                                    지갑 또는 귀하의 계정을 차단할 수 100 개 % 보장합니다.
                                                    <br>
                                                    <br>guaratees이 페이지에 기록됩니다. 어떻게 마지막 "보장"지점에서 작동합니다.
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">어떻게
                                            DoubleHands에 등록?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>로그인 (이메일 또는 전화)와 비밀번호에 의해 등록 오래된 개념이다. 메일에 대한 접근의 손실 때문에 계정에 손실 된
                                                    액세스를 의미합니다.
                                                    <br>
                                                    <br>그 라인의 1 수준의 성공적인 구매 등록 사실을 오름차순입니다.
                                                    <br>
                                                    <br>간단한 가이드 페이지 SIGN에 존재 :.
                                                    <br>
                                                    <br>이 섹션 "등록"에서 작동하는 방법 자세한 안내.
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">그것은 업 라인 (초대)없이 등록 할 수 있습니까?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>업 라인없이 시스템에 로그인하는 것은 불가능합니다. 당신이 업 라인을 지정하지 않으면, 지능형 계약은 거래를 허용하지
                                                    않습니다. 즉 아이디어의 수준에 기본 포인트 중 하나입니다.
                                                    <br>
                                                    <br>필드 "데이터"는 의견이나 지갑의 추가 기능이 아닙니다. 이 사슬 자체 에테 블록의 일부이다.
                                                    <br>
                                                    <br>초청자의 추천 링크 또는 QR 코드를 통해 자동 등록하는 동안, 당신의 업 라인의 주소를 "데이터"필드를 포함한
                                                    모든 데이터가 자동으로 지정됩니다. 그냥 "클릭 한 번으로 등록."버튼을 클릭
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">어떻게 계정에 액세스하려면?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>당신은 페이지에 서명 귀하의 계정에 액세스 할 수 있습니다
                                                    <br>
                                                    <br>당신은 당신의 계정이 해킹 또는 차단 할 수없는 암호 및 계정없이 완전히에 로그온합니다.
                                                    <br>
                                                    <br>는 "로그인"페이지를 작동 방법에 귀하의 계정에 로그온하는 방법에 대해 알아보십시오.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">내가
                                            추천을 유치해야합니까?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>시스템의 기초가 참조에서 구조를 구축하는 것입니다 및 참조가 이익의 원천이지만, 흥미로운 사실은 참조가 필요하다는 것입니다.
                                                    <br>
                                                    <br>초대 이외에, 당신은 두 가지 방법에서 참조를 얻을 수 있습니다 : "오버 플로우"와 "무료 참조". 이러한 방법
                                                    각각에 대해 다음 단락에서 아래를 참조.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">얼마나 많은 추천을 초대 할 수 있습니다 그리고 그들은 어떻게 분포되어?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>개인적으로, 난 단지 당신에 직접 연결되어라고 2 참조, 초대 할 수 있습니다 "참조에게 1 라인을."
                                                    <br>
                                                    <br>(개인적으로 초대) 2 참조 1 라인 또한 그의 참조 2 초대합니다. 구조 4 이들 참가자들은 "참조 2
                                                    라인"입니다.
                                                    <br>
                                                    <br>그리고, 유사하게함으로써, 기준 (8) 및 참조 3 라인 16 라인 (4)을 갖는다.
                                                    <br>
                                                    <br>이미 두 가지가있는 경우 참조를 초대 계속되면, 이후의 참조는 그 구조의 깊이에 부착하고 10 라인까지 2, 3의
                                                    참고 문헌 등이 될 수 있습니다. 이것은 "오버 플로우"라고합니다. 당신은 오버 플로우 "?" "무엇"다음 단락에서 "오버
                                                    플로우"에 대한 자세한 내용을 볼 수 있습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">"오버 플로우"는 무엇입니까?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>오버 플로우는 모든 라인의 자신의 업 라인에서 추천을 얻는 방법입니다 당신을 위해, 즉 2 명 추천, "오버 플로우"의 다음
                                                    통과 참조, 모든 격차를 작성한다.
                                                    <br>
                                                    <br>예 : priumera의 업 라인 (시스템에 초청자는) 두 개의 참조를 초대하고 더 초대 계속 즉시 광고를
                                                    중단하지. 세 번째 기준은 "오버 플로우"에 의해 당신에게있을 것입니다.
                                                    <br>
                                                    <br>주 : 오버 플로우 만 완전히 모든 라인 8을 채울뿐만 아니라 모든 라인 8의 기준 구조체 (510)에 추가 공간을
                                                    충전 라인 (10), 1,536을 하회하지.
                                                    <br>
                                                    <br>라인 (10) 후, 가스의 양이 지불하는 양 이하가된다. 가능한 최대 한도 에테 리움 가스 8000000. 따라서,
                                                    지능형 계약에 의한 무한 오버 플로우가 정의 불가능하기 때문에 무엇보다, 과잉는 암호 화폐의 에테 리움 자체에 의해
                                                    제한됩니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">무엇 "오버 플로우"작업 라인?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>간단히 :
                                                    <br>
                                                    <br>포함 라인 5 스마트 계약을 통해 사이트없이. 오버 플로우 라인은 포함 10까지 실행합니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">"자유 추천"는 무엇입니까?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>무상 참조는 추천 링크없이 어떤 이유로 온 시스템의 구성원입니다.
                                                    <br>
                                                    <br>무상 참조는 시스템 전반에 걸쳐 고르게 분포하고, 이전에 시스템에 기록 된 그 오름차순 라인을 시작하고있다.
                                                    <br>
                                                    <br>중요 참고 : 참조 지능형 계약을 통해 NO 시스템을 통해 무료로 배포하지만, 사이트의 시스템에 의해있다.
                                                    <br>
                                                    <br>이 영리한 계약을 만드는 유일한 방법이며,이 이유입니다 :
                                                    <br>
                                                    <br>참조는 큰 돌을 소모 할 수있는 시스템의 성장과 지능적인 계약을 통해 무료로 배포 한 경우 해당 사용자에게
                                                    도움이되지 않을 것 가스를 많이. 은 "오버 플로우"를 포함하여 다른 모든 것은, 지능형 계약에 의해 배포됩니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">나는 첫 번째 레벨을 구입하지에 대한 참조를 초대 할 수 있나요?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>당신은,하지만 무료로 추천 될 것입니다 수 있으며, 시스템의 다른 구성원을하지 도달한다. 시스템이 구매 레벨 1 일 이전에
                                                    "알"수 없습니다입니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">시스템의
                                            수준은 무엇인가?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>레벨 : 이것은 그에 따라 "깊이"의 참조에서 보수를받을 권리를 부여하는 상태입니다.
                                                    <br>
                                                    <br>예 :
                                                    <br>레벨 1 명명 한 당신은 2 개인적으로 초대 참조 레벨 1 (추천 라인 1) 구입에 대한 보상을받을 수 있습니다.
                                                    <br>레벨 2는 개인적으로 (참고 문헌 2 선) 위의 (2)를 참조하면 손님의 레벨 2 참조 4 명을 구입해 보상을받을
                                                    권리가 있습니다.
                                                    <br>레벨 3 명명 한 당신은 레벨 3 참조 8 라인 3를 구입에 대한 보상을받을 수 있습니다.
                                                    <br>레벨 6은 64 레벨 6 기준선 (6)을 구입하여 보상을받을 수있는 자격.
                                                    <br>
                                                    <br>레벨 7 현재 등록하면 7 (128)의 참조가 7 라인 구매에 대한 보상을받을 수 있습니다.
                                                    <br>
                                                    <br>그리고 마지막 여덟 번째 수준은 8 라인 8 참조의 제 8 레벨을 구입에 대한 보상을받을 자격이.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">나는 3 단계없이 바로 레벨 2 캔 I 구매 레벨 4를 사용한다면?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>레벨은 순차적 순서로 구입된다. 당신이 3 일을하지 않고 4 레벨을 구입하려고하면, 지능형 계약은 전송을 허용하지 않습니다.
                                                    이 경우, 돈은 아무데도되지 않고 당신과 함께있을 것입니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">내 추천은, 예를 들어, 라인 3, 레벨 3를 구입하고자하는 경우 어떤 일이 일어날
                                            것입니다,하지만 난 여전히 레벨 2 시스템을 가지고?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>다음이 발생합니다 :
                                                    <br>
                                                    <br>나쁜 소식 :
                                                    <br>돈은 당신로 이동하지만,이 경우 같은 줄에 당신의 업 라인, 3하지 않습니다. 당신은 시간에 레벨을 구입한다면,
                                                    이런 일은 발생하지 않을 것이다. 또한, 및 (첫 번째 제외) 이후의 모든 수준은 자신의하지, 번 돈에서 구입하고
                                                    있습니다. 또한. 상황이 "위험"이되고 각 레벨을 구입하는 시간이 충분하면 사전을 참조하십시오.
                                                    <br>한번 발생하면, 무서운, (첫 번째 제외) 각 레벨에서 이득 이후 수준의 비용보다 몇 배 더 큰, 심지어 모든 후속
                                                    구매 자금, 나중에 레벨을 구입 나중에 경우 참조의 나머지 부분에 대한 동일한 수준의 그들은 당신로 이동합니다.
                                                    <br>
                                                    <br>좋은 소식 :
                                                    <br>당신의 추천에서 누군가가 시간에 레벨을 구입하지 않는 경우, 돈은 당신이 당신에게 가고있다. 만약 시스템에서 은퇴
                                                    어떤 이유로 예를 들어 당신의 참조도 하나, 3 호선, (예를 들어, 지갑을 잃어버린 액세스), 모든 참조 8 (안
                                                    자신의) 세 번째 줄 전송 돈 당신! 3 선에 다른 모든 참조 당신은 또한 돈을 전송합니다.
                                                    <br>하나의 예는 참조 용으로 주어진다. 두 개 이상의 무엇이 있는지? 귀하의 소득은 많은 시간을 증가시킨다.
                                                    <br>
                                                    <br>결과 : 더 많은 거부 또는 비활성 참조가 그 구조에 있고, 사람들은 가장 때로는 소득됩니다</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">어떤 기능
                                            "반복"이고 왜 필요한가?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>은 "반복"기능을 사용하면 이익이 매달 모든 시간을 얻을 반복 할 수있는 옵션입니다. 또한, 시스템 곱 그들의 보상을 왼쪽
                                                    참조 각.
                                                    <br>
                                                    <br>작동 원리는 페이지에 자세히 설명되어 있습니다.<a href="#">작동 원리</a>은 "반복"한다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">한 달에 레벨을 확장하면 어떻게됩니까?<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>귀하의 계정은 영원히 시스템에 남아 있고, 언제든지 확장하고 다시 소득 수준을받을 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            저작권은?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>예, 아무 힘 때문에 사람에게 돈을 전송합니다. 모든 거래는 자발적이다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">저작권은?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>예, 아무 힘 때문에 사람에게 돈을 전송합니다. 모든 거래는 자발적이다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">위험이 있나요? 만약에 그렇다면, 어떻게?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>위치를 통하여 우리는 시스템의 위험을 써주세요. 이것에 의하여 우리는 돈이 바로 당신의 지갑에 전송과 저장됩니다 것을 의미한다.
                                                이것은 위험이 없음을 의미합니다.
                                                <br>
                                                <br>그러나, 등록 및 제 1 참조의 기록 사이의 시간 간격에서, 상황이되는 그 0.08 ETH가 생성 그의 업 라인에 전송하는
                                                것이 고려 가치가 있지만 아직 제 기준을받지 못한 .
                                                <br>따라서, 기술적으로 이론적 인 최대 위험은 0.08 ETH입니다. 이 0.08 ETH 첫 번째 참조에서 즉시 반환됩니다.
                                                <br>
                                                <br>구체적으로 어떤 기준을 초대하지 않았더라도, 조만간 당신은 참여하지 않고 다음과 같은 방법으로 추천을받을 것이다 :
                                                <br>1)의 상승 라인을 오버 플로우
                                                <br>2) 무료 참조 시스템.
                                                <br>
                                                <br>그러므로,이 상징적 인 위험은 0으로 경향이있다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>