<%-include('header');-%><main class="nk-pages">
    <section class="sectionbg-themebg-theme-darktc-light" id="faqs"
        style="overflow:hidden;background:#2a2a2a url(images/dark/bg_faqeth.svg)centercenterrepeat;background-size:contain;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">에테 리움에 대한 자주 묻는
                    질문 (FAQ)</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">우리는 당신이 에테 리움의 작동에 대한 질문이있을 수 있습니다 알고 있습니다.
                </p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">일반적인 질문</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">이 시스템에
                                            정확하게 사용하는 이유는 무엇 에테 리움이고?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>에테 리움 : 암호 화폐의 인기에 의해 두 번째 인기도 비트 코인, 첫 번째, 지능형 계약입니다.<br><br>이 프로젝트는
                                                    지능형 에테 리움 계약을 제공합니다 :<br><br>1) 당신의 지갑 에테 리움 차단 또는 이론적으로 매혹 할 수
                                                    없습니다.<br><br>2) 시스템을 CRYPTOHANDS : 코드는 주 에테 리움 네트워크에서로드. 이것은 삭제 또는
                                                    해당 네트워크에 변경할 수 없습니다. 그것은 당신의 계정 및 CRYPTOHANDS 시스템도 이론적으로 해킹 또는 차단 할
                                                    수 없음을 의미합니다.<br><br>3) 코드는 완전히 열려, 세계의 모든 프로그래머는 알고리즘이이 방식으로 작동하지,
                                                    그렇지 않으면 보장 할 수 있습니다.<br><br>4) 모든 거래는 공공 및 자동으로 사용할 수 있습니다. 확인하거나 요청
                                                    지불 할 필요가 없습니다 있도록 기금은, 당신의 지갑에 직접 이동합니다. 인간의 요소가 완전히
                                                    제외됩니다.<br><br>5) 사이트가 CRYPTOHANDS 및 관리 사라 존재 중단하더라도, 지능형 CRYPTOHANDS
                                                    계약 에테 리움 네트워크는 계속 존재하고, 동일한 시스템이 작업을 계속한다는 것을 의미합니다. 이 경우에도, 모든 계정 및
                                                    지불이 제대로 기능을 계속합니다. 세계의 모든 프로그래머가 같은 스마트 계약의 미러 사이트를 만들 수있는 전체 시스템뿐만
                                                    아니라 특정 그룹이.<br><br>6) 당신은 전혀 웹 사이트없이 참조를 초대 할 수 있습니다. 참조를 등록하려면, 당신은
                                                    당신의 업 라인의 주소를 입력 스마트 계약 0.05 ETH하고 "입력 데이터"필드의 주소로 보내야합니다.<br><br>7)
                                                    에테 리움 cryptocurrencie 지능형 계약을 통해 당사자간에 직접 지방 분권 및 전송을 절약 반복 기능을 사용할
                                                    수 있습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">어떻게 에테 리움 지갑을 생성하고 사용을 시작하려면?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>에테 리움 포트폴리오 : 그것은이다 첫번째, 두 가지 :<br><br>1) 귀하의 공개 키 - 에테 리움 지갑의 수는
                                                    정확히이다. 필요가 그것을 숨길 수 없습니다.<br><br>2) 개인 키 - 일반적인 암호의 아날로그. 당신의 직원입니다.
                                                    지갑의 통제력을 상실 개인 키 수단의 손실. 누군가가 자신의 개인 키를 압수 경우에, 그는 돈을 압수하고 다른 개인 키를
                                                    변경할 수 없습니다. 우리는 개인 키를 요청하지<br><br>여러 지갑 에테 리움이 있습니다. 기능과 가장 인기 있고 그들
                                                    각각이 자세히 설명되어 사용이 간편.</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1) Natnask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>플러그인
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">추천</b></p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>CryptoHands와
                                                                        전체 ​​통합. 등록 및 1 클릭으로 모든 레벨 추가 구매는 모든 추가 필드가 자동으로
                                                                        채워집니다.</p>
                                                                    <p><i class="fas fa-key faqeth_adv_icon_i"></i>그것은
                                                                        당신이 보낸 지갑 에테 리움를 완벽하게 제어 할을 유지하는 개인 키, 수단을 가져올 수
                                                                        있습니다.</p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>편리하고
                                                                        사용하기 쉽습니다. 그것은 브라우저의 보완 가장 인기있는 지갑과 안전합니다.
                                                                        비활성화하거나 모든 액세스 세부 남은 언제든지 브라우저에서 제거 할 수 있습니다.
                                                                    </p>
                                                                    <p style="text-align: center;">자세히<a href="."
                                                                            target="_blank">MetaMask에 대한 자주 묻는 질문
                                                                            (FAQ)</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2) 신뢰 월렛</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>모바일 응용
                                                                    프로그램</span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">추천</b> </p>
                                                            <p><i class="fas fa-handshake faqeth_adv_icon_i"></i>내장
                                                                Dapps 브라우저를 통해 CryptoHands과 전체 통합.</p>
                                                            <p> <i class="fas fa-th-large faqeth_adv_icon_i"></i>1 클릭으로
                                                                브라우저에 내장 등록 모든 구매에 대한 링크 Dapps 기준에서 나중에 레벨을 붙여 넣습니다.</p>
                                                            <p><i class="fas fa-key faqeth_adv_icon_i"></i>그것은 당신이 개인 키를
                                                                가져올 수 있습니다. 이미 에테 리움 지갑이있는 경우, 당신은 또한 모바일 응용 프로그램을 사용할 수
                                                                있습니다.</p>
                                                            <p><i class="fas fa-mobile-alt faqeth_adv_icon_i"></i>응용
                                                                프로그램은 사용하기 쉽고 직관적 인 인터페이스를 가지고 있습니다.</p>
                                                            <p style="text-align: center;">자세히<a href=""
                                                                    target="_blank">자주 묻는 질문 (FAQ) 신뢰 지갑</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3) MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>웹 버전</span></b>
                                                        </p>
                                                        <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>추가 기능 및 응용
                                                            프로그램을 설치할 필요가 없습니다. 모든 거래는 MyEtherWallet 사이트에서 직접 만들어집니다.
                                                        </p>
                                                        <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>모든 추가 일반 필드와는
                                                            수동으로 가득 찼다. 고급 사용자를위한 것.</p>
                                                        <p>자세히<a href="" target="_blank">자주 MyEtherWallet에 대한 질문과 대답</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span style="color:#ff3b30">중요!</span>당신이 서비스에서 에테 리움 지갑을 등록한
                                                        경우, 당신은 항상 서로를 계속 사용할 수 있습니다. MetaMask을 통해 에테 리움을 기록 예를 들어, 당신은
                                                        같은 지갑 MyEtherWallet 통해 역을 계속 사용할 수 있습니다. 모든이 필요합니다 개인 키를.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">어떻게 당신의 지갑 에테 리움 자금을?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>서비스를 공유를 통해 (권장) :<br>1) 사이트 bestchange.com로 이동합니다. 이것은 대부분의 국가에서 지불
                                                    시스템의 유리한 환율과 가장 인기있는 은행과 테스트 모니터 용 기입니다.<br>2) 에테 리움을 위해 교환 할를 통해 해당
                                                    결제 시스템을 선택합니다.<br>3) 최적의 가격과 권리 교환기를 선택합니다.<br>4) 선택한 교환기의 사이트로 이동하여
                                                    간단한 지침을 따르십시오. 교환은 보통 자동으로하고 즉시 확인할 수있다.<br>5) 만들기 확실히 당신은 당신의 지갑 에테
                                                    리움에서 자금을 받았다.<br><br>주의 사항 :<br>은행 카드 교환기로 지불 A는 처음으로 카드의 검증을 요청할 수
                                                    있습니다. 보통 페이지 교환의 맨 아래에있는 카드의 사진입니다. 이후의 지불은 순간 일 것이다.<br>당신이 교환기의
                                                    사이트에서 카드를 확인하지 않으려면, 먼저 은행 카드에서 즉시 지불의 다른 시스템의 계정을 충전 (안 열 교환기를
                                                    통해,하지만 지불 시스템 자체), 다음에이 자금을 보낼 수 있습니다 다른 지불 시스템 검증과 에테 리움
                                                    지갑.<br><br>LocalEthereum 서비스를 통해 :<br>1) localethereum.com로 이동합니다. 이
                                                    쇼핑 서비스<br>어떤 결제 시스템을 통해 에테 리움 및 판매.<br>2) 등록. 그것은 빠르고입니다.<br>3) 해당
                                                    국가의 적절한 교환을 선택합니다.<br>4) 간단한 서비스를 수행합니다.<br>5) 만들기 확실히 당신은에 자금을받은
                                                    당신의<br>에테 리움 지갑.</p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">어떻게 지갑 에테 리움 다른 결제 시스템에서 자금을 인출?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>에테 리움의 철수 당신은 방향 만 반대 교환을 선택해야합니다, 충전과 동일합니다.<br>참고. bestchange.com
                                                    서비스는 인기있는 은행에 대해서도 즉시 자동으로, 금액 은행 카드를 제거하기에 적절하다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">"가스", "가스 가격"(Gwei) 및 "가스 제한"이란 무엇입니까?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>가스 (가스) -이 계산하고 행동 또는 특정 거래에 대한 수수료를 지불하는 데 사용되는 계산 단위이다.<br><br>가솔린
                                                    가격 (Gwei) - 광부가 계산을 위해 지불해야하는 가격. 기본 원리는 동일하게 유지 : 당신이 더 많은 돈을 지불,
                                                    트랜잭션이 빨라집니다. 가솔린의 현재 가격은 여기에서 찾을 수 있습니다 :
                                                    https://etherscan.io/gastracker.<br><br>당신이 작은 휘발유 가격을 넣을 경우, 트랜잭션은
                                                    네트워크 에테 리움의 부하까지 감소합니다. 이것은 몇 시간이 소요될 수 있습니다.<br><br>가스 제한 - 거래에 대해
                                                    지불 할 수있는 가스의 최대 양. 일부 응용 프로그램에서 가스 = 400000.의 권장 한계 값, 기본 값 제한 가스 =
                                                    1,000,000. 이것은 당신이 더 많은 거래 당 요금이 부과됩니다 의미하지 않는다. 사무실, 어떤 경우에, 그들은 다시
                                                    균형을 소비되지 않은.<br><br>당신이 가스의 작은 한계를 설정하는 경우, 거래 및 자금 균형으로 돌아,하지만 여전히
                                                    부과됩니다이 경우위원회의 일부가되지 않습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">왜 거래를 보류?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>가장 가능성있는 이유 : 가스 (Gwei)의 저렴한 가격. 가스의 현재 가격은 여기에서 찾을 수 있습니다 :
                                                    https://etherscan.io/gastracker</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">왜 거래를 거부?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>원인은 가스의 제한의 작은 값이다. 우리는 40 만 가스의 한계를 설정하는 것이 좋습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">왜 enviarl 거래 "자금 부족"이 나타납니다, 자금이 여유와 충분한 경우?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>일부 지갑 에테 리움은, 예를 들어, 신뢰 지갑은 기본적으로 제한 가스 1000000를 설정합니다. 이, 당신은 더
                                                    부과됩니다 지갑에 예약이되어야한다는이 수단을 의미하지 않는다는 것을 기억하십시오. 400000이 양을 줄이기
                                                    위해보십시오.<br><br>모든 후에 여전히 예컨대, 20 또는 40 Gwei Gwei 들어, 아마도 그리고, 평소보다
                                                    네트워크 리움에 더화물 잔액 부족 있다는 것을 쓰는 경우 (정상 값은 5이다 Gwei). 이 경우 네트워크의 부하를 줄일
                                                    것으로 예상 할 수있다. 당신은 (일부) 가스 자신의 가격을 줄일 수 있습니다,하지만 거래는 몇 시간까지 오히려 몇 초보다
                                                    오래 걸릴 수 있습니다. 이 트랜잭션을 만들기에 충분했다, 그래서 당신은 또한, 지갑에 일부 자금을 추가 할 수
                                                    있습니다.<br><br>제발 트랜잭션에 기록 된위원회 추정 왕실위원회 아니지만, 가능한 최대 값은 전체 제한이 소진 가스의
                                                    경우합니다. 실제 트랜잭션 속도는 훨씬 낮은 것입니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>