<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    이용 약관</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            서비스 약관 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            일반 <br>
                            <br>
                            HUMANS FOR HUMANS가 만든 DOUBLEHANDS 프로젝트. <br>
                            <br>
                            누가? <br>
                            완벽하게 알고 성공한 프로젝트를 이미 만든 사람들이 오래 전에 백만장자가 된 사람들에 의해. 사람들에게 좋은 일을 꿈꾸는 사람들을 위해. 과거의 경험에서 나온 최고의
                            것을 모두 모을 수있는 좋은 것. 막히거나 파괴되지 않는 것. 각 참가자에게 부와 풍요를 줄 무언가. 한 번이 아니라 몇 년 동안. 그리고
                            cryptocurrency의 출현으로 그 기회가 마침내 나타났습니다. <br>
                            <br>
                            누구를 위해? <br>
                            무언가를하는 사람들을 위해. 오랫동안 풍성하게 살면서 더 많은 것을 원하는 사람들을 위해. 그리고 물질적 웰빙에서 인생의 길을 막 시작한 사람들에게. 사랑하는
                            사람들과 좋은 것을 나누고 자하는 사람들을 위해. 진보하고 멈추지 않는 사람들을 위해. 우리 각자를 위해 <br>
                            <br>
                            이것은 어떤 프로젝트입니까? <br>
                            DOUBLEHANDS 프로젝트 : 누구에게도 속하지 않는 스마트 계정. 이것은 이더 리움 암호 화폐의 특이성입니다. 스마트 계약 : 이더 리움 네트워크에 업로드 된
                            후에는 더 이상 편집, 수정 또는 삭제할 수없는 암호 화폐 분배 알고리즘입니다. <br>
                            <br>
                            DOUBLEHANDS 스마트 계약은 Ethereum cryptocurrency 네트워크에 업로드되며 이론적으로는 작성자를 포함하여 아무도 그것을 변경하거나 제거 할
                            수 없습니다. 따라서 사이트가 닫히고 관리가 사라진 경우에도 아무도 시스템 작업을 중지 할 수 없습니다. DOUBLEHANDS 시스템은 누구에게도 속하지 않으며
                            사이트에 관계없이 작동합니다. <br>
                            <br>
                            각 참가자의 계정은 스마트 계약에 있지만 사이트에는 있지 않으므로 사이트 관리자가이를 차단하거나 삭제할 수 없습니다. 계정의 DOUBLEHANDS 웹 사이트
                            (비밀번호 없음)에는 Ethereum 스마트 계약에서 가져온 각 계정에 대한 정보 만 표시됩니다. 따라서 계정을 해킹하고 회원의 지갑을 변경하는 것은 불가능합니다
                            <br>
                            <br>
                            이 시스템의 제작자는 특별한 권한없이 각 회원과 동일한 계정을 보유합니다. 이 프로젝트의 저자들은 금융 분야뿐만 아니라 다른 많은 분야에서도 인터넷에서 다양한
                            프로젝트와 수입을 창출하려는 유혹을 받고 있습니다. 따라서 DOUBLEHANDS는 제작자가 PLEASURE에 참여하는 프로젝트입니다. 따라서이 프로젝트는 다른 많은
                            사람들을 좋아할 것입니다. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            책임의 부인 <br>
                            <br>
                            현장 관리는 DOUBLEHANDS 프로젝트의 소유가 아니며 참가자로부터 돈을 인출 할 수있는 기술적 능력이 없습니다. <br>
                            <br>
                            모든 계산은 현명한 계약을 통해 참가자간에 직접 수행됩니다.. <br>
                            <br>
                            아무도 소유하지 않는 현명한 계약은 참가자 자금을 축적하지 않지만 미리 만들어진 알고리즘에 따라 참가자간에 자금을 즉시 리디렉션합니다. <br>
                            <br>
                            DOUBLEHANDS 사이트의 관리는 시스템의 참가자에 의한 자금 손실 가능성에 대한 스마트 계약의 운영, 코드의 오류 및 스마트 계약의 작업에 대해 책임을지지
                            않습니다. <br>
                            <br>
                            사이트에서 "영리", "소득"및 이와 유사한 정의라는 단어는 본질적으로 광고이며 공공 서비스가 아닙니다. <br>
                            <br>
                            모든 환승은 자발적이며 무료입니다. <br>
                            <br>
                            DOUBLEHANDS 사이트는 프로젝트가 아니지만 DOUBLEHANDS 사이트 관리에 속하지 않는 DOUBLEHANDS 스마트 계약에서 가져온 공개 정보 만
                            표시합니다. <br>
                            <br>
                            사이트에있는 참가자의 개인 계정은 암호없이 누구나 액세스 할 수 있으며 시스템 참가자에 대한 개인 정보를 유지하지 마십시오. 개인 계정에는 DOUBLEHANDS
                            스마트 계약에서 가져온 시스템의 각 참가자 통계가 표시됩니다. <br>
                            <br>
                            -----
                            <br>
                            <br>
                            연락 정보 <br>
                            <br>
                            이메일로 요청할 수있는 시스템 및 규칙 및 계약에 대한 질문 @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>