<%- include('header'); -%>

        <main class="nk-pages">


            <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="overflow: hidden;background: #2a2a2a url(images/dark/bg_faqeth.svg) center center repeat; background-size: contain;">
                <div class="container">
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">
                            Preguntas Frecuentes sobre Ethereum</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Sabemos que
                            puedes tener preguntas
                            sobre el funcionamiento de Ethereum.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-xl-10 col-lg-10">
                                <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp"
                                    data-delay=".3">

                                    <li><a class="active" data-toggle="tab" href="#sistema-1">Preguntas Generales</a></li>

                                </ul>
                                <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="tab-pane fade show active" id="sistema-1">
                                        <div class="accordion accordion-faq" id="#faq-67">
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title" data-toggle="collapse"
                                                    data-target="#faq-67">
                                                    ¿Qué es Ethereum y por qué se usa exactamente en el sistema?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Ethereum: es la segunda criptomoneda después de Bitcoin por
                                                            popularidad, y la primera, por popularidad, en contratos
                                                            inteligentes.<br><br>

                                                            Características del proyecto en el contrato inteligente de
                                                            Ethereum:<br><br>
                                                            1) Tu billetera Ethereum no puede ser bloqueada o embrujada
                                                            ni siquiera teóricamente.<br><br>
                                                            2) Sistema CRYPTOHANDS: un código cargado en la red
                                                            principal de Ethereum. Esto no se puede eliminar ni cambiar
                                                            en esa red. Significa que su cuenta y el sistema CRYPTOHANDS
                                                            tampoco pueden ser pirateados o bloqueados, incluso en
                                                            teoría.<br><br>
                                                            3) El código está completamente abierto, y cualquier
                                                            programador en el mundo puede asegurarse de que el algoritmo
                                                            funcione de esta manera y no de otra manera.<br><br>
                                                            4) Todas las transacciones son públicas y acepta
                                                            automáticamente. Los fondos van DIRECTAMENTE a Su billetera,
                                                            por lo que no necesita confirmar ni solicitar pagos. El
                                                            factor humano se excluye por completo.<br><br>
                                                            5) Incluso si el sitio de CRYPTOHANDS deja de existir y la
                                                            administración desaparece, el contrato inteligente de
                                                            CRYPTOHANDS en la red Ethereum continuará existiendo, y eso
                                                            significa que el Sistema mismo continuará su trabajo.
                                                            Incluso en este caso, todas las cuentas y pagos continuarán
                                                            funcionando correctamente. Cualquier programador en el mundo
                                                            puede hacer un sitio espejo del mismo contrato inteligente
                                                            que todo el sistema, así como un grupo específico.<br><br>
                                                            6) Puede invitar referencias sin un sitio web en absoluto.
                                                            Para registrar una referencia, debe enviarla a la dirección
                                                            del contrato inteligente 0.05 ETH y en el campo "DATOS de
                                                            entrada" especifique la dirección de su línea
                                                            ascendente.<br><br>
                                                            7) Ethereum cryptocurrencie permite usar la función Repetir,
                                                            ahorrando descentralización y transferencias directamente
                                                            entre las partes a través del contrato inteligente.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-2">
                                                    ¿Cómo crear la billetera de Ethereum y comenzar a usarla?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>Cartera Ethereum: es, en primer lugar, dos cosas: <br><br>
                                                            1) Tu Llave pública - Es exactamente su número de billetera
                                                            Ethereum. No hay necesidad de ocultarlo. <br><br>
                                                            2) Tu llave privada - Un análogo de la contraseña habitual.
                                                            Es tu personal. La pérdida de una clave privada significa la
                                                            pérdida del control de Wallet. Si alguien confiscó su clave
                                                            privada, confiscó su dinero y usted no podrá cambiarlo por
                                                            otra clave privada.
                                                            Nunca te pedimos claves privadas<br><br>

                                                            Hay varias billeteras Ethereum. A continuación se detallan
                                                            las características y el uso más populares y simples de cada
                                                            uno de ellos.
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <p style="margin-top: 64px; text-align: center;">
                                                                    <b><span style="font-size: 2em;">1)
                                                                            MetaMask</span></b>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <a href=""><img src="images/dark/i_metamask.svg"
                                                                            style="width: auto; max-width: 100%; height: 64px;"></a>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <b><span style="font-size: 1.2em; color: #888888;"><i
                                                                                class="fas fa-desktop"></i>
                                                                            plugin</span></b>
                                                                </p>
                                                                <p
                                                                    style="text-align: center; text-align: center;font-size: 1.2em;color: #888888;">
                                                                    <i class="fab fa-chrome"></i> <i
                                                                        class="fab fa-firefox"></i> <i
                                                                        class="fab fa-opera"></i>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <i class="fas fa-check-circle"
                                                                        style="color: #4CD964;"></i> <b
                                                                        style="font-weight: 700;">Recomendado</b>
                                                                </p>
                                                                <p>
                                                                    <i class="fas fa-handshake faqeth_adv_icon_i"></i>
                                                                    Integración completa con CryptoHands. Registro y
                                                                    todas las compras adicionales de niveles en 1 click,
                                                                    todos los campos adicionales se completan
                                                                    automáticamente. </p>
                                                                <p>
                                                                    <i class="fas fa-key faqeth_adv_icon_i"></i> Le
                                                                    permite exportar e importar claves privadas, lo que
                                                                    significa que mantiene el control total sobre su
                                                                    billetera Ethereum. </p>
                                                                <p>
                                                                    <i class="fas fa-desktop faqeth_adv_icon_i"></i>
                                                                    Conveniente y fácil de usar. Es el complemento de
                                                                    billetera más popular y seguro para el navegador.
                                                                    Puede desactivarlo o eliminarlo del navegador en
                                                                    cualquier momento, con todos los detalles de acceso
                                                                    que le quedan. </p>
                                                                <p style="text-align: center;">
                                                                    Detallado en <a href="." target="_blank">Preguntas
                                                                        frecuentes sobre
                                                                        MetaMask</a> </p>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                                <p style="margin-top: 64px; text-align: center;">
                                                                    <b><span style="font-size: 2em;">2) Trust
                                                                            Wallet</span></b>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <a href=""><img src="images/dark/i_trustwallet.svg"
                                                                            style="width: auto; max-width: 100%; height: 64px;"></a>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <b><span style="font-size: 1.2em; color: #888888;"><i
                                                                                class="fas fa-mobile-alt"></i>
                                                                            aplicación movil</span></b>
                                                                </p>
                                                                <p
                                                                    style="text-align: center; text-align: center;font-size: 1.2em;color: #888888;">
                                                                    <i class="fab fa-apple"></i> <i
                                                                        class="fab fa-android"></i>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <i class="fas fa-check-circle"
                                                                        style="color: #4CD964;"></i> <b
                                                                        style="font-weight: 700;">recomendar</b>
                                                                </p>
                                                                <p>
                                                                    <i class="fas fa-handshake faqeth_adv_icon_i"></i>
                                                                    Integración completa con CryptoHands a través del
                                                                    navegador DApps incorporado. </p>
                                                                <p>
                                                                    <i class="fas fa-th-large faqeth_adv_icon_i"></i>
                                                                    Pegue el enlace de referencia al navegador DApps
                                                                    incorporado y el registro con todas las compras de
                                                                    nivel posterior estará en 1 click. </p>
                                                                <p>
                                                                    <i class="fas fa-key faqeth_adv_icon_i"></i> Permite
                                                                    importar claves privadas. Si ya tiene la billetera
                                                                    Ethereum, también puede usarla con la aplicación
                                                                    móvil. </p>
                                                                <p>
                                                                    <i class="fas fa-mobile-alt faqeth_adv_icon_i"></i>
                                                                    La aplicación es fácil de usar y tiene una interfaz
                                                                    intuitiva. </p>
                                                                <p style="text-align: center;">
                                                                    Detallado en <a href="" target="_blank">Preguntas
                                                                        frecuentes de Trust
                                                                        Wallet</a> </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <p style="margin-top: 64px; text-align: center;">
                                                                    <b><span style="font-size: 2em;">3)
                                                                            MyEtherWallet</span></b>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <a href=""><img
                                                                            src="images/dark/i_myetherwallet.svg"
                                                                            style="width: auto; max-width: 100%; height: 64px;"></a>
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <b><span style="font-size: 1.2em; color: #888888;"><i
                                                                                class="fas fa-desktop"></i> <i
                                                                                class="fas fa-mobile-alt"></i> versión
                                                                            web</span></b>
                                                                </p>

                                                                <p>
                                                                    <i class="fas fa-globe faqeth_adv_icon_i"></i> No es
                                                                    necesario instalar complementos y aplicaciones.
                                                                    Todas las transacciones se realizan directamente
                                                                    desde el sitio MyEtherWallet. </p>
                                                                <p>
                                                                    <i class="fas fa-edit faqeth_adv_icon_i"></i> Todos
                                                                    los campos generales y adicionales se llenan
                                                                    manualmente. Solo para usuarios avanzados. </p>
                                                                <p>
                                                                    Detallado en <a href="" target="_blank">Preguntas
                                                                        frecuentes sobre
                                                                        MyEtherWallet</a> </p>
                                                            </div>

                                                        </div>
                                                        <div style="margin-top:40px">
                                                            <p>
                                                                <span style="color:#ff3b30">¡Importante!</span> Si ha
                                                                registrado la billetera Ethereum en algún
                                                                servicio, siempre puede continuar usándola con otra.
                                                                Por ejemplo, si registró Ethereum a través de MetaMask,
                                                                puede continuar usando la misma billetera a través de
                                                                MyEtherWallet y, a la inversa.
                                                                Todo lo que necesitas: tu clave privada.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-3">
                                                    ¿Cómo fondear tu billetera de Ethereum?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>A través del servicio de intercambio (recomendado):<br>
                                                            1) Ir al sitio bestchange.com. Este es un monitoreo de
                                                            intercambiadores probados con los tipos de cambio más
                                                            favorables de los sistemas de pago y bancos más populares de
                                                            la mayoría de los países.<br>
                                                            2) Seleccione el sistema de pago apropiado a través del cual
                                                            desea realizar un intercambio por Ethereum.<br>
                                                            3) Elija el intercambiador adecuado con la mejor tarifa.<br>
                                                            4) Vaya al sitio del intercambiador seleccionado y siga las
                                                            sencillas instrucciones. El intercambio suele ser automático
                                                            y se confirma al instante.<br>
                                                            5) Asegúrese de que se hayan recibido los fondos en su
                                                            billetera Ethereum.<br><br>

                                                            Notas:<br>
                                                            Al pagar con tarjetas bancarias, los intercambiadores pueden
                                                            solicitar la verificación de la tarjeta por primera vez. Por
                                                            lo general, es una foto de la tarjeta en el fondo de la
                                                            página de intercambio. Los pagos posteriores serán
                                                            instantáneos.<br>
                                                            Si no desea verificar su tarjeta en el sitio del
                                                            intercambiador, primero puede recargar la cuenta de otro
                                                            sistema de pago instantáneamente desde su tarjeta bancaria
                                                            (NO a través del intercambiador, sino en el propio sistema
                                                            de pago), y luego enviar estos fondos a la billetera
                                                            Ethereum con otro sistema de pago sin verificación.<br><br>

                                                            A través del servicio LocalEthereum:<br>
                                                            1) Ir a la localethereum.com. Este es el servicio de
                                                            compra<br>
                                                            y venta de Ethereum a través de cualquier sistema de
                                                            pago.<br>
                                                            2) Registrarse. Es rápido.<br>
                                                            3) Elija el intercambio apropiado para su país.<br>
                                                            4) Siga las sencillas instrucciones de servicio.<br>
                                                            5) Asegúrese de que se hayan recibido los fondos en su<br>
                                                            billetera Ethereum.
                                                        </p>
                                                        <p style="text-align: center; font-size: 48px; color: #888888;">
                                                            <i class="fab fa-bitcoin"></i> <i
                                                                class="fab fa-ethereum"></i> <i
                                                                class="fab fa-cc-visa"></i> <i
                                                                class="fab fa-cc-mastercard"></i> <i
                                                                class="fab fa-paypal"></i> <i
                                                                class="fab fa-apple-pay"></i> <i
                                                                class="fab fa-google-wallet"></i> <i
                                                                class="fab fa-stripe"></i> <i class="fab fa-alipay"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-4">
                                                    ¿Cómo retirar fondos de la billetera de Ethereum a otros sistemas de
                                                    pago?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>La retirada de fondos de Ethereum es la misma que su recarga,
                                                            solo se debe elegir la dirección de intercambio opuesta.<br>

                                                            Nota. El servicio bestchange.com es adecuado para retirar
                                                            cualquier cantidad a tarjetas bancarias, incluso de forma
                                                            instantánea y automática para bancos populares.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-5">
                                                    ¿Qué es "Gas", "Precio del gas" (Gwei) y "Límite de gas"?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>Gas (gas) - Esta es la unidad de cálculo que se utiliza para
                                                            calcular y pagar la comisión por una acción o transacción
                                                            específica.<br><br>

                                                            Precio de la gasolina (Gwei) - Es el precio que los mineros
                                                            deben pagar por los cálculos. El principio básico sigue
                                                            siendo el mismo: se paga más, la transacción será más
                                                            rápida. El precio actual de la gasolina se puede encontrar
                                                            aquí: https://etherscan.io/gastracker.<br><br>

                                                            Si pones un pequeño precio de la gasolina, la transacción
                                                            pasará hasta que disminuya la carga en la red Ethereum. Esto
                                                            puede tomar hasta varias horas.<br><br>

                                                            Límite de gas - la cantidad máxima de Gas que puede pagar
                                                            durante una transacción. El valor recomendado de Límite de
                                                            gas = 400000. En algunas aplicaciones, el valor
                                                            predeterminado de Límite de gas = 1,000,000. Esto NO
                                                            significa que se le cobrará más por transacción. El Cargo,
                                                            en cualquier caso, los mismos fondos no gastados volverán al
                                                            saldo.<br><br>

                                                            Si establece un pequeño límite de Gas, la transacción no
                                                            pasará y los fondos volverán al saldo, pero parte de la
                                                            comisión en este caso aún se cobrará.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-6">
                                                    ¿Por qué está pendiente la transacción?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>La razón más probable: el bajo precio del gas (Gwei). El
                                                            precio actual del gas se puede encontrar aquí:
                                                            https://etherscan.io/gastracker</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-7">
                                                    ¿Por qué rechaza la transacción?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>La causa más probable es un pequeño valor del límite de gas.
                                                            Recomendamos establecer un límite de gas de 400,000.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                    data-target="#faq-67-8">
                                                    ¿Por qué al enviarl la transacción aparece "fondos insuficientes",
                                                    si los fondos son suficientes con un margen?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                                    <div class="accordion-content">
                                                        <p>Algunas billeteras de ethereum, por ejemplo, Trust Wallet,
                                                            establece el límite de gas en 1000000 de manera
                                                            predeterminada. Recuerde que esto NO significa que se le
                                                            cobrará más, esto significa que debe haber una reserva en la
                                                            billetera. Intente reducir esta cantidad a 400000. <br><br>

                                                            Si, después de todo, todavía se escribe que no hay fondos
                                                            suficientes, entonces, tal vez, la red Ethereum se carga más
                                                            de lo habitual, por ejemplo, 20 Gwei o 40 Gwei (el valor
                                                            normal es 5 Gwei). En este caso, puede esperar hasta que
                                                            disminuya la carga en la red. Puede reducir (POR UN POCO) el
                                                            precio del gas usted mismo, pero luego la transacción
                                                            llevará más tiempo, hasta varias horas en lugar de varios
                                                            segundos. También puede agregar algunos fondos a la
                                                            billetera, por lo que fue suficiente para realizar una
                                                            transacción.<br><br>

                                                            Tenga en cuenta que la comisión estimada que se escribió en
                                                            la transacción NO es la comisión real, sino su valor máximo
                                                            posible si se agota todo el límite de gas. La tarifa de
                                                            transacción real será mucho menor.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>


        </main>
        <%- include('footer'); -%>