<%-include('header');-%>
<main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <spanclass="line-4">
                        </span> <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                        <spanclass="line-8">
                            </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">
                    它是如何工作的？</h2>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    四个简单步骤</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1.注册</h4>
                            <p class="step-description">0.08 ETH送你的上线，第一参考谁后，将返回</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2.登录</h4>
                            <p class="step-description">1，没有密码点击（我们从来不问私钥）</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3.吸引介绍人</h4>
                            <p class="step-description">吸引转诊或转介期望系统</p>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4.收入</h4>
                            <p class="step-description">立即收到资金在ETH钱包没有确认或付款请求</p>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">详细操作</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0复仇</h3>
                            <div>如果你没有一个钱包复仇读M [作为它的常见问题复仇</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1.订阅</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">从你的钱包复仇你的上线0.08 ETH发送。和第一个用户来了之后，他回到这一数额。
                                <br>
                                <br>发送0.08
                                ETH的地址智能合同并输入号码在必填字段“数据录入”你的钱包复仇的上线（否则，聪明的合同将不接受转帐资金留在你）。如果使用MetaMask，交易与点击1做，你的上线的地址将在“输入数据”被自动插入域。
                                <br>
                                <br>智能合同立即重定向资金你的上线第一线（直接邀请），并分配在系统中的第一级。一个成功的交易将在系统中分配给您的帐号（下面的级别的详细信息）的第1级注册。页面上简单和明确的指引。订阅。
                            </div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                重要！如果你的钱包，从中将资金汇地址在CryptoHands，那么你可以不指定上升线，而只是将资金转移到智能合同的方向。在这种情况下，该行是向上其向上最近CryptoHands线，这是DoubleWay。不仅溢出它获得的，也是其他用户都晚于你，即使他们自己的上线在CryptoHands引用。
                            </div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">这些都将是第一次引用后0.08 ETH完全恢复。</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2.登录</h3>
                            <h4>2.1.</h4>
                            <div class="step-detail-description">进入只有你的钱包复仇的数量（无密码）或MetaMask登录到您的帐户。
                                <br>
                                <br>该帐户不能被黑客攻破，因为没有什么东西是盗版，没有密码。当您在帐户中输入地址，这些信息将采取钱包链块和显示的复仇，无人能挡的帐户，包括管理项目，和钱包不能改变到另一个。
                                <br>
                                <br>复仇你的钱包不能阻止由于权力下放。这是cryptocurrency的一个特点。
                                <br>
                                <br><span style="color: red">我们从来没有要求你输入你的私钥。</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3.吸引或等待转介</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">购买1级后，你可以亲自邀请2.这些引用引用第1行。</div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">
                                如果你邀请2个引用，然后邀请3日，您将被自动引导到您的引用，以便从该列表的顶部，如果他们每个人都有2位占用，你将被引导到引用您参考。溢出线运行，直到10包容性。详情常见问题。
                            </div>
                            <h4 style="margin-top:80px">3.3。免费推荐。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">无偿引用均匀分布在整个系统中，与以前被记录在系统的上行线开始。</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4.收入</h3>
                            <h4>4.1。 （1级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">第一参考邀请或接收到来自系统将转移0.08 ETH。与1号线的2参考资料可以接收总共0.16 ETH。
                            </div>
                            <h4 style="margin-top:80px">4.2。 （2级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">然后转移所有ETH 0.16到你的上线的上线（你的上线第二条线），所以购买2级。
                                <br>第二个和所有后续水平可立即购买一级别后可以购买，而无需等待所有的空间都充满了引用。下面的更多信息。
                                <br>当你购买他们的第二个行引用引用（引用或2号线）的上线的2级能买2级人数4 0.16 ETH转移他，你必须在第二个0.64 ETH总的水平。</div>
                            <h4 style="margin-top:80px">4.3。 （3级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">购买第二级别后，你可以买到这是第3级，完成交易0.32 ETH他的上线第3位。
                                <br>现在8个引用第3行可以买到3级。总体而言，2.64 ETH并且可以在第三级被转移到你。</div>
                            <h4 style="margin-top:80px">4.4。 （第4级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">您可以通过转移0.64 ETH他的上线，4号线买4级。 16个引用四号线可以让你从ETH
                                0.64每次传输。而在第4级，你可以通过在总共10.24 ETH转移。</div>
                            <h4 style="margin-top:80px">4.5。 （第5级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">等级5可以通过1.28
                                ETH购买交易到第五行的其线上游。在那之后，他们的在线参考5ST可以买5级。每个参考文献32的发送ETH 1.28。总之，它可以被转移到ETH 40.96 5级。</div>
                            <h4 style="margin-top:80px">4.6。 （6级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">6级可以从你的上线6号线通过转移2.56 ETH的购买。
                                <br>购买6级第6行引用后可以买6级。 64人可以将你ETH 2.56为他们每个人。总之，你会被ETH 163.84在第六层上传输。</div>
                            <h4 style="margin-top:80px">4.7。 （7级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">要购买7级时，必须转移5.12 ETH他的上线7RD。购买7级后，引用七号线可以买到7级。
                                128人能打动你ETH 5.12为他们每个人。在7级总，你可以通过ETH 655.36传输。</div>
                            <h4 style="margin-top:80px">4.8。 （8级）</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">要购买最新的第8级，你必须转让其8号线10.24 ETH上线。
                                <br>购买8级后，您可以访问ETH从256您的网上参考第八10.24扩展。在第8级，你总能收到ETH 2621.44。</div>
                            <h4 style="margin-top:80px">4.9总收入</h4>
                            <h5 style="margin-top:80px">每月4.9.1总收入。</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">严格收入64日：3495.2 ETH。净利润64日：3474.8 ETH。 （下一页：3500 ETH）。
                            </div>
                            <h5 style="margin-top:80px">每月4.9.2总收入。</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">严格的年收入：20971.2 ETH。每年的净利润：20848.8 ETH。 （下一页：20000
                                ETH）。<span style="color:#ff3b30">*</span> <span style="color:#ffcc00">**</span><span
                                    style="color:#4cd964">***</span>
                                <br>
                                <br><span
                                    style="color:#ff3b30">*</span>20000每年不含ETH超额利润的总和是理论最大可能的增益，这是几乎不可能获得的第一年，和接收的概率接近0％。
                                <br>
                                <br><span style="color:#ffcc00">**</span>这一数额在实践中，实质，做到一半是相当现实的，接收的可能性趋于100％，即使是在第一年。
                                <br>
                                <br> <span style="color:#4cd964">***</span>但与“重复”功能，能够将ETH
                                20,000年份（感谢无效参考）它往往100％DOUBLEWAY的每个成员。
                                <br>
                                <br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5.下一步是什么？重复每月。</h3>
                            <h4></h4>
                            <div class="step-detail-description">它创造的2个参考文献通过自己邀请的结构+ 4的引用的第二行+ 2的引用第三行+第四行8的引用等=
                                3名的引用，并已经获得了超过16 ETH约今年，还等什么？一个曾经只为钱，这就是它？
                                <br>
                                <br>最终，这些钱将停止向你走来，所有收益钻研结构。和水平的重复购买的成本是无比比已经收到了收益便宜，如果你重复一切从一开始就可以再次接收。而且它已经为参考，所以没有必要邀请任何人。因此，再次购买各个层面，从第一个开始。因此，每两个月，接收回来的募集金额所有的时间。
                                <br>
                                <br>所有提及回购NO水平每两个月让你成为一个“门户”到同一线路的所有引用。
                                <br>
                                <br>因此，更少的人留在自己的结构，更大的收益。
                                <br>
                                <br>工作原理类似于款4.10。
                                <br>
                                <br>每个水平持续64天。每个扩展水平是在同一时间。每一级可以购买预先最多64天2个周期。如果你连续买了你的参考水平的2倍，那么你得到这笔钱。从各个层面的数据在个人账户方便地提供。
                            </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6.吸引或等待称为</h3>
                            <div class="step-detail-description">
                                如果你建立一个大的结构，将收到的钱每两个月，既增加收入，如果引用变为无效，如果网站没有关闭，或者如果政府不会不支持该项目得到什么保证？</div>
                            <h4 style="margin-top:80px">6.1。复仇确保你的钱包不会堵塞..</h4>
                            <div class="step-detail-description">阻止复仇的钱包由于blockchain的特点是清晰度是不可能的。
                                <br>
                                <br>在硬币的反面：如果你失去了你的钱包的控制，都不能归回。
                                <br>
                                <br><span style="color:#ff3b30">我们从来没有要求你输入你的私钥。</span></div>
                            <h4 style="margin-top:80px">6.2。确保在NO系统帐户被阻止或被黑客攻击。</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">
                                块或劫持的帐户也不可能被定义。您的帐户不是网站和服务器上，但在智能合同复仇主网。这意味着，任何人，包括那些谁开发的智能合同不能改变它，改正它还是在理论上将其删除。
                                <br>
                                <br>网站信息是在您的帐户没有密码，并加载到从公开的统计数据智能复仇合同的部位。</div>
                            <h4 style="margin-top:80px">6.3。即对网站的终止和管理的消失保护的保证。</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">
                                智能，合同，帐户从网站自主生存，甚至关闭网站不能进行更改系统，因为它的每一个取款引用反复增加他们的利润（附注4.9参见上面的例子） 。</div>
                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">在世界上任何一个程序员可以使相同的智能合同的镜像站点。</div>
                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">集团领导（包括你的上线和其中的参考文献），可以创建一个特定的计算机的站点。
                                <br>
                                <br>每个成员甚至这一点保护。现在加入，而一切才刚刚开始！））</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>