<%-include('header');-%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="overflow: hidden;background: #2a2a2a url(<%= host %>/images/dark/bg_faqeth.svg) center center repeat; background-size: contain;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">关于复仇的常见问题</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">我们知道你可能有关于复仇的操作问题。</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">普通问题</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            什么是复仇，为什么它在系统中使用的到底是什么？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>复仇：cryptocurrency是人气第二比特币，和第一人气，智能合同。<br><br>该项目具有智能复仇合同：<br><br>1）你的钱包复仇无法阻止或蛊惑，甚至在理论上。<br><br>2）CRYPTOHANDS系统：一个代码的主复仇网络中加载。这不能被删除或改变了网络上。这意味着你的帐户和CRYPTOHANDS系统甚至不能在理论上被黑客攻击或阻塞。<br><br>3）该代码是完全开放的，并在世界上任何一个程序员可以保证算法以这种方式工作，而不是其他。<br><br>4）所有的交易都是公开的，自动接受。资金直接进入你的钱包，所以你不必确认或要求付款。人的因素被完全排除。<br><br>5）即使该网站不再存在CRYPTOHANDS和行政消失，智能CRYPTOHANDS合同复仇军网将继续存在，这意味着，同样的系统将继续开展工作。即使在这种情况下，所有账户和国际继续正常工作。在世界上任何一个程序员可以使相同的智能合同的镜像站点，整个系统和特定的组。<br><br>6）你可以邀请引用没有在所有网站。要注册一个参考，你必须把它发送给智能合同0.05
                                                    ETH和“输入数据”域的地址输入你的上线的地址。<br><br>7）复仇cryptocurrencie，您可以使用重复功能，通过智能合同当事人之间直接节省权力下放和转移。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">如何创建复仇的钱包，并开始使用它？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>复仇的投资组合：它是，首先，两件事情：<br><br>1）你的公钥 - 正是复仇的钱包的数量。无需将其隐藏。<br><br>2）你的私钥
                                                    -
                                                    通常密码的类似物。是你的员工。的丢失钱包的控制私钥填列。如果有人没收了他的私钥，他没收了他们的钱，你不能将其更改为另一个私有密钥。我们从来不问私钥<br><br>有几个钱包复仇。功能和最流行的和简单的使用他们每个人都详细说明。
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1）Natnask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-desktop"></i>插入
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-chrome"></i>
                                                            <iclass="fab fa-firefox"></i>
                                                                <iclass="fab fa-opera"></i></p>
                                                                    <p style="text-align: center;"><i
                                                                            class="fas fa-check-circle"
                                                                            style="color: #4CD964;"></i> <b
                                                                            style="font-weight: 700;">建议</b></p>
                                                                    <p> <i
                                                                            class="fas fa-handshake faqeth_adv_icon_i"></i>与CryptoHands完全集成。注册和在1次点击级别的所有额外购买，所有附加字段将自动填充。
                                                                    </p>
                                                                    <p><i
                                                                            class="fas fa-key faqeth_adv_icon_i"></i>它可以让你导出和导入私钥，保持对你的钱包复仇军完全控制该装置。
                                                                    </p>
                                                                    <p> <i
                                                                            class="fas fa-desktop faqeth_adv_icon_i"></i>方便和易于使用。这是补最受欢迎的钱包和安全的浏览器。您可以禁用或随时从浏览器中删除它，与所有访问细节剩余。
                                                                    </p>
                                                                    <p style="text-align: center;">详细<a href="."
                                                                            target="_blank">约MetaMask常见问题解答</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2）信托钱包</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-mobile-alt"></i>移动应用程序</span></b>
                                                        </p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">建议</b> </p>
                                                            <p><i
                                                                    class="fas fa-handshake faqeth_adv_icon_i"></i>通过内置浏览器Dapps完全CryptoHands整合。
                                                            </p>
                                                            <p> <i
                                                                    class="fas fa-th-large faqeth_adv_icon_i"></i>1单击粘贴链接Dapps参考内置的浏览器，并登记所有采购会后的水平。
                                                            </p>
                                                            <p><i
                                                                    class="fas fa-key faqeth_adv_icon_i"></i>它可以让你导入私钥。如果你已经有了复仇的钱包，你也可以使用移动应用程序。
                                                            </p>
                                                            <p><i
                                                                    class="fas fa-mobile-alt faqeth_adv_icon_i"></i>该应用程序易于使用，并有一个直观的界面。
                                                            </p>
                                                            <p style="text-align: center;">详细<a href=""
                                                                    target="_blank">常见问题信托钱包</a> </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3）MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_myetherwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>网页版</span></b>
                                                        </p>
                                                        <p> <i
                                                                class="fas fa-globe faqeth_adv_icon_i"></i>这是没有必要安装的插件和应用程序。所有的交易都是直接从MyEtherWallet现场制作。
                                                        </p>
                                                        <p> <i
                                                                class="fas fa-edit faqeth_adv_icon_i"></i>所有额外普通领域和手工填写。仅适用于高级用户。
                                                        </p>
                                                        <p>详细<a href="" target="_blank">常见约MyEtherWallet问题</a> </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span
                                                            style="color:#ff3b30">重要！</span>如果您已经注册的服务复仇的钱包，您可以随时继续与其他使用它。例如，如果通过MetaMask记录复仇，您可以继续使用通过MyEtherWallet，相反同一个电子钱包。所有你需要的：你的私钥。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">如何资助你的钱包复仇？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>通过共享服务（推荐）：<br>1）进入站点bestchange.com。这是在大多数国家与支付系统的有利的汇率和最流行的银行测试了监控器。<br>2）选择希望通过其来换取复仇相应的支付系统。<br>3）选择最佳的速度权交换。<br>4）进入选择器的网站，并按照简单的指令。交换通常是自动的，即时确认。<br>5）确保你已经在你的钱包复仇收到的资金。<br><br>注意事项：<br>A和银行卡支付热交换器可要求该卡的验证首次。通常它是在页面交换的最下方的卡片的图片。随后的款项都将瞬间。<br>如果你不想在交换器的网站，以验证您的卡，你可以首先从您的银行卡充值的帐户即时支付的另一个系统的（不通过热交换器，但在支付系统本身），然后把这些资金复仇钱包与其他支付系统验证。<br><br>通过LocalEthereum服务：<br>1）进入localethereum.com。这是购物服务<br>复仇和销售通过任何支付系统。<br>2）注册。这是快。<br>3）选择您所在国家的适当交流。<br>4）按照简单的服务。<br>5）请确保您有在收到资金的<br>复仇钱包。
                                                </p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">如何从钱包复仇其他支付系统提取资金？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>复仇军的撤离是一样的充电时，你应该只选择方向相反的交流。<br>注。该bestchange.com服务是足以消除任何金额的银行卡，甚至立即自动为流行的银行。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">什么是“气”，“气价”（GWEI）和“限气”？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>气（气体） - 这是用于计算并支付费用的动作或特定交易的计算单元。<br><br>汽油价格（GWEI） -
                                                    矿工必须支付的计算价格。其基本原理是一样的：你付出越多，成交会比较快。汽油目前的价格可以在这里找到：https://etherscan.io/gastracker。<br><br>如果你把一个小的汽油价格，交易将下降，直到在网络上复仇的负荷。这可能需要几个小时的时间。<br><br>燃气极限
                                                    - 可以支付交易气体的最大金额。气体= 400000的推荐限值在某些应用中，默认值限制气体=
                                                    1,000,000。这并不意味着你将支付更多的每笔交易。办公室，在任何情况下，他们再未动用的平衡。<br><br>如果设置少量气体的限制，交易，资金不会回到平衡，但在这种情况下，你仍然会被收取佣金的一部分。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">你为什么挂起的事务？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>最有可能的原因是：价格低廉气体（GWEI）的。天然气目前的价格可以在这里找到：https://etherscan.io/gastracker
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">为什么拒绝交易？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>最可能的原因是气的限制较小的值。我们建议设置400000种气体的限制。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">为什么“资金不足”出现在enviarl交易，如果资金足够用保证金？<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>一些钱包复仇，例如，信托钱包，默认设置限制气体1:1000000。请记住，这并不意味着你将支付更多，这意味着要在钱包预约。尝试这一数额减少40万。<br><br>如果，毕竟还是写道，没有足够的资金，则或许比平常网络复仇更多的货物，例如，20或40
                                                    GWEI GWEI（标准值是5
                                                    GWEI）。在这种情况下，你可以期望减少网络上的负载。您可以减少（某些）气体自己的价格，但随后的交易将需要更长的时间，长达几个小时而不是几秒钟。您也可以部分资金添加到钱包，所以这是足以让交易。<br><br>请注意，这是写在交易预计的佣金是不是皇家调查委员会，但其最大可能值，如果整个限废气。实际成交率要低得多。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>