<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    条款及细则</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            服务条款 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            概论 <br>
                            <br>

                            由HUMANS FOR HUMANS创建的DOUBLEWAY项目。 <br>
                            <br>
                            由谁来<br>
                            对于已经创建了项目的人，您完全了解它们并取得了巨大的成功。对于很久以前成为百万富翁的人们。对于人类，他们梦想着做对人类有益的事情。美好的事物将汇集过去的所有最佳经验。不会被阻止或破坏的东西。可以给每个参与者带来财富和丰富的东西。不是一次，而是很多年。随着加密货币的出现，这个机会终于出现了。
                            <br>
                            <br>
                            ¿Para quién? <br>
                            对于做某事的人。对于生活了很多年并且想要更多的人们。对于刚刚开始物质幸福生活的人们。对于愿意与亲人分享美好事物的人。对于那些进步而又不停步的人。对于我们每个人 <br>
                            <br>
                            这是什么项目 <br>
                            DOUBLEHANDS项目：智能帐户，不属于任何人。这是以太坊加密货币的特异性。智能合约：这是一种加密货币分配算法，在以太坊网络上加载后无法再对其进行编辑，修改或删除。 <br>
                            <br>

                            DOUBLEHANDS smartcontract已加载到以太坊加密货币网络中，从理论上讲，甚至没有人可以更改或删除它，包括其创建者。因此
                            即使站点关闭并且管理消失了，没有人或任何事情可以停止系统的工作。 DOUBLEHANDS系统不属于任何人，并且独立于站点工作。 <br>
                            <br>
                            每个参与者的帐户均属于智能合约，但不在站点上，因此，站点管理都无法阻止或删除该参与者。您帐户中的DOUBLEHANDS网站（无密码）仅显示从以太坊智能合约中获取的每个帐户的信息。因此，无法核算和更改会员的钱包
                            <br>
                            <br>

                            该系统的创建者具有与每个成员完全相同的帐户，没有任何特殊特权。该项目的作者非常想创建
                            不同的互联网项目和收入，不仅在金融领域，而且在许多其他领域。因此，DOUBLEHANDS是一个其创作者参与的项目
                            参与其中。因此，该项目可能像许多其他人一样。 <br>
                            <br>
                            -----
                            <br>
                            <br>
                            免责声明 <br>
                            <br>
                            站点管理不属于DOUBLEHANDS项目，并且不具备从参与者处提取资金的技术能力 <br>
                            <br>
                            所有计算都是通过智能合约直接在参与者之间进行的。 <br>
                            <br>
                            不属于任何人的智能合约不会累积参与者的资金，而是会根据预制算法立即在参与者之间重定向资金。 <br>
                            <br>
                            DOUBLEHANDS站点的管理部门不对智能合约的操作以及代码和智能合约工作中可能的错误负责，因为系统参与者可能会损失资金 <br>
                            <br>
                            网站上的“收入”，“收入”和类似定义属于广告性质，并非公开发售。 <br>
                            <br>
                            所有转移都是自愿和免费的。 <br>
                            <br>
                            DOUBLEHANDS SITE不是项目，而仅显示所获取的公共信息
                            DOUBLEHANDS智能合约，它不属于DOUBLEHANDS网站的管理。 <br>
                            <br>
                            所有人无需密码即可访问该站点上参与者的个人帐户，并且请勿保留系统参与者的任何个人信息。个人帐户显示每个系统参与者的统计信息，这些统计信息来自DOUBLEHANDS智能合约。 <br>
                            <br>
                            -----
                            <br>
                            <br>

                            联络资料 <br>
                            <br>
                            您可以通过电子邮件@ doublehands.io询问有关系统以及规则和协议的问题。


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>