<%-include('header');-%><main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4"></span> <span class="line-5"></span><span class="line-6"></span><span
                            class="line-7"></span>
                        <span class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">यह
                    कैसे काम करता है?</h2>
            </div><!-- Block @s -->
            <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">
                    चार आसान चरणों</p>
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_1.svg" alt=""></div>
                            <h4 class="step-title">1. पंजीकरण</h4>
                            <p class="step-description">0.08 ETH अपने upline भेजने के लिए, जो पहले संदर्भ के बाद वापस आ
                                जाएगी</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_2.svg" alt=""></div>
                            <h4 class="step-title">2. प्रवेश करें</h4>
                            <p class="step-description">1, कोई पासवर्ड क्लिक (हम कभी नहीं निजी कुंजी पूछना)</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int"><img class="step-img" src="images/dark/step_3.svg" alt=""></div>
                            <h4 class="step-title">3. आकर्षित रेफ़रल</h4>
                            <p class="step-description">आकर्षित रेफरल या रेफरल प्रणाली की उम्मीद</p>
                        </div>
                    </div><!-- .col -->
                    <div class="col-xl-3">
                        <div class="step-ext">
                            <div class="step-int-last"><img class="step-img" src="images/dark/step_4.svg" alt=""></div>
                            <h4 class="step-title">4. आय</h4>
                            <p class="step-description">पुष्टि या भुगतान अनुरोध के बिना ETH बटुए पर तुरंत धनराशि प्राप्त
                                करें</p>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div style="margin-top:60px">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento"
                        style="text-align: center;">विस्तृत आपरेशन</h2>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_0.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>0. Ethereum</h3>
                            <div>यदि आप एक बटुआ ethereum पढ़ने मीटर नहीं है, तो [पूछे जाने वाले प्रश्न ethereum में के
                                रूप में यह पर</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_1.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>1. सदस्यता लें</h3>
                            <h4>1.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_1.svg" alt=""></div>
                            <div class="step-detail-description">अपने बटुए ethereum अपने upline से 0.08 ETH भेजें। और
                                पहली उपयोगकर्ता वह इस राशि लौटे के बाद आया था।<br><br>यही कारण है कि पता स्मार्ट अनुबंध
                                करने के लिए 0.08 ETH भेजता है और (अन्यथा, स्मार्ट अनुबंध हस्तांतरण स्वीकार नहीं करेंगे
                                और धन आप के साथ रहना) अनिवार्य फ़ील्ड "डेटा प्रविष्टि" में अपने बटुए ethereum अपलाइन की
                                एक संख्या दर्ज करें। आप MetaMask उपयोग करते हैं, लेन-देन एक क्लिक के साथ किया जाता है 1
                                और अपने upline के पते क्षेत्र "इनपुट डेटा" में डाला जाएगा स्वतः।<br><br>बुद्धिमान अनुबंध
                                तुरंत प्रणाली में प्रथम स्तर अपने upline पहली पंक्ति (प्रत्यक्ष आमंत्रणकर्ता) और प्रदान
                                करने के लिए धन पुनर्निर्देश। एक सफल लेन-देन प्रणाली और स्तर 1 (नीचे के स्तर पर विवरण)
                                आपके खाते को निर्दिष्ट में दर्ज किए जाएंगे। पृष्ठ पर सरल और स्पष्ट गाइड। सदस्यता लें।
                            </div>
                            <div
                                style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">
                                महत्वपूर्ण! जहाँ से धनराशि भेज देता है अपने बटुए का पता CryptoHands में है, तो आप आरोही
                                लाइन निर्दिष्ट नहीं कर सकते, लेकिन बस स्मार्ट अनुबंध की दिशा के लिए धन हस्तांतरण। इस
                                मामले में, रेखा ऊपर की ओर इसके ऊपर की ओर निकटतम CryptoHands लाइन है, जो DoubleWay है।
                                इतना ही नहीं अतिप्रवाह इसे प्राप्त किया, लेकिन यह भी अन्य संदर्भ है कि बाद में आप की
                                तुलना में दर्ज किए गए, भले ही वे CryptoHands में उनके uplines थे।</div>
                            <h4 class="step-detail-subtitle">1.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/1_2.svg" alt=""></div>
                            <div class="step-detail-description">ये 0.08 ETH पूरी तरह से पहले संदर्भ के बाद लौटा दी
                                जाएगी।</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_2.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>2. प्रवेश करें</h3>
                            <h4>2.1.</h4>
                            <div class="step-detail-description">केवल अपने बटुए ethereum की संख्या (कोई पासवर्ड) दर्ज
                                करके या MetaMask द्वारा अपने खाते में लॉगिन।<br><br>खाता हैक नहीं किया जा सकता, कुछ भी
                                नहीं है कि pirating और कोई पासवर्ड न होने के कारण। जब आप अपने खाते पर पता दर्ज करें, इस
                                जानकारी बटुआ श्रृंखला ब्लॉक ले जाया जाएगा और ethereum दिखाया गया है, कोई भी परियोजना के
                                प्रबंधन सहित, खाता ब्लॉक कर सकते हैं, और बटुआ एक और करने के लिए बदला नहीं जा
                                सकता।<br><br>Ethereum अपने बटुए विकेन्द्रीकरण की वजह से नहीं रोक सकते हैं। यह
                                cryptocurrency की एक विशेषता है।<br><br><span style="color: red">हम कभी भी आपका निजी
                                    कुंजी करने के लिए कह।</span></div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_3.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>3. आकर्षित या प्रतीक्षा रेफरल</h3>
                            <h4>3.1.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_1.svg" alt=""></div>
                            <div class="step-detail-description">स्तर 1 खरीदने के बाद, आप व्यक्तिगत रूप से आमंत्रित कर
                                सकते हैं 2. ये संदर्भ संदर्भ 1 लाइन कर रहे हैं।</div>
                            <h4 style="margin-top:80px">3.2.</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_2.svg" alt=""></div>
                            <div class="step-detail-description">आप 2 संदर्भ आमंत्रित किया है और फिर 3 आमंत्रित हैं, तो
                                आप स्वचालित रूप से अपने संदर्भ के लिए सूची में सबसे ऊपर से निर्देशित किया जाएगा और यदि
                                उनमें से प्रत्येक 2 कब्जे वाले रिक्त स्थान है, तो आप अपने संदर्भ संदर्भ के लिए निर्देशित
                                किया जाएगा। अतिप्रवाह लाइन 10 समावेशी तक चलेगा। विवरण सामान्य प्रश्न।</div>
                            <h4 style="margin-top:80px">3.3। मुक्त रेफरल।</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">अनावश्यक संदर्भ प्रणाली भर में समान रूप से वितरित कर
                                रहे हैं, उन लोगों के आरोही लाइनों जो पहले से प्रणाली में दर्ज किए गए के साथ शुरुआत।
                            </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_4.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>4. आय</h3>
                            <h4>4.1। (1 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_1.svg" alt=""></div>
                            <div class="step-detail-description">पहला संदर्भ आमंत्रित या प्राप्त सिस्टम से 0.08 ETH
                                स्थानांतरित करेंगे है। और 2 1 रेखा के संदर्भ में कुल 0.16 ETH प्राप्त कर सकते हैं।</div>
                            <h4 style="margin-top:80px">4.2। (2 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_2.svg" alt=""></div>
                            <div class="step-detail-description">तो फिर अपने upline upline (अपने upline दूसरी पंक्ति) के
                                लिए सभी ETH 0.16 हस्तांतरित कर देता है, 2 स्तर खरीदने तो।<br>दूसरे और बाद के सभी स्तरों
                                पिछले स्तर की खरीद के बाद तुरंत खरीदा जा सकता है, सभी रिक्त स्थान के संदर्भ से भर रहे
                                हैं का इंतजार किए बिना। नीचे में अधिक जानकारी।<br>जब आप दूसरी पंक्ति संदर्भ संदर्भ
                                (संदर्भ या 2 लाइन) के उनके upline के 2 स्तर की खरीद के स्तर 2. व्यक्तियों खरीद सकते हैं
                                4 0.16 ETH उसे हस्तांतरित और आप दूसरे में 0.64 ETH है कुल स्तर।</div>
                            <h4 style="margin-top:80px">4.3। (3 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_3.svg" alt=""></div>
                            <div class="step-detail-description">दूसरे स्तर खरीदने के बाद आप 3th स्तर खरीद सकते हैं, एक
                                सौदे 0.32 ETH अपने अपलाइन 3 बना रही है।<br>8 संदर्भ अब 3 लाइन 3 स्तर खरीद सकते हैं। कुल
                                में, 2.64 ETH और 3 के स्तर पर आप को हस्तांतरित किया जा सकता है।</div>
                            <h4 style="margin-top:80px">4.4। (4 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_4.svg" alt=""></div>
                            <div class="step-detail-description">आप 0.64 ETH अपने अपलाइन 4 लाइन स्थानांतरित करके 4 था
                                स्तर खरीद सकते हैं। 16 संदर्भ 4 लाइन आप ETH 0.64 प्रत्येक से स्थानांतरित कर सकते हैं। और
                                4 स्तर में आप कुल में 10.24 ETH से स्थानांतरित किया जा सकता।</div>
                            <h4 style="margin-top:80px">4.5। (5 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_5.svg" alt=""></div>
                            <div class="step-detail-description">स्तर 5 5 वीं लाइन की अपनी लाइन नदी के ऊपर करने के लिए
                                1.28 ETH द्वारा एक सौदे खरीद सकते हैं। उसके बाद, अपने ऑनलाइन संदर्भ 5st 5 वीं स्तर खरीद
                                सकते हैं। संदर्भ 32 से प्रत्येक ETH 1.28 भेजता है। कुल में, यह ETH 40.96 5 वीं स्तर को
                                हस्तांतरित किया जा सकता है।</div>
                            <h4 style="margin-top:80px">4.6। (लेवल 6)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_6.svg" alt=""></div>
                            <div class="step-detail-description">स्तर 6 अपने upline लाइन 6 से 2.56 ETH के हस्तांतरण से
                                खरीदा जा सकता है।<br>6 स्तर 6 ऑनलाइन संदर्भ खरीदने के बाद एक 6 स्तर खरीद सकते हैं। 64
                                लोगों को उनमें से प्रत्येक के लिए आप ETH 2.56 हस्तांतरण कर सकते हैं। कुल में, आप छठे
                                स्तर पर ETH 163.84 द्वारा स्थानांतरित कर दिया जाएगा।</div>
                            <h4 style="margin-top:80px">4.7। (7 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_7.svg" alt=""></div>
                            <div class="step-detail-description">7 वीं स्तर की खरीद के लिए, आपको 5.12 ETH अपने अपलाइन
                                7RD स्थानांतरित करना होगा। 7 वीं स्तर खरीदने के बाद, संदर्भ 7 वीं लाइन 7 वीं स्तर खरीद
                                सकते हैं। 128 लोगों को उनमें से प्रत्येक के लिए आप ETH 5.12 स्थानांतरित कर सकते हैं। 7
                                वीं स्तर में कुल में, आप ETH 655.36 द्वारा स्थानांतरित किया जा सकता।</div>
                            <h4 style="margin-top:80px">4.8। (8 स्तर)</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_8.svg" alt=""></div>
                            <div class="step-detail-description">नवीनतम 8 वीं स्तर की खरीद के लिए, आपको 8 वीं लाइन के
                                अपने 10.24 ETH अपलाइन स्थानांतरित करना होगा।<br>8 वीं स्तर खरीदने के बाद आप ETH 256 आपके
                                ऑनलाइन संदर्भ 8 से 10.24 एक्सटेंशन पहुँचा जा सकता है। 8 वीं स्तर में कुल में आप ETH
                                2621.44 प्राप्त कर सकते हैं।</div>
                            <h4 style="margin-top:80px">4.9 कुल आय</h4>
                            <h5 style="margin-top:80px">4.9.1 प्रति माह कुल आय।</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_1.svg" alt=""></div>
                            <div class="step-detail-description">कड़ाई से आय 64 दिन: 3495.2 ETH। 64 दिनों के लिए शुद्ध
                                लाभ: 3474.8 ETH। (अगला: 3500 ETH)।</div>
                            <h5 style="margin-top:80px">4.9.2 प्रति माह कुल आय।</h5>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/4_9_2.svg" alt=""></div>
                            <div class="step-detail-description">कड़ाई से वार्षिक आय: 20971.2 ETH। प्रति वर्ष शुद्ध आय:
                                20848.8 ETH। (अगला: 20000 ETH)।<span style="color:#ff3b30">*</span> <span
                                    style="color:#ffcc00">**</span><span style="color:#4cd964">***</span> <br><br><span
                                    style="color:#ff3b30">*</span>20,000 प्रति वर्ष को छोड़कर ETH superprofits का योग
                                सैद्धांतिक अधिकतम संभव लाभ है, जो लगभग प्रथम वर्ष में प्राप्त करने के लिए असंभव है, और
                                प्राप्त करने की संभावना 0% दृष्टिकोण।<br><br><span style="color:#ffcc00">**</span>इस
                                राशि का आधा व्यवहार में, वास्तविक रूप में, कर काफी यथार्थवादी है, और प्राप्त करने की
                                संभावना भी पहले साल में 100% हो जाता है।<br><br> <span
                                    style="color:#4cd964">***</span>लेकिन "दोहराएँ" समारोह के साथ, ETH 20,000 करने की
                                क्षमता प्रति वर्ष (और प्रयोग में नहीं संदर्भ के लिए धन्यवाद) यह 100% करने के लिए
                                DOUBLEWAY के प्रत्येक सदस्य के लिए जाता है।<br><br> </div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_5.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>5. आगे क्या? हर महीने दोहराया।</h3>
                            <h4></h4>
                            <div class="step-detail-description">यह 4 संदर्भ दूसरी पंक्ति + 2 संदर्भ तीसरी लाइन + 8
                                संदर्भ चौथी लाइन और इतने = 3 संदर्भों पर खुद के द्वारा आमंत्रित 2 संदर्भ की एक संरचना
                                पैदा कर दी है, और पहले से ही लगभग 16 से भी अधिक ETH प्राप्त हुआ है साल, तो क्या हुआ? एक
                                एक बार केवल पैसे के लिए और है कि यह क्या है?<br><br>अंत में, पैसे आप के लिए आ रहा बंद हो
                                जाता है और सभी आय संरचना में तल्लीन। और स्तर के बार-बार खरीद की लागत अतुलनीय लाभ कि पहले
                                से ही प्राप्त हुआ है की तुलना में सस्ता है, और यदि आप शुरू से ही सब कुछ दोहराने फिर से
                                प्राप्त कर सकते हैं। और पहले से ही यह इतना किसी को भी आमंत्रित करने की कोई जरूरत, संदर्भ
                                होते हैं। इसलिए, फिर से सभी स्तरों खरीदते हैं, पहले के साथ शुरू। और इसलिए, हर दो महीने
                                में, वापस प्राप्त राशि हर समय उठाया।<br><br>सभी संदर्भ हर दो महीने में कोई स्तरों
                                पुनर्खरीद आप एक ही पंक्ति के सभी संदर्भ के लिए एक "प्रवेश द्वार" बनने के
                                लिए।<br><br>इसलिए, कम लोगों को, अधिक से अधिक अपने लाभ को उनकी संरचना में रहते
                                हैं।<br><br>काम के सिद्धांत पैरा 4.10 के समान है।<br><br>प्रत्येक स्तर पर 64 दिनों तक
                                रहता है। प्रत्येक एक्सटेंशन के स्तर एक ही समय में है। प्रत्येक स्तर पर अग्रिम में 64 दिन
                                के 2 अवधि की एक अधिकतम के लिए खरीदा जा सकता है। आप एक पंक्ति में अपने संदर्भ के स्तर 2
                                बार खरीदा है, तो आप यह सब पैसा मिलता है। सभी स्तरों से डेटा आसानी से एक व्यक्तिगत खाता
                                में प्रस्तुत किया।</div>
                        </div>
                    </div>
                    <div class="row step-detail-container">
                        <div class="col-2"><img src="images/dark/hiwall_6.svg" alt=""></div>
                        <div class="col-8 ">
                            <h3>6. को आकर्षित या संदर्भित किया इंतजार</h3>
                            <div class="step-detail-description">आप एक बड़ी संरचना है, जो पैसा हर दो महीने में प्राप्त
                                होगा निर्माण अगर केवल राजस्व बढ़ाने और अगर संदर्भ निष्क्रिय हो, क्या वारंटी अगर साइट पास
                                या यदि प्रशासन परियोजना का समर्थन करने के असफल नहीं हो ऐसा नहीं करता प्राप्त?</div>
                            <h4 style="margin-top:80px">6.1। Ethereum सुनिश्चित करना है कि अपने बटुए अवरुद्ध नहीं किया
                                जाएगा ..</h4>
                            <div class="step-detail-description">ethereum बटुए को अवरुद्ध करने blockchain की विशेषताओं
                                के कारण परिभाषा से असंभव है।<br><br>सिक्के के रिवर्स: यदि आप अपने बटुए का नियंत्रण खो,
                                कोई नहीं लौटा देगा।<br><br><span style="color:#ff3b30">हम कभी भी आपका निजी कुंजी करने के
                                    लिए कह।</span></div>
                            <h4 style="margin-top:80px">6.2। यह सुनिश्चित करना कि कोई प्रणाली में आपके खाते अवरुद्ध या
                                काट दिया गया है।</h4>
                            <div class="step-detail-img-container"><img class="step-detail-img"
                                    src="images/dark/3_3.svg" alt=""></div>
                            <div class="step-detail-description">ब्लॉक या अपहरण एक खाता परिभाषा से भी असंभव है। आपका
                                खाता वेबसाइट और सर्वर पर नहीं है, लेकिन स्मार्ट अनुबंध ethereum में मुख्य नेटवर्क। इसका
                                मतलब है कि जो लोग एक बुद्धिमान अनुबंध का विकास सहित किसी को भी, यह नहीं बदल सकते, यह सही
                                है या सिद्धांत में उसे निकाल दें।<br><br>साइट जानकारी एक पासवर्ड के बिना आपके खाते में
                                उपलब्ध है, और सार्वजनिक आंकड़े बुद्धिमान ethereum अनुबंध से साइट पर लोड किया गया।</div>
                            <h4 style="margin-top:80px">6.3। गारंटी नहीं है कि साइट की समाप्ति और प्रशासन के लापता होने
                                के खिलाफ की रक्षा की है।</h4>
                            <h5 style="margin-top:80px">6.3.1.</h5>
                            <div class="step-detail-description">स्मार्ट, अनुबंध और खाते साइट से स्वायत्त मौजूद हैं, और
                                यहां तक ​​कि करीब साइट प्रणाली में परिवर्तन नहीं कर सकते हैं, क्योंकि इसकी निकासी संदर्भ
                                बढ़ जाती है बार-बार अपने लाभ का प्रत्येक (ध्यान दें 4.9 में उपरोक्त उदाहरण देखें) ।
                            </div>
                            <h5 style="margin-top:80px">6.3.2.</h5>
                            <div class="step-detail-description">दुनिया में किसी भी प्रोग्रामर ही स्मार्ट अनुबंध का एक
                                दर्पण साइट बना सकते हैं।</div>
                            <h5 style="margin-top:80px">6.3.3.</h5>
                            <div class="step-detail-description">समूह के नेताओं (अपने upline और उसमें दोनों रूप में
                                उल्लेख) किसी विशेष कंप्यूटर के लिए एक साइट बना सकते हैं।<br><br>प्रत्येक सदस्य को भी इस
                                बात के लिए सुरक्षित है। अब सम्मिलित हों, जबकि सब कुछ बस शुरू!))</div>
                        </div>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>