<%-include('header');-%><main class="nk-pages">
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="overflow: hidden;background: #2a2a2a url(<%= host %>/images/dark/bg_faqeth.svg) center center repeat; background-size: contain;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">अक्सर पूछे जाने
                    वाले ethereum के बारे में प्रश्न</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">हम जानते हैं कि आप ethereum के संचालन के
                    बारे में सवाल हो सकते हैं।</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">जनरल सवाल</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            ethereum क्या है और क्यों यह प्रणाली में बिल्कुल प्रयोग किया जाता है?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum: cryptocurrency लोकप्रियता द्वारा दूसरे Bitcoin, और पहली,
                                                    लोकप्रियता द्वारा, बुद्धिमान अनुबंध है।<br><br>परियोजना सुविधाओं
                                                    बुद्धिमान ethereum अनुबंध:<br><br>1) आपका बटुआ ethereum अवरुद्ध नहीं
                                                    किया जा सकता या यहाँ तक कि सैद्धांतिक रूप से मोहित।<br><br>2)
                                                    CRYPTOHANDS प्रणाली: एक कोड मुख्य ethereum नेटवर्क में भरी हुई। यह
                                                    या हटाया नहीं जा सकता है कि नेटवर्क पर बदल दिया है। इसका मतलब है कि
                                                    अपने खाते और CRYPTOHANDS प्रणाली को हैक कर लिया नहीं जा सकता है या
                                                    अवरुद्ध, यहां तक ​​कि सिद्धांत रूप में।<br><br>3) कोड पूरी तरह से
                                                    खुला है, और दुनिया में किसी भी प्रोग्रामर सुनिश्चित कर सकते हैं कि
                                                    एल्गोरिथ्म इस तरह से काम करता है और अन्यथा नहीं।<br><br>4) सभी
                                                    लेन-देन सार्वजनिक और स्वचालित रूप से स्वीकार कर लिया है। फंड, अपने
                                                    बटुए पर सीधे जाने के तो आप इस बात की पुष्टि या अनुरोध भुगतान नहीं की
                                                    जरूरत है। मानव कारक पूरी तरह से बाहर रखा गया है।<br><br>5) यहां तक
                                                    ​​कि अगर साइट CRYPTOHANDS और प्रशासन गायब अस्तित्व समाप्त हो जाता,
                                                    बुद्धिमान CRYPTOHANDS अनुबंध ethereum नेटवर्क मौजूद रहेंगे, और इसका
                                                    मतलब है कि एक ही सिस्टम अपना काम जारी रहेगा। यहां तक ​​कि इस मामले
                                                    में, सभी खातों और भुगतान ठीक से कार्य कर रहे हैं। दुनिया में किसी भी
                                                    प्रोग्रामर ही स्मार्ट अनुबंध का एक दर्पण साइट बना सकते हैं कि पूरे
                                                    सिस्टम के साथ-साथ एक विशिष्ट समूह।<br><br>6) आप सब पर एक वेबसाइट के
                                                    बिना संदर्भ आमंत्रित कर सकते हैं। एक संदर्भ रजिस्टर करने के लिए, आप
                                                    इसे स्मार्ट अनुबंध 0.05 ETH और "इनपुट डेटा" क्षेत्र के पते पर भेजना
                                                    होगा अपने upline के पता दर्ज करें।<br><br>7) ethereum
                                                    cryptocurrencie आप दोहराएँ समारोह का उपयोग, बुद्धिमान अनुबंध के
                                                    माध्यम से सीधे विकेन्द्रीकरण और स्थानान्तरण बचत पक्षों के बीच की
                                                    सुविधा देता है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">कैसे ethereum बटुए बना सकते हैं और इसे का उपयोग शुरू
                                            करें?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ethereum पोर्टफोलियो: यह, है पहले दो बातें:<br><br>1) अपने सार्वजनिक
                                                    कुंजी - बिल्कुल ethereum बटुए की संख्या है। इसे छिपाने के लिए कोई
                                                    ज़रूरत नहीं।<br><br>2) आपके निजी कुंजी - हमेशा की तरह पासवर्ड एक
                                                    एनालॉग। अपने कर्मचारियों को है। वॉलेट के नियंत्रण खोने के एक निजी
                                                    कुंजी साधन की हानि। किसी ने उसके निजी कुंजी को जब्त कर लिया है, वह
                                                    अपने पैसे को जब्त कर लिया है और आप एक और निजी कुंजी करने के लिए इसे
                                                    बदल नहीं सकते। हम कभी नहीं निजी कुंजी पूछना<br><br>कई पर्स ethereum
                                                    रहे हैं। सुविधाओं और सबसे लोकप्रिय और उपयोग करने के लिए उनमें से
                                                    प्रत्येक के विस्तृत कर रहे हैं सरल।</p>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">1)MetaMask</span></b></p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_metamask.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i>लगाना</span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"> <i class="fab fa-chrome"></i> <i
                                                                class="fab fa-firefox"></i> <i class="fab fa-opera"></i>
                                                            </p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">की सिफारिश की</b> </p>
                                                            <p> <i
                                                                    class="fas fa-handshake faqeth_adv_icon_i"></i>CryptoHands
                                                                के साथ पूर्ण एकीकरण। पंजीकरण और 1 क्लिक में सभी स्तर
                                                                अतिरिक्त खरीद, सभी अतिरिक्त फ़ील्ड स्वचालित रूप से भर
                                                                रहे हैं।</p>
                                                            <p><i class="fas fa-key faqeth_adv_icon_i"></i>यह आप निर्यात
                                                                और निजी कुंजी है, जो साधन अपने बटुए ethereum पर पूरा
                                                                नियंत्रण बनाए रखने के आयात करने देता है।</p>
                                                            <p><i class="fas fa-desktop faqeth_adv_icon_i"></i>सुविधाजनक
                                                                और प्रयोग करने में आसान। यह पूरक सबसे लोकप्रिय बटुआ और
                                                                ब्राउज़र के लिए सुरक्षित है। आप को अक्षम या किसी भी समय
                                                                ब्राउज़र से इसे हटाने, सभी पहुँच विवरण शेष के साथ कर
                                                                सकते हैं।</p>
                                                            <p style="text-align: center;">विस्तृत<a href="."
                                                                    target="_blank">अक्सर पूछे जाने वाले MetaMask के
                                                                    बारे में प्रश्न</a> </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">2) ट्रस्ट बटुआ</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href=""><img
                                                                    src="images/dark/i_trustwallet.svg"
                                                                    style="width: auto; max-width: 100%; height: 64px;"></a>
                                                        </p>
                                                        <p style="text-align: center;"><b><span
                                                                    style="font-size: 1.2em; color: #888888;">
                                                                    <iclass="fas fa-mobile-alt"></i>मोबाइल अनुप्रयोग
                                                                </span></b></p>
                                                        <pstyle="text-align: center; text-align: center;font-size:
                                                            1.2em;color: #888888;"><i class="fab fa-apple"></i> <i
                                                                class="fab fa-android"></i></p>
                                                            <p style="text-align: center;"><i
                                                                    class="fas fa-check-circle"
                                                                    style="color: #4CD964;"></i> <b
                                                                    style="font-weight: 700;">की सिफारिश</b></p>
                                                            <p><i class="fas fa-handshake faqeth_adv_icon_i"></i>बनाया
                                                                Dapps ब्राउज़र के माध्यम से CryptoHands के साथ पूर्ण
                                                                एकीकरण।</p>
                                                            <p><i class="fas fa-th-large faqeth_adv_icon_i"></i>1 क्लिक
                                                                में बाद में स्तर होगा निर्मित ब्राउज़र और रजिस्टर सभी
                                                                खरीद के लिए लिंक Dapps संदर्भ पेस्ट करें।</p>
                                                            <p> <i class="fas fa-key faqeth_adv_icon_i"></i>यह आप निजी
                                                                कुंजी आयात करने के लिए अनुमति देता है। आप पहले से ही
                                                                ethereum बटुआ है, तो आप भी मोबाइल अनुप्रयोग का उपयोग कर
                                                                सकते हैं।</p>
                                                            <p><i class="fas fa-mobile-alt faqeth_adv_icon_i"></i>आवेदन
                                                                का उपयोग करने के लिए आसान है और एक सहज ज्ञान युक्त
                                                                अंतरफलक है।</p>
                                                            <p style="text-align: center;">विस्तृत<a href=""
                                                                    target="_blank">अक्सर पूछे गए प्रश्न ट्रस्ट बटुआ</a>
                                                            </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p style="margin-top: 64px; text-align: center;"><b><span
                                                                    style="font-size: 2em;">3) MyEtherWallet</span></b>
                                                        </p>
                                                        <p style="text-align: center;"><a href="">
                                                                <imgsrc="images
                                                                    /dark/i_myetherwallet.svg"style="width: auto; max-width: 100%; height: 64px;">
                                                            </a> </p>
                                                        <p style="text-align: center;"> <b><span
                                                                    style="font-size: 1.2em; color: #888888;"><i
                                                                        class="fas fa-desktop"></i> <i
                                                                        class="fas fa-mobile-alt"></i>वेब
                                                                    संस्करण</span></b> </p>
                                                        <p> <i class="fas fa-globe faqeth_adv_icon_i"></i>यह ऐड-ऑन और
                                                            अनुप्रयोगों स्थापित करने के लिए आवश्यक नहीं है। सभी लेन-देन
                                                            MyEtherWallet साइट से सीधे बना रहे हैं।</p>
                                                        <p> <i class="fas fa-edit faqeth_adv_icon_i"></i>सभी अतिरिक्त
                                                            सामान्य क्षेत्रों और मैन्युअल रूप से भर दिया। केवल उन्नत
                                                            उपयोगकर्ताओं के लिए।</p>
                                                        <p>विस्तृत<a href="" target="_blank">बार-बार MyEtherWallet के
                                                                बारे में पूछे जाने वाले प्रश्न</a> </p>
                                                    </div>
                                                </div>
                                                <div style="margin-top:40px">
                                                    <p> <span style="color:#ff3b30">महत्वपूर्ण!</span>आप एक सेवा में
                                                        ethereum बटुआ पंजीकृत किया है, तो आप हमेशा एक और के साथ उपयोग
                                                        करने के लिए जारी कर सकते हैं। उदाहरण के लिए यदि MetaMask के
                                                        माध्यम से ethereum दर्ज की गई है, तो आप MyEtherWallet के माध्यम
                                                        से और इसके विपरीत एक ही बटुआ उपयोग जारी रख सकते। आप सभी की
                                                        जरूरत: अपनी निजी कुंजी।</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">कैसे अपने बटुए ethereum निधि के लिए?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>सेवा साझा करने के माध्यम से (अनुशंसित):<br>1) साइट bestchange.com पर
                                                    जाएं। यह एक निगरानी के ज्यादातर देशों में भुगतान प्रणाली के अनुकूल
                                                    विनिमय दरों और सबसे लोकप्रिय बैंकों के साथ परीक्षण किया एक्सचेंजर्स
                                                    है।<br>2) उचित भुगतान प्रणाली जिसके माध्यम से आप ethereum के लिए
                                                    आदान-प्रदान करना चाहते हैं।<br>3) सबसे अच्छा दर के साथ सही एक्सचेंजर
                                                    का चयन करें।<br>4) का चयन किया एक्सचेंजर की साइट पर जाएं और सरल
                                                    निर्देशों का पालन। विनिमय आमतौर पर स्वत: हो सकता है और तुरंत पुष्टि
                                                    की है।<br>5) सुनिश्चित करें कि आप अपने बटुए ethereum धनराशि प्राप्त
                                                    हुई है।<br><br>नोट:<br>बैंक कार्ड एक्सचेंजर्स के साथ भुगतान एक पहली
                                                    बार के लिए कार्ड के सत्यापन का अनुरोध कर सकते हैं। आमतौर पर यह पेज
                                                    विनिमय के तल पर कार्ड की एक तस्वीर है। बाद के भुगतान तात्कालिक हो
                                                    जाएगा।<br>आप एक्सचेंजर के स्थल पर आपके कार्ड को सत्यापित नहीं करना
                                                    चाहते हैं, तो आपको पहले अपने बैंक कार्ड से तत्काल भुगतान की कोई अन्य
                                                    व्यवस्था के खाते पुनर्भरण कर सकते हैं (हीट एक्सचेंजर के माध्यम से
                                                    नहीं है, लेकिन भुगतान प्रणाली अपने आप में), और फिर करने के लिए इन
                                                    फंडों भेज एक और भुगतान प्रणाली सत्यापन के साथ ethereum
                                                    बटुआ।<br><br>के माध्यम से LocalEthereum सेवा:<br>1)
                                                    localethereum.com पर जाएं। यह खरीदारी सेवा है<br>ethereum और किसी भी
                                                    भुगतान प्रणाली के माध्यम से बिक्री।<br>2) रजिस्टर। यह तेज़ है।<br>3)
                                                    अपने देश के लिए उपयुक्त विनिमय चुनें।<br>4) सरल सेवा का पालन
                                                    करें।<br>5) सुनिश्चित करें कि आप धनराशि प्राप्त हुई है
                                                    आपके<br>ethereum बटुआ।</p>
                                                <p style="text-align: center; font-size: 48px; color: #888888;"> <i
                                                        class="fab fa-bitcoin"></i> <i class="fab fa-ethereum"></i> <i
                                                        class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i>
                                                    <i class="fab fa-paypal"></i> <i class="fab fa-apple-pay"></i> <i
                                                        class="fab fa-google-wallet"></i> <i class="fab fa-stripe"></i>
                                                    <i class="fab fa-alipay"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-4">कैसे बटुआ ethereum अन्य भुगतान प्रणाली से पैसे
                                            निकालने के लिए?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-4" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>ethereum की वापसी, रिचार्जिंग रूप में ही है आप केवल दिशा विपरीत
                                                    विनिमय चयन करना चाहिए।<br>नोट। bestchange.com सेवा लोकप्रिय बैंकों
                                                    के लिए किसी भी राशि बैंक कार्ड निकालने के लिए, यहां तक ​​कि तुरंत और
                                                    स्वचालित रूप से पर्याप्त है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-5">"गैस", "गैस कीमत" (GWEI) और "गैस सीमा" क्या है?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-5" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>गैस (गैस) - यह गणना की गणना और एक कार्य या विशिष्ट लेनदेन के लिए
                                                    शुल्क का भुगतान करने के लिए इस्तेमाल इकाई है।<br><br>पेट्रोल मूल्य
                                                    (GWEI) - कीमत है कि खनिक की गणना के लिए भुगतान करना होगा। बुनियादी
                                                    सिद्धांत एक ही रहता है: आप और अधिक भुगतान करते हैं, लेन-देन के लिए
                                                    तेजी से हो जाएगा। पेट्रोल की मौजूदा कीमत यहां पाया जा सकता:
                                                    https://etherscan.io/gastracker।<br><br>यदि आप एक छोटे पेट्रोल की
                                                    कीमतों में डाल दिया है, तो लेन-देन नेटवर्क ethereum पर लोड जब तक कम
                                                    हो जाएगा। इसमें कई घंटे लग सकते हैं।<br><br>गैस सीमा - गैस की अधिकतम
                                                    राशि है कि एक सौदे के लिए भुगतान कर सकते हैं। गैस = 400000. की
                                                    सिफारिश की सीमा मूल्य कुछ अनुप्रयोगों में, डिफ़ॉल्ट मान सीमा गैस =
                                                    1000000। इसका मतलब यह नहीं कि आप प्रति लेन-देन अधिक शुल्क लिया
                                                    जाएगा। कार्यालय, किसी भी मामले में, वे फिर से संतुलन खर्च नहीं की
                                                    गई।<br><br>आप गैस का एक छोटा सा सीमा सेट करते हैं, लेन-देन और धन
                                                    संतुलन को वापस नहीं होगा, लेकिन आयोग इस मामले में आप अभी भी शुल्क
                                                    लिया जाएगा का हिस्सा है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-6">आप लेन-देन क्यों लंबित हैं?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-6" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>सबसे अधिक संभावना कारण: गैस (GWEI) की कम कीमत। गैस की मौजूदा कीमत
                                                    यहां पाया जा सकता: https://etherscan.io/gastracker</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-7">क्यों लेन-देन को खारिज कर दिया?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-7" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>सबसे संभावित कारण गैस की सीमा का एक छोटा सा मूल्य है। हम 400,000 गैस
                                                    की एक सीमा निर्धारित करने की अनुशंसा।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-8">क्यों enviarl लेन-देन "अपर्याप्त कोष" प्रकट होता है,
                                            धन एक मार्जिन के साथ पर्याप्त हैं तो क्या होगा?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-67-8" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>कुछ पर्स ethereum, उदाहरण के लिए, ट्रस्ट वॉलेट, सीमा गैस 1000000
                                                    डिफ़ॉल्ट रूप से सेट। याद रखें इसका मतलब यह नहीं है कि आप अधिक शुल्क
                                                    लिया जाएगा, इस का मतलब है कि वहाँ बटुए में आरक्षण होना चाहिए। 400000
                                                    के लिए इस राशि को कम करने की कोशिश करें।<br><br>हैं, सब के बाद, अभी
                                                    भी लिखते हैं अपर्याप्त कोष सामान्य से अधिक नेटवर्क ethereum अधिक
                                                    माल, देखते हैं कि, तो, शायद, उदाहरण के लिए, 20 या 40 GWEI GWEI के
                                                    लिए (सामान्य मूल्य 5 GWEI है)। इस मामले में, आप नेटवर्क पर लोड कम
                                                    करने के लिए उम्मीद कर सकते हैं। आप (कुछ के लिए) को कम कर सकते गैस
                                                    खुद की कीमत है, लेकिन फिर लेन-देन में कई घंटे तक नहीं बल्कि कई सेकंड
                                                    से अधिक समय लग जाएगा। तुम भी, बटुए के लिए कुछ राशि जोड़ सकते हैं तो
                                                    यह एक सौदे बनाने के लिए पर्याप्त था।<br><br>कृपया ध्यान दें कि आयोग
                                                    का अनुमान है कि लेन-देन में लिखा गया था शाही आयोग नहीं है, लेकिन
                                                    इसकी अधिकतम संभव मूल्य अगर पूरे सीमा समाप्त गैस है। वास्तविक लेन-देन
                                                    दर बहुत कम हो जाएगा।</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main> <%- include('footer'); -%>