<%- include('header'); -%>

<main class="nk-pages">


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Términos">
                    नियम और शर्तें</h2>

            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <p>
                            सेवा की शर्तें <br>
                            <br>
                            -----
                            <br>
                            <br>
                            सामान्य <br>
                            <br>
                            HUMANS द्वारा HUMANS द्वारा बनाई गई DOUBLEHANDS परियोजना. <br>
                            <br>
                            किसके द्वारा? <br>
                            उन लोगों द्वारा जो पहले से ही ऐसी परियोजनाएँ बना चुके हैं जिन्हें आप पूरी तरह से जानते हैं
                            और बहुत सफल रहे हैं। जो लोग बहुत पहले करोड़पति बन गए थे। इंसानों के लिए, जो लोगों के लिए कुछ
                            अच्छा करने का सपना देखते थे। कुछ अच्छा जो पिछले अनुभव से सभी को एक साथ लाएगा। कुछ जो अवरुद्ध
                            या नष्ट नहीं होगा। कुछ ऐसा जो प्रत्येक प्रतिभागी को धन और प्रचुरता देगा। एक बार नहीं, बल्कि
                            कई सालों तक। और क्रिप्टोक्यूरेंसी के आगमन के साथ, वह अवसर आखिरकार दिखाई दिया। <br>
                            <br>
                            किसके लिए? <br>
                            कुछ करने वाले लोगों के लिए। उन लोगों के लिए जो बहुतायत में रहते हैं
                             एक लंबे समय के लिए और भी अधिक चाहते हैं। और जो लोग अभी शुरुआत कर रहे हैं
                             भौतिक कल्याण में जीवन का मार्ग। उन लोगों के लिए जो तैयार हैं
                             अपने प्रियजनों के साथ कुछ अच्छा साझा करें। उन लोगों के लिए जो प्रगति करते हैं और नहीं जानते हैं
                             बंद करो। अमेरिका के सभी के लिए <br>
                            <br>
                            यह कौन सी परियोजना है? <br>
                            DOUBLEHANDS प्रोजेक्ट: स्मार्ट खाता, जो किसी से संबंधित नहीं है। यह है
                             Ethereum cryptocurrency की विशिष्टता। स्मार्ट अनुबंध: यह एक एल्गोरिथ्म है
                             उन क्रिप्टोकरेंसी का वितरण, जो एथेरियम नेटवर्क पर अपलोड किए जाने के बाद, अब नहीं हैं
                             आप संपादित, संशोधित या हटा सकते हैं। <br>
                            <br>
                            DOUBLEHANDS स्मार्ट कॉंट्रेक्ट Ethereum cryptocurrency नेटवर्क और यहां तक कि, में अपलोड किया गया है
                             सिद्धांत, कोई भी इसे बदल या हटा नहीं सकता है, जिसमें इसके निर्माता भी शामिल हैं। इसलिए,
                             कोई भी और कुछ भी सिस्टम के काम को रोक नहीं सकता है यहां तक कि इस घटना में भी
                             साइट बंद हो जाती है और प्रबंधन गायब हो जाता है। DOUBLEHANDS सिस्टम से संबंधित नहीं है
                             कोई भी और यह साइट की परवाह किए बिना काम करता है। <br>
                            <br>
                            प्रत्येक भागीदार का खाता एक स्मार्ट अनुबंध में है, लेकिन साइट पर नहीं है,
                             कारण कि न तो साइट का प्रशासन इसे ब्लॉक कर सकता है और न ही इसे खत्म कर सकता है। साइट
                             आपके खाते (पासवर्ड के बिना) में DOUBLEHANDS वेबसाइट केवल प्रत्येक के लिए जानकारी दिखाती है
                             एथेरम स्मार्ट अनुबंध से लिया गया खाता। इसलिए, यह असंभव है
                             एक खाता हैक करें और एक सदस्य के बटुए को बदल दें। <br>
                            <br>
                            इस प्रणाली के रचनाकारों के पास प्रत्येक सदस्य के समान खाते हैं
                             बिना किसी विशेष विशेषाधिकार के। परियोजना के लेखक बनाने के लिए बहुत पसंद कर रहे हैं
                             इंटरनेट से अलग-अलग परियोजनाएं और आय, न केवल वित्त के क्षेत्र में,
                             लेकिन कई अन्य में। इसलिए, DOUBLEHANDS एक परियोजना है जिसमें इसके निर्माता हैं
                             कृपया के साथ सहयोग करें। इसलिए परियोजना कई अन्य लोगों को पसंद आ सकती है
                             लोग। <br>
                            <br>
                            -----
                            <br>
                            <br>
                            देयता की अस्वीकृति <br>
                            <br>
                            साइट का प्रशासन DOUBLEHANDS परियोजना का नहीं है और इसके पास नहीं है
                             प्रतिभागियों से पैसे निकालने की तकनीकी क्षमता।<br>
                            <br>
                            सभी गणना प्रतिभागियों के बीच सीधे एक के माध्यम से की जाती हैं
                             स्मार्ट अनुबंध। <br>
                            <br>
                            एक स्मार्ट कॉन्ट्रैक्ट, जो किसी के पास नहीं है, वह अलग-अलग नहीं हैं
                             भागीदार, लेकिन प्रतिभागियों के बीच धन को तुरंत पुनर्निर्देशित करता है
                             पूर्वनिर्मित एल्गोरिथ्म के अनुसार। <br>
                            <br>
                            के संचालन के लिए DOUBLEHANDS साइट प्रशासन जिम्मेदार नहीं है
                             स्मार्ट अनुबंध, साथ ही कोड और कार्य में संभावित त्रुटियां
                             स्मार्ट अनुबंध, प्रतिभागियों द्वारा धन की संभावित हानि के लिए
                             प्रणाली का। <br>
                            <br>
                            शब्द "कमाई", "आय" और साइट पर समान परिभाषाएं हैं
                             प्रकृति में विज्ञापन और एक सार्वजनिक पेशकश नहीं है। <br>
                            <br>
                            सभी स्थानान्तरण स्वैच्छिक और स्वतंत्र हैं। <br>
                            <br>
                            DOUBLEHANDS SITE एक परियोजना नहीं है, लेकिन केवल सार्वजनिक जानकारी ली गई है
                             DOUBLEHANDS स्मार्ट अनुबंध, जो साइट के प्रशासन से संबंधित नहीं है
                             DOUBLEHADS। <br>
                            <br>
                            साइट पर प्रतिभागी का व्यक्तिगत खाता बिना सभी के लिए सुलभ है
                             पासवर्ड और प्रतिभागियों की किसी भी व्यक्तिगत जानकारी की पुष्टि नहीं करते हैं
                             प्रणाली। व्यक्तिगत खाता प्रत्येक प्रतिभागी के आंकड़ों को दर्शाता है
                             सिस्टम, DOUBLEHANDS स्मार्ट अनुबंध से लिया गया। <br>
                            <br>
                            -----
                            <br>
                            <br>
                            संपर्क जानकारी <br>
                            <br>
                            सिस्टम और नियमों और समझौतों के बारे में सवाल जो आप मेल से पूछ सकते हैं
                             इलेक्ट्रोनिक @doublehands.io.


                        </p>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>


</main>
<%- include('footer'); -%>